{% macro display_flash_message(message, object_string) %}
	{% if message == 'error_delete' %}
	<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>{% trans "Error" %}</strong> {{ "Could not delete selected %object_string%"|trans|replace({'%object_string%': object_string|capitalize})|raw }}
	</div>
	{% elseif message == 'created' %}
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ "%object_string% successfully created."|trans|replace({'%object_string%': object_string|capitalize})|raw }}
	</div>
	{% elseif message == 'updated' %}
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ "%object_string% successfully updated"|trans|replace({'%object_string%': object_string|capitalize})|raw }}
	</div>
	{% elseif message == 'deleted' %}
	<div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ "%object_string% successfully removed"|trans|replace({'%object_string%': object_string|capitalize})|raw }}
	</div>
	{% endif %}

{% endmacro display_flash_message %}

{% macro alert(type, message, hide = false) %}
    <div class="alert alert-{{ type }} {% if hide %}d-none{% endif %}" role="alert">
        <div class="alert-icon">
            {% if type == "primary" or type == "secondary" or type == "info" %}
                <i class="align-middle" data-feather="info"></i>
            {% elseif type == "success" %}
                <i class="align-middle" data-feather="check-circle"></i>
            {% elseif type == "danger" or type == "warning" %}
                <i class="align-middle" data-feather="alert-triangle"></i>
            {% endif %}
        </div>
        <div class="alert-message">
            {{ message }}
        </div>
    </div>
{% endmacro %}



{% macro pager_count(item_count) %}

	{{ item_count }}
	{% if item_count == 1 %}{% trans "result" %}
	{% else %}{% trans "results" %}{% endif %}

{% endmacro %}

{% macro customer_contact(customer_contact, settings) %}
	<address>
		<strong>{{ customer_contact.get_display_name() }} - {{ customer_contact.get_identifier() }}</strong><br />
		{% if customer_contact.alias != '' and customer_contact.get_display_name() != customer_contact.alias %}
			(<i>{{ customer_contact.alias }}</i>) <br />
		{% endif %}

		{{ customer_contact.street }} {{ customer_contact.housenumber }}<br>
		{{ customer_contact.zipcode }} {{ customer_contact.city }}<br>
		{{ attribute(customer_contact.country, 'text_' ~ env.language.name_short ~ '_name') }}<br />
		{% if customer_contact.vat != '' %}{{ customer_contact.get_vat_formatted() }}<br />{% endif %}
		<abbr title="{% trans "Phone" %}">P:</abbr> {{ customer_contact.phone }} {% if customer_contact.fax != '' %}<abbr title="{% trans "Fax" %}">F:</abbr> {{ customer_contact.fax }}{% endif %}		<br />
		<abbr title="{% trans "Email" %}">E:</abbr> <a href="mailto:{{ customer_contact.email }}">{{ customer_contact.email }}</a>
		{% if settings.enable_click_post %}
			<br />{% trans "Invoice via" %}: <strong>{{ customer_contact.invoice_method.name }}</strong>
		{% endif %}

		{% if customer_contact.reference != '' %}
			<br />
			{% trans "Invoice reference:" %} {{ customer_contact.reference }}
		{% endif %}
	</address>
{% endmacro %}
