{% macro display_flash_message(message, object_string) %}
	{% if message == 'error_delete' %}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>{% trans "Error" %}</strong> {{ "Could not delete selected %object_string%"|trans|replace({'%object_string%': object_string|capitalize})|raw }}
  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% elseif message == 'created' %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{{ "%object_string% successfully created."|trans|replace({'%object_string%': object_string|capitalize})|raw }}
  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% elseif message == 'updated' %}
	<div class="alert alert-success alert-dismissible" role="alert">
		{{ "%object_string% successfully updated"|trans|replace({'%object_string%': object_string|capitalize})|raw }}
  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% elseif message == 'deleted' %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		{{ "%object_string% successfully removed"|trans|replace({'%object_string%': object_string|capitalize})|raw }}
  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}

{% endmacro display_flash_message %}

{% macro alert(type, message, hide = false) %}
<div class="row offset-md-2">
	<div class="col-md-10">
		<div class="alert alert-{{ type }} {% if hide %}d-none{% endif %} d-flex align-items-center" role="alert">
			<div>
				{% if type == "primary" or type == "secondary" or type == "info" %}
					<i data-feather="info" style="width:24px;height:24px;"></i>
				{% elseif type == "success" %}
					<i data-feather="check-circle" style="width:24px;height:24px;"></i>
				{% elseif type == "danger" or type == "warning" %}
					<i data-feather="alert-triangle" style="width:24px;height:24px;"></i>
				{% endif %}
			</div>
			<div class="ms-1">
				{{ message|raw }}
			</div>
		</div>
	</div>
</div>
{% endmacro %}



{% macro pager_count(item_count) %}

	{{ item_count }}
	{% if item_count == 1 %}{% trans "result" %}
	{% else %}{% trans "results" %}{% endif %}

{% endmacro %}

{% macro customer_contact(customer_contact, settings) %}
	<address>
		<strong>{{ customer_contact.get_display_name() }} - {{ customer_contact.get_identifier() }}</strong><br />
		{% if customer_contact.alias != '' and customer_contact.get_display_name() != customer_contact.alias %}
			(<i>{{ customer_contact.alias }}</i>) <br />
		{% endif %}

		{{ customer_contact.street }} {{ customer_contact.housenumber }}<br>
		{{ customer_contact.zipcode }} {{ customer_contact.city }}<br>
		{{ attribute(customer_contact.country, 'text_' ~ env.language.name_short ~ '_name') }}<br />
		{% if customer_contact.vat != '' %}{{ customer_contact.get_vat_formatted() }}<br />{% endif %}
		<abbr title="{% trans "Phone" %}">P:</abbr> {{ customer_contact.phone }} {% if customer_contact.fax != '' %}<abbr title="{% trans "Fax" %}">F:</abbr> {{ customer_contact.fax }}{% endif %}		<br />
		<abbr title="{% trans "Email" %}">E:</abbr> <a href="mailto:{{ customer_contact.email }}">{{ customer_contact.email }}</a>
		{% if settings.enable_click_post %}
			<br />{% trans "Invoice via" %}: <strong>{{ customer_contact.invoice_method.name }}</strong>
		{% endif %}

		{% if customer_contact.reference != '' %}
			<br />
			{% trans "Invoice reference:" %} {{ customer_contact.reference }}
		{% endif %}
	</address>
{% endmacro %}
