{% extends "_default/layout.base.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block content %}
	{% if action == 'edit' %}

		{% include 'sales/invoice/queue/edit.twig' %}

	{% elseif action == 'create_step1' %}

		{% include 'sales/invoice/queue/create/step1.twig' %}

	{% elseif action == 'create_step2' %}

		{% include 'sales/invoice/queue/create/step2.twig' %}

	{% elseif action == 'create_step3' %}

		{% include 'sales/invoice/queue/create/step3.twig' %}

	{% else %}

		<div class="row">
			<div class="col">
				<h4>{% trans "Invoice Queue" %}</h4>
			</div>
		</div>

		<div class="card mb-3">
			<div class="card-header">
				{% trans "Filter" %}
			</div>
			<div class="card-body">
				{% set conditions = pager.get_conditions() %}

				<form method="post" action="/sales/invoice/queue">
					<div class="row mb-1 mb-md-3">
						<label class="col-2 col-form-label text-end">{% trans "Search" %}</label>
						<div class="col-9">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>
					<div class="row mb-1 mb-md-3">
						<label class="col-2 col-form-label text-end">{% trans "Status" %}</label>
						<div class="col-9">
							<select name="status" class="form-control">
								<option value=""> - - - </option>
								<option value="unprocessed"{% if pager.has_condition('processed_to_invoice_item_id', 'IS', '') %} selected{% endif %}>{% trans "Unprocessed" %}</option>
								<option value="processed"{% if pager.has_condition('processed_to_invoice_item_id', 'IS NOT', '') %} selected{% endif %}>{% trans "Processed" %}</option>
							</select>
						</div>
					</div>
					<div class="row mb-1 mb-md-3">
						<div class="col-3 offset-2">
							<button class="btn btn-primary">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% if env.sticky_session.message is defined %}
			{{ base.display_flash_message(env.session_sticky.message, 'invoice queue') }}
		{% endif %}

		<div class="card">
			<div class="card-header">
				<div class="pull-right">
					<a href="/sales/invoice/queue?action=create_step1" title="">
						<i data-feather="plus"></i>
						{% trans "Add item" %}
					</a>
					-
					<a href="/sales/invoice/queue/batch">
						<i data-feather="play-circle"></i>
						{% trans "Batch process" %}
					</a>
				</div>
				{{ base.pager_count(pager.item_count) }}
			</div>
			<div class="card-body">
			{% for invoice_queue in pager.items %}
				{% if loop.first %}
					<table class="table table-hover table-striped table-condensed table-responsive">
					<thead>
						<tr>
							<th>{{ pager.create_header('ID'|trans, 'id')|raw }}</th>
							<th>{{ pager.create_header('Processed'|trans, 'processed_to_invoice_item_id')|raw }}</th>
							<th>{{ pager.create_header('Customer'|trans, 'customer.company')|raw }}</th>
							<th>{{ pager.create_header('Description'|trans, 'description')|raw }}</th>
							<th>{{ pager.create_header('Qty'|trans, 'qty')|raw }}</th>
							<th>{{ pager.create_header('Price'|trans, 'price')|raw }}</th>
							<th width="30">&nbsp;</th>
							<th width="30">&nbsp;</th>
							<th width="30">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
				{% endif %}

				<tr>
					<td>{{ invoice_queue.id }}</td>
					<td>
						{% if not invoice_queue.is_processed() %}
							<span class="glyphicon glyphicon-remove"></span>
						{% else %}
							<span class="glyphicon glyphicon-ok"></span>
						{% endif %}
					</td>
					<td>{{ invoice_queue.customer.get_display_name() }}</td>
					<td>{{ invoice_queue.description }}</td>
					<td>{{ invoice_queue.qty }}</td>
					<td>&euro;{{ invoice_queue.get_price_excl()|number_format }}</td>
					<td>
						<a href="/sales/invoice/queue?action=edit&id={{ invoice_queue.id }}" title="">
							<i data-feather="edit"></i>
						</a>
					</td>
					<td>
						<a href="/sales/invoice/queue?action=delete&id={{ invoice_queue.id }}" title="" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure you want to remove this invoice queue item?" %}">
							<i data-feather="trash-2"></i>
						</a>
					</td>
					<td>
					{% if not invoice_queue.is_processed() %}
						<a href="/sales/invoice?action=create_step1&customer_id={{ invoice_queue.customer.id }}&customer_contact_id={{ invoice_queue.customer_contact.id }}">
							<i data-feather="play-circle"></i>
						</a>
					{% endif %}
					</td>
				</tr>

				{% if loop.last %}
					</tbody>
					</table>
					{{ pager.links|raw }}
				{% endif %}

			{% else %}

				<p><em>{% trans "No invoice queue items found." %}</em></p>

			{% endfor %}
			</div>
		</div>

	{% endif %}

{% endblock content %}

{% block javascript %}

	{% if action == 'create_step1' %}
		<script type="text/javascript" src="/bloodhound.min.js"></script>
		<script type="text/javascript" src="/typeahead.min.js"></script>
		<script type="text/javascript">

			var customers = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: '/administrative/customer?action=ajax_search&search=%QUERY'
			});

			customers.initialize();

			$('#autocomplete_customer').typeahead({
				hint: true,
				highlight: true,
				minLength: 2
			},{
				name:	'customer',
				displayKey: 'value',
				source:	customers.ttAdapter()
			});
			$('#autocomplete_customer').on('typeahead:selected typeahead:autocompleted', function(e,data) {
				$('#customer_id').val(data.id);
			});
		</script>
	{% elseif action == 'create_step3' %}
		<script type="text/javascript" src="/handlebars/handlebars.js"></script>
	{% endif %}

{% endblock javascript %}

{% block head %}

	{% if action == 'create_step1' %}
		<link rel="stylesheet" type="text/css" href="/typeahead.css">
	{% endif %}

{% endblock head %}
