{% extends "_default/layout.base.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block content %}
	{% if action == 'batch_process' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/sales/invoice/queue" title="">{% trans "Invoice queue" %}</a></li>
			<li class="active">{% trans "Batch process" %}</li>
		</ol>


		{% for customer_contact in customer_contacts %}
			{% if loop.first %}
				<form class="form-horizontal" method="post" action="/sales/invoice/queue?action=process_batch">
				<table class="table table-alternate table-hover">
					<thead>
						<tr>
							<th width="120"><input type="checkbox" class="original2" data-group-cls="btn-group-xs" onchange="toggle_all();"></th>
							<th>{% trans "Customer" %}</th>
							<th>{% trans "Customer contact " %}</th>
							<th>{% trans "Number of items" %}</th>
							<th class="text-right">{% trans "Total price" %} ({% trans "excl VAT" %})</th>
						</tr>
					</thead>
					<tbody>

			{% endif %}

			{% set invoice_queue = customer_contact.get_outstanding_invoice_queue() %}
			{% set total_price = 0 %}
			{% for invoice_queue_item in invoice_queue %}
				{% set total_price = total_price + invoice_queue_item.price*invoice_queue_item.qty %}
			{% endfor %}

			<tr data-price="{{ total_price }}">
				<td><input type="checkbox" data-group-cls="btn-group-xs" name="customer_contact[{{ customer_contact.id }}]" onchange="calculate_sum();"></td>
				<td>
					<a href="/administrative/customer?action=edit&id={{ customer_contact.customer_id }}">
						{{ customer_contact.customer.get_display_name() }}
					</a>
				</td>
				<td>
					{{ customer_contact.get_display_name() }}
				</td>
				<td>
					{{ invoice_queue|length }}</td>
				</td>
				<td class="text-right">
					&euro;{{ total_price }}
				</td>
			</tr>

			{% if loop.last %}
					</tbody>
				</table>

				<div class="well">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Total amount" %}</label>
						<div class="col-xs-9">
							<p class="form-control-static" id="total_amount">&euro;0</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Expiration date" %}</label>
						<div class="col-xs-9">
							<select name="invoice[expiration_date]" class="form-control">
								<option value="+14 days">2 {% trans "weeks" %}</option>
								<option value="+1 month" selected>1 {% trans "month" %}</option>
								<option value="+60 days">60 {% trans "days" %}</option>
								<option value="+90 days">90 {% trans "days" %}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Send invoice" %}</label>
						<div class="col-xs-9">
							<input type="checkbox" data-group-cls="btn-group-xs" name="send_invoice" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-9 col-xs-offset-3">
							<button type="submit" class="btn btn-primary">
								{% trans "Create invoices" %}
							</button>
						</div>
					</div>

				</div>
				</form>
			{% endif %}
		{% else %}
			<div class="alert alert-info">{% trans "There are no invoice queue items to be invoiced" %}</div>
		{% endfor %}




		<script type="text/javascript">
			function toggle_all() {
				if ($('th input[type=checkbox]').is(':checked')) {
					$('td input[type=checkbox]').prop('checked', true);
				} else {
					$('td input[type=checkbox]').prop('checked', false);
				}
			}

			function calculate_sum() {
				total = 0;
				$('tbody tr').each(function() {
					if ( $(this).find('input[type=checkbox]').is(':checked') ){
						total += Math.round( parseFloat( $(this).data('price') ) * 100) / 100;
					}
				});
				$('#total_amount').html('&euro;' + Math.round(total*100)/100 );
			}
		</script>

	{% elseif action == 'edit' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/sales/invoice/queue" title="">{% trans "Invoice queue" %}</a></li>
			<li class="active">{% trans "Edit invoice queue item" %}</li>
		</ol>

		{% if env.sticky_session.message is defined %}
			{{ base.display_flash_message(env.sticky_session.message, 'invoice queue') }}
		{% endif %}

		{% include 'sales/invoice/queue/modal.customer_contacts.twig' with {'id': 'change_customer_contact', 'modal_size': 'lg', 'invoice_queue_group': invoice_queue } %}
		{% include 'administrative/customer/modal.customer_contact.twig' with {'id': 'manage-customer-contact','redirect': '/sales/invoice/queue?action=edit&id=' ~ invoice_queue.id, 'modal_size': 'lg'} %}


		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Invoice queue item details" %}
			</div>
			<div class="panel-body">
				<form method="post" action="/sales/invoice/queue?action=edit&id={{ invoice_queue.id }}" class="form-horizontal form-condensed">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Customer" %}</label>
						<div class="col-xs-6">
							<p class="form-control-static">
								<a href="/administrative/customer/detail?id={{ invoice_queue.customer_id }}">
									{{ invoice_queue.customer.get_display_name() }}
								</a>
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Invoice contact" %}</label>
						<div class="col-xs-6">
							<p class="form-control-static">
								{{ invoice_queue.customer_contact.get_display_name() }}
								<a href="#change_customer_contact" data-toggle="modal">
									{% trans "Change customer contact" %}
								</a> /
								<a href="#manage-customer-contact" data-toggle="modal" data-customer-contact-id="{{ invoice_queue.customer_contact_id }}">
									{% trans "Modify customer contact" %}
								</a>
							</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Product definitin" %}</label>
						<div class="col-xs-9">
							<select name="invoice_queue[product_type_id]" class="form-control">
								{% for product_type in product_types %}
									<option value="{{ product_type.id }}" {% if invoice_queue.product_type_id == product_type.id %}selected{% endif %}>{{ product_type.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Description" %}</label>
						<div class="col-xs-6">
							<textarea class="form-control autogrow" name="invoice_queue[description]">{{ invoice_queue.description }}</textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Qty" %}</label>
						<div class="col-xs-4">
							<input class="form-control" name="invoice_queue[qty]" value="{{ invoice_queue.qty }}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Price excl VAT" %}</label>
						<div class="col-xs-4">
							<div class="input-group">
								<span class="input-group-addon">&euro;</span>
								<input type="text" name="invoice_queue[price]" class="form-control" value="{{ invoice_queue.price }}" >
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "VAT" %}</label>
						<div class="col-xs-4">
							<select name="invoice_queue[vat]" class="form-control">
							{% for vat_rate in vat_rates %}
								<option value="{{ vat_rate.vat }}"{% if vat_rate.vat_rate_id == invoice_queue.vat_rate_id %} selected{% endif %}>{{ vat_rate.vat }}%</option>
							{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Save" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	{% elseif action == 'create_step1' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/sales/invoice/queue" title="">{% trans "Invoice queue" %}</a></li>
			<li>{% trans "Create invoice queue item" %}</li>
			<li class="active">{% trans "Select customer" %}</li>
		</ol>

		{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "Please select a customer." %}
		</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Select customer" %}
			</div>
			<div class="panel-body">
				<form method="post" action="/sales/invoice/queue?action=create_step1" class="form-horizontal" id="invoice-queue-create-step1">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Customer" %}</label>
						<div class="col-xs-6">
							<input type="text" id="autocomplete_customer" name="customer" class="form-control typeahead" value="{% if customer is defined %}{{ customer.firstname }} {{ customer.lastname }}{% endif %}" placeholder="{% trans "Search customer..." %}">
							<input type="hidden" id="customer_id" name="customer_id" value="{% if customer is defined %}{{ customer.id }}{% endif %}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Next" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	{% elseif action == 'create_step2' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/sales/invoice/queue" title="">{% trans "Invoice queue" %}</a></li>
			<li>{% trans "Create invoice queue item" %}</li>
			<li class="active">{% trans "Select invoice contact" %}</li>
		</ol>

		{% include 'administrative/customer/modal.customer_contact.twig' with {'id': 'manage-customer-contact'} %}

		{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "Please select an invoice contact." %}
		</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Select a invoice contact" %}
			</div>
			<div class="panel-body">

				<div class="row">
				{% for customer_contact in customer_contacts %}
					<div class="col-xs-3 customer_contact" id="customer-contact-{{ customer_contact.id }}">
						<div class="panel panel-default">
							<div class="panel-body{% if customer_contacts|length == 1 %} bg-info{% endif %}">
								<div class="actions hide">
									<a href="#manage-customer-contact" data-toggle="modal" data-customer-id="{{ customer.id }}" data-customer-contact-id="{{ customer_contact.id }}">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
									<a href="javascript:void(0);" onclick="delete_contact({{ customer_contact.id }})">
										<span class="glyphicon glyphicon-remove"></span>
									</a>

								</div>

								{% if customer_contact.company != '' %}{{ customer_contact.company }}<br>{% endif %}
								{{ customer_contact.firstname }} {{ customer_contact.lastname }}<br>
								{{ customer_contact.street }} {{ customer_contact.housenumber }}<br>
								{{ customer_contact.zipcode }} {{ customer_contact.city }}<br>
								{{ attribute(customer_contact.country, 'text_' ~ env.language.name_short ~ '_name') }}
								{% if customer_contact.vat != '' %}<br>{{ customer_contact.get_vat_formatted() }}{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
					<div class="col-xs-3">
						<div class="panel panel-default">
							<div class="panel-body text-center">
								<a class="btn btn-default" href="#manage-customer-contact" data-toggle="modal" data-customer-id="{{ customer.id }}" data-customer-contacts="{{ customer_contacts|length }}">
									{% trans "Create new" %}
								</a>
							</div>
						</div>
					</div>
				</div>

				<form method="post" action="/sales/invoice/queue?action=create_step2" id="invoice-queue-create-step2">
					<input type="hidden" name="customer_contact_id" value="{% if customer_contacts|length == 1 %}{{ customer_contacts.0.id }}{% endif %}">
					<button class="btn btn-primary">
						{% trans "Next" %}
					</button>
				</form>

			</div>
		</div>

		<script type="text/javascript">

			$('.customer_contact').on({
				mouseenter: function() {
					$(this).find('.actions').toggleClass('hide');
				},
				mouseleave: function() {
					$(this).find('.actions').toggleClass('hide');
				},
				click: function() {
					$('.customer_contact').find('.panel-body').removeClass('bg-info');
					$(this).find('.panel-body').first().addClass('bg-info');
					$('#invoice-queue-create-step2 input').val($(this).prop('id').replace('customer-contact-', ''));
				}
			});

			function delete_contact(id) {
				$.get('/sales/invoice/contact?action=delete&id=' + id, function(data) {
					if(data['status'] == 1) {
						$('#customer-contact-' + id).remove();
						$('#invoice-queue-create-step2 input').val('');
					} else {
						alert('Error deleting contact');
					}
				}, 'json');
			}

		</script>

	{% elseif action == 'create_step3' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/sales/invoice/queue" title="">{% trans "Invoice queue" %}</a></li>
			<li>{% trans "Create invoice queue item" %}</li>
			<li class="active">{% trans "Add items" %}</li>
		</ol>

		{% if errors is defined %}
		<div class="alert alert-danger">
			{{ errors|print_r }}
		</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Add items" %}
			</div>
			<div class="panel-body">
				<form method="post" action="/sales/invoice/queue?action=create_step3">
					<table class="table table-hover table-striped table-condensed">
						<thead>
							<tr>
								<th>{% trans "Product definition" %}</th>
								<th width="50%">{% trans "Description" %}</th>
								<th width="10%">{% trans "Qty" %}</th>
								<th width="10%">{% trans "Price" %}</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody id="invoice-queue-items"></tbody>
					</table>

					<div class="text-right">
						<button type="button" onclick="javascript:add_item()" class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span> {% trans "Add item" %}
						</button>
						<button type="submit" class="btn btn-primary">
							{% trans "Save" %} <span class="glyphicon glyphicon-arrow-right"></span>
						</button>
					</div>
				</form>
			</div>
		</div>

		<script type="text/x-handlebars-template" id="new-invoice-queue-item-tmpl">
			<tr>
				<td>
					<select name="invoice_queue_item[((nr))][product_type_id]" class="form-control">
						{% for product_type in product_types %}
							<option value="{{ product_type.id }}">{{ product_type.name }}</option>
						{% endfor %}
					</select>
				<td>
					<textarea class="form-control" name="invoice_queue_item[((nr))][description]"></textarea>
				</td>
				<td>
					<input type="text" class="form-control" name="invoice_queue_item[((nr))][qty]">
				</td>
				<td>
					<input type="text" class="form-control" name="invoice_queue_item[((nr))][price]">
				</td>
				<td>
					<select name="invoice_queue_item[((nr))][vat]" class="form-control">
					{% for vat_rate in vat_rates %}
						<option value="{{ vat_rate.vat }}">{{ vat_rate.vat }}%</option>
					{% endfor %}
					</select>
				</td>
				<td>
					<a href="javascript:void(0);" onclick="remove_item($(this));">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				</td>
			</tr>
		</script>
		<script type="text/javascript">

			$(document).ready(function() {
				add_item();
			});

			function add_item() {

				items = $('#invoice-queue-items').find('tr input[name*="qty"]');
				ids = [];
				items.each(function(){
					id = parseInt($(this).prop('name').match(/\d+/));
					ids.push(id);
				});

				nr = ids.length == 0 ? 0 : ids.max()+1;
				data = {'nr': nr};

				var source = $("#new-invoice-queue-item-tmpl").html();
				Handlebars.setDelimiter('(',')');
				var template = Handlebars.compile(source);
				$('#invoice-queue-items').append(template(data));
			}

			function remove_item(obj) {
				if($('#invoice-queue-items').find('tr').length > 1) {
					obj.parents('tr').remove();
				}
			}

		</script>


	{% else %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li class="active">{% trans "Invoice queue" %}</li>
		</ol>

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Filter" %}
			</div>
			<div class="panel-body">
				{% set conditions = pager.get_conditions() %}

				<form method="post" action="/sales/invoice/queue" class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Search" %}</label>
						<div class="col-xs-9">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Status" %}</label>
						<div class="col-xs-9">
							<select name="status" class="form-control">
								<option value=""> - - - </option>
								<option value="unprocessed"{% if pager.has_condition('processed_to_invoice_item_id', 'IS', '') %} selected{% endif %}>{% trans "Unprocessed" %}</option>
								<option value="processed"{% if pager.has_condition('processed_to_invoice_item_id', 'IS NOT', '') %} selected{% endif %}>{% trans "Processed" %}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% if env.sticky_session.message is defined %}
			{{ base.display_flash_message(env.session_sticky.message, 'invoice queue') }}
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">
					<a href="/sales/invoice/queue?action=create_step1" title="">
						<span class="glyphicon glyphicon-plus-sign"></span>
						{% trans "Add item" %}
					</a>
					-
					<a href="/sales/invoice/queue?action=batch_process">
						<span class="glyphicon glyphicon-play-circle"></span>
						{% trans "Batch process" %}
					</a>
				</div>
				{{ base.pager_count(pager.item_count) }}
			</div>
			<div class="panel-body">
			{% for invoice_queue in pager.items %}
				{% if loop.first %}
					<table class="table table-hover table-striped table-condensed table-responsive">
					<thead>
						<tr>
							<th>{{ pager.create_header('ID'|trans, 'id')|raw }}</th>
							<th>{{ pager.create_header('Processed'|trans, 'processed_to_invoice_item_id')|raw }}</th>
							<th>{{ pager.create_header('Customer'|trans, 'customer.company')|raw }}</th>
							<th>{{ pager.create_header('Description'|trans, 'description')|raw }}</th>
							<th>{{ pager.create_header('Qty'|trans, 'qty')|raw }}</th>
							<th>{{ pager.create_header('Price'|trans, 'price')|raw }}</th>
							<th width="30">&nbsp;</th>
							<th width="30">&nbsp;</th>
							<th width="30">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
				{% endif %}

				<tr>
					<td>{{ invoice_queue.id }}</td>
					<td>
						{% if not invoice_queue.is_processed() %}
							<span class="glyphicon glyphicon-remove"></span>
						{% else %}
							<span class="glyphicon glyphicon-ok"></span>
						{% endif %}
					</td>
					<td>{{ invoice_queue.customer.get_display_name() }}</td>
					<td>{{ invoice_queue.description }}</td>
					<td>{{ invoice_queue.qty }}</td>
					<td>&euro;{{ invoice_queue.get_price_excl()|number_format }}</td>
					<td>
						<a href="/sales/invoice/queue?action=edit&id={{ invoice_queue.id }}" title="">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
					<td>
						<a href="/sales/invoice/queue?action=delete&id={{ invoice_queue.id }}" title="" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure you want to remove this invoice queue item?" %}">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
					<td>
					{% if not invoice_queue.is_processed() %}
						<a href="/sales/invoice?action=create_step1&customer_id={{ invoice_queue.customer.id }}&customer_contact_id={{ invoice_queue.customer_contact.id }}">
							<span class="glyphicon glyphicon-play-circle"><span>
						</a>
					{% endif %}
					</td>
				</tr>

				{% if loop.last %}
					</tbody>
					</table>
					{{ pager.links|raw }}
				{% endif %}

			{% else %}

				<p><em>{% trans "No invoice queue items found." %}</em></p>

			{% endfor %}
			</div>
		</div>

	{% endif %}

{% endblock content %}

{% block javascript %}

	{% if action == 'create_step1' %}
		<script type="text/javascript" src="/bloodhound.min.js"></script>
		<script type="text/javascript" src="/typeahead.min.js"></script>
		<script type="text/javascript">

			var customers = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: '/administrative/customer?action=ajax_search&search=%QUERY'
			});

			customers.initialize();

			$('#autocomplete_customer').typeahead({
				hint: true,
				highlight: true,
				minLength: 2
			},{
				name:	'customer',
				displayKey: 'value',
				source:	customers.ttAdapter()
			});
			$('#autocomplete_customer').on('typeahead:selected typeahead:autocompleted', function(e,data) {
				$('#customer_id').val(data.id);
			});
		</script>
	{% elseif action == 'create_step3' %}
		<script type="text/javascript" src="/handlebars/handlebars.js"></script>
	{% endif %}

{% endblock javascript %}

{% block head %}

	{% if action == 'create_step1' %}
		<link rel="stylesheet" type="text/css" href="/typeahead.css">
	{% endif %}

{% endblock head %}
