{% extends "_default/layout.base.twig" %}

{% block head %}

	<style type="text/css">

		td.label {
			background-color: #eee
		}

	</style>

{% endblock head %}

{% block content %}

	{% block intro %}
		<h1 style="font-size: 12pt; color: #333333; margin-bottom: 15px">{% trans "New credit note" %}</h1>
		<p>{% trans "Hello" %} {{ creditnote.invoice_contact.firstname }}</p>
		<p>{% trans "A new credit note has been created, please print this immediately. To open the credit note, you will need a PDF reader, such as Adobe Acrobat." %}
		{% trans "Adobe Acrobat can be downloaded from the following URL:" %} <a href="http://get.adobe.com/reader/" target="_blank" style="color: #333">http://get.adobe.com/reader/</a></p>
	{% endblock intro %}

	{% block item_list %}
		<h2 style="font-size: 10pt; color: #444444; padding: 2px">{% trans "Products" %}/{% trans "Services" %}</h2>
		<table cellpadding="0" cellspacing="0" border="0" style="border: solid 1px #cccccc">
		<thead>
			<tr>
				<th>{% trans "Description" %}</th>
				<th>{% trans "Qty" %}</th>
				<th>{% trans "Unit price" %}</th>
				<th>{% trans "Subtotal" %}</th>
			</tr>
		</thead>
		<tbody>
		{% set creditnote_items = creditnote.get_creditnote_items() %}
		{% for creditnote_item in creditnote_items %}
			<tr>
				<td width="70%">{{ creditnote_item.description|nl2br }}</td>
				<td width="10%">{{ creditnote_item.qty|number_format }}</td>
				<td width="20%">&euro;{{ creditnote_item.price_excl|number_format }}</td>
				<td width="20%">&euro;{{ creditnote_item.get_price_excl()|number_format }}</td>
			</tr>
		{% if loop.last %}
			<tr>
				<td colspan="4">&nbsp;</td>
			</tr>
			<tr>
				<td align="right" colspan="3" style="border-top: solid 1px #cccccc; font-weight: bold">{% trans "Subtotal" %}:</td>
				<td style="border-top: solid 1px #cccccc">&euro;{{ creditnote.get_price_excl()|number_format }}</td>
			</tr>
			{% set vat_array = creditnote.get_vat_array() %}
			{% for key, vat_subtotal in vat_array %}
			<tr>
				<td align="right" colspan="3" style="font-weight: bold">{% trans "VAT" %} ({{ key }}%):</td>
				<td>&euro;{{ vat_subtotal|number_format }}</td>
			</tr>
			{% endfor %}
			<tr>
				<td align="right" colspan="3" style="font-weight: bold">{% trans "Total" %}:</td>
				<td style="font-weight: bold">&euro; {{ creditnote.get_price_incl()|number_format }}</td>
			</tr>
		{% endif %}
		{% endfor %}
		</tbody>
		</table>
	{% endblock item_list %}

{% endblock content %}
