<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<style type="text/css">

		@page {
			margin: 0;
			margin-top: 20mm;
			margin-bottom: 28mm
		}

		body {
			font-family: helvetica;
			font-size: 10pt;
			margin-top: 38mm;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0
		}

		thead th {
			font-weight: bold;
			text-align: left;
			padding: 1mm 2mm;
			border-bottom: solid .5mm #fff;

		}

		tbody td {
			padding: 0
		}

		p {
			margin: 2mm
		}

		#header {
			position: fixed;
			left: 20mm;
			top: 0;
			right: 20mm;
			height: 60mm
		}

			#company_logo {
				position: absolute;
				left: 3mm;
				top: 0;
				padding: 0
			}

		#footer {
			position: fixed;
			left: 0mm;
			bottom: -28mm;
			right: 0mm;
			height: 26mm;
			border-bottom: solid 20px #666

		}

		#settings {
			position: absolute;
			right: 22mm;
			left: 22mm;
			top: 0;
			color: #666;
			line-height: 4mm;
			padding-top: 4mm;
			border-top: solid 1px #ddd
		}

		#recipient_info {
			position: absolute;
			top: -10mm;
			left: 120mm
		}

		#page_wrapper {
			position: relative;
			margin: 29mm 20mm 0 20mm
		}

	</style>
	{% block head %}{% endblock head %}
</head>
<body>

	<script type="text/php">
	{% block php_script %}

		if ( isset($pdf) ) {
			$pdf->page_script('
				if ($PAGE_COUNT > 1) {

					$current_page = "{% trans "Page" %} ". $PAGE_NUM . "/" . $PAGE_COUNT;
					$size = 8;
					$font = $fontMetrics->get_font("verdana", "normal");

					$y = $pdf->get_height() - 41;
					$x = $pdf->get_width() - 62 - $fontMetrics->get_text_width($current_page, $font, $size);

					$pdf->text($x, $y, $current_page, $font, $size, array(0.4,0.4,0.4));

				}
			');
		}

	{% endblock php_script %}
	</script>

	<div id="header">
		<div id="company_logo">
			<!-- your logo -->
		</div>
	</div>

	<div id="footer">
		<ul id="settings">
			<li style="color: #111111"><strong>{{ settings.company }}</strong></li>
			<li>{{ settings.street }} {{ settings.housenumber }} - {{ settings.zipcode }} {{ settings.city }} - {{ attribute(settings.country, 'text_' ~ env.language.name_short ~ '_name') }}</li>
			<li style="padding-top: 1mm">
			{% set cinfo = {'T': settings.phone, 'W': settings.website, 'E': settings.email, 'B': settings.vat} %}
			{% for key, item in cinfo %}
				{{ key }}: {{ item }}
				{% if not loop.last %} - {% endif %}
			{% endfor %}
			</li>
		</ul>
	</div>

	{% block recipient %}


	{% if recipient_info %}
		<ul id="recipient_info">
		{% if recipient_info.company == '' %}
			<li>{{ recipient_info.firstname }} {{ recipient_info.lastname }}</li>
		{% else %}
			<li>{{ recipient_info.company }}</li>
		{% endif %}
			<li>{{ recipient_info.street }} {{ recipient_info.housenumber }}</li>
			<li>{{ recipient_info.zipcode }} {{ recipient_info.city }}</li>
			<li>{{ attribute(recipient_info.country, 'text_' ~ env.language.name_short ~ '_name') }}</li>
		</ul>
	{% endif %}


	{% endblock recipient %}

	<div id="page_wrapper">
		{% block content %}{% endblock content %}
	</div>

</body>
</html>
