{% import '_default/macro.base.twig' as base %}
{% import '_default/form.base.twig' as form %}

<div class="row">
	<div class="col">
		<h4>{% trans "Customers" %}</h4>
	</div>
	<div class="col">
		<div class="float-end">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/administrative/customer">
							{% trans "Customer" %}
						</a>
					</li>
					<li class="breadcrumb-item active">
						{% trans "Add customer" %}
					</li>
				</ol>
			</nav>
		</div>
	</div>
</div>

{% if errors is defined %}
	{{ base.alert('danger', "The form contains mistakes. Please correct them."|trans) }}
{% endif %}

<form class="form form-horizontal form-condensed" method="post" action="/administrative/customer?action=add">
	<div class="card">
		<div class="card-body">

			<div class="row mb-3">
				<label for="company" class="col-form-label col-3 text-end">{% trans "Company" %}</label>
				<div class="col-5">
					<input type="text" name="customer[company]" id="company" class="form-control {% if 'company' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.customer.company }}">
					{{ form.invalid_input('company', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="firstname" class="col-form-label col-3 text-end">{% trans "Firstname" %}</label>
				<div class="col-5">
					<input type="text" name="customer[firstname]" id="firstname" class="form-control {% if 'firstname' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.customer.firstname }}">
					{{ form.invalid_input('firstname', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="lastname" class="col-form-label col-3 text-end">{% trans "Lastname" %}</label>
				<div class="col-5">
					<input type="text" name="customer[lastname]" id="lastname" class="form-control {% if 'lastname' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.customer.lastname }}">
					{{ form.invalid_input('lastname', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="street" class="col-form-label col-3 text-end">{% trans "Street" %}</label>
				<div class="col-5">
					<input type="text" name="customer[street]" id="street" class="form-control {% if 'street' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.customer.street }}">
					{{ form.invalid_input('street', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="housenumber" class="col-form-label col-3 text-end">{% trans "Housenumber" %}</label>
				<div class="col-2">
					<input type="text" name="customer[housenumber]" id="housenumber" class="form-control {% if 'housenumber' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.customer.housenumber }}">
					{{ form.invalid_input('housenumber', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="zipcode" class="col-form-label col-3 text-end">{% trans "Zip code" %}</label>
				<div class="col-2">
					<input type="text" name="customer[zipcode]" id="zipcode" class="form-control {% if 'zipcode' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.customer.zipcode }}">
					{{ form.invalid_input('zipcode', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="city" class="col-form-label col-3 text-end">{% trans "City" %}</label>
				<div class="col-5">
					<input type="text" name="customer[city]" id="city" class="form-control {% if 'city' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.customer.city }}">
					{{ form.invalid_input('city', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="country_id" class="col-form-label col-3 text-end">{% trans "Country" %}</label>
				<div class="col-5">
					<select name="customer[country_id]" class="form-control select2 " onchange="change_country();">
					{% for group in countries|keys  %}
						{% if group == 'european' %}
							<optgroup label="{% trans "European" %}">
						{% else %}
							<optgroup label="{% trans "Rest of the world" %}">
						{% endif %}

						{% for country in countries[group] %}
							<option value="{{ country.id }}" data-iso2="{{ country.iso2 }}" {% if env.post.customer.country_id == country.id %}selected="selected"{% elseif env.post.customer.country_id is not defined and country.id == 203 %}selected="selected"{% endif %}>{{ attribute(country, 'text_' ~ env.language.name_short ~ '_name') }}</option>
						{% endfor %}
						</optgroup>
					{% endfor %}
					</select>
					{{ form.invalid_input('country_id', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="email" class="col-form-label col-3 text-end">{% trans "Email" %}</label>
				<div class="col-5">
					<input type="text" name="customer[email]" id="email" class="form-control {% if 'email' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.customer.email }}">
					{{ form.invalid_input('email', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="phone" class="col-form-label col-3 text-end">{% trans "Phone" %}</label>
				<div class="col-5">
					<input type="text" name="customer[phone]" id="phone" class="form-control {% if 'phone' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.customer.phone }}">
					{{ form.invalid_input('phone', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="mobile" class="col-form-label col-3 text-end">{% trans "Mobile" %}</label>
				<div class="col-5">
					<input type="text" name="customer[mobile]" id="mobile" class="form-control {% if 'mobile' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.customer.mobile }}">
					{{ form.invalid_input('mobile', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="fax" class="col-form-label col-3 text-end">{% trans "Fax" %}</label>
				<div class="col-5">
					<input type="text" name="customer[fax]" id="fax" class="form-control {% if 'fax' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.customer.fax }}">
					{{ form.invalid_input('fax', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="vat" class="col-form-label col-3 text-end">{% trans "Vat" %}</label>
				<div class="col-1"><input type="text" class="form-control" id="vat_prefix" readonly value="AT" /></div>
				<div class="col-4">
					<input type="text" name="customer[vat]" id="vat" class="form-control {% if 'vat' in errors|keys %}is-invalid{% endif %}" value="{{ customer.vat }}">
					{{ form.invalid_input('vat', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label for="language_id" class="col-form-label col-3 text-end">{% trans "Language" %}</label>
				<div class="col-5">
					<select name="{{ name }}" class="form-control select2" id="{{ id }}">
					{% for language in languages %}
						<option value="{{ language.id }}"{% if language.id == selected %} selected{% endif %}>{{ language.name }}</option>
					{% endfor %}
					</select>
				</div>
			</div>

			<div class="row mb-3">
			    <label class="col-form-label col-3 text-end">{% trans "Comments" %}</label>
			    <div class="col-5">
			        <textarea name="customer[comment]" class="form-control">{{ env.post.customer.comment }}</textarea>
			    </div>
			</div>

			<div class="row mb-3">
				<div class="col-5 offset-3">
					<button class="btn btn-primary">
						{% trans "Save" %}
					</button>
				</div>
			</div>

		</div>
	</div>
</form>
<script type="text/javascript">
	function change_country() {
		iso2 = $('select[name="customer[country_id]"] option:selected').attr('data-iso2');
		$('#vat_prefix').val(iso2);
	}
	change_country();
</script>

