{% extends "administrative/customer.twig" %}

{% block tab %}

{% set customer_contacts = customer.get_active_customer_contacts() %}

{% include 'administrative/customer/modal.customer_contact.twig' with {'id': 'manage-customer-contact','redirect': '/administrative/customer/contact?id=' ~ customer.id, 'modal_size': 'lg'} %}


<div class="row">
	{% for customer_contact in customer_contacts %}
		<div class="col-xs-3 customer_contact" id="customer-contact-{{ customer_contact.id }}">
			<div class="panel panel-default">
				<div class="panel-body{% if customer_contacts|length == 1 %} bg-info{% endif %}">
					<div class="actions hide">
						<a href="#manage-customer-contact" data-toggle="modal" data-customer-id="{{ customer.id }}" data-customer-contact-id="{{ customer_contact.id }}">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a href="javascript:void(0);" onclick="delete_contact({{ customer_contact.id }})">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</div>

					{{ base.customer_contact(customer_contact, settings) }}
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="col-xs-3 customer_contact">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<a class="btn btn-default" href="#manage-customer-contact" data-toggle="modal" data-customer-id="{{ customer.id }}" data-customer-contacts="{{ customer_contacts|length }}">
					{% trans "Create new" %}
				</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$('.customer_contact').on({
		mouseenter: function() {
			$(this).find('.actions').toggleClass('hide');
		},
		mouseleave: function() {
			$(this).find('.actions').toggleClass('hide');
		},
		click: function() {
			$('.customer_contact').find('input[type=radio]').prop('checked', false);
			$('.customer_contact').find('.panel-body').removeClass('bg-info');
			$(this).find('.panel-body').first().addClass('bg-info');
			$('input[name=customer_contact_id]').val($(this).prop('id').replace('customer-contact-', ''));
			$(this).find('input[type=radio]').prop('checked', true);
		}
	});

	function delete_contact(id) {
		$.get('/sales/invoice/contact?action=delete&id=' + id, function(data) {
			if(data['status'] == 1) {
				$('#customer-contact-' + id).remove();
				$('#invoice-create-step2 input').val('');
			} else {
				alert('Error deleting contact');
			}
		}, 'json');
	}

</script>

{% endblock tab %}
