{% extends "administrative/customer.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block tab %}

{% set customer_contacts = customer.get_active_customer_contacts() %}

{% include 'administrative/customer/modal.customer_contact.twig' with {'id': 'manage-customer-contact','redirect': '/administrative/customer/contact?id=' ~ customer.id, 'modal_size': 'lg'} %}


<div class="row">
	{% for customer_contact in customer_contacts %}
		<div class="col-3 mb-3">
			<div class="card customer_contact h-100" data-customer-contact-id="{{ customer_contact.id }}">
				<div class="card-body">
					<span class="badge bg-secondary actions visually-hidden">
						<a href="#manage-customer-contact" class="text-white" data-bs-toggle="modal" data-customer-id="{{ customer.id }}" data-customer-contact-id="{{ customer_contact.id }}">
							<i data-feather="edit"></i>
						</a>
						<a href="javascript:void(0);" class="text-white" onclick="delete_contact({{ customer_contact.id }})">
							<i data-feather="trash-2"></i>
						</a>
					</span>

					{{ base.customer_contact(customer_contact, settings) }}
				</div>
			</div>
		</div>
	{% endfor %}
	<div class="col-3">
		<div class="card h-100">
			<div class="card-body d-flex h-100 w-100 text-center">
				<div class="align-self-center w-100">
					<a class="btn btn-primary" href="#manage-customer-contact" data-toggle="modal" data-customer-id="{{ customer.id }}" data-customer-contacts="0">
						{% trans "Create new contact" %}
					</a>
				</div>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$('.customer_contact').on({
		mouseenter: function() {
			$(this).find('.actions').toggleClass('visually-hidden');
		},
		mouseleave: function() {
			$(this).find('.actions').toggleClass('visually-hidden');
		},
	});

	function delete_contact(id) {
		$.get('/administrative/customer/contact?action=delete&id=' + id, function(data) {
			if(data['status'] == 1) {
				$('#customer-contact-' + id).remove();
				$('#invoice-create-step2 input').val('');
			} else {
				alert('Error deleting contact');
			}
		}, 'json');
	}

</script>

{% endblock tab %}
