{% extends "administrative/customer.twig" %}

{% import '_default/macro.base.twig' as base %}
{% import '_default/form.base.twig' as form %}

{% block tab %}
	<form class="form form-horizontal form-condensed" method="post" action="/administrative/customer/detail?action=edit&id={{ customer.id }}">
		{% if errors is defined and errors|length == 1 and errors.vat is defined %}
			<div class="row offset-md-2">
				<div class="col-md-10">
					<div class="alert alert-danger" role="alert">
						<div class="d-flex align-items-center mb-3">
							<div>
								<i data-feather="alert-triangle" style="width:24px;height:24px;"></i>
							</div>
							<div class="ms-1">
								{% trans "The VAT number could not be verified." %}<br/>
								{% trans "If you still want to save this VAT number, please confirm." %}<br/>
							</div>
						</div>
						<div class="d-flex align-items-center">
							<div>
								<i data-feather="arrow-right" style="width:24px;height:24px;"></i>
							</div>
							<button type="submit" class="btn btn-xs btn-danger" name="ignore_vat">
								{% trans "Confirm VAT number" %}
							</button>
						</div>
					</div>
				</div>
			</div>
		{% elseif errors is defined %}
			<div class="alert alert-danger">
				{% trans "The form contains mistakes. Please correct them." %}
			</div>
		{% elseif env.sticky_session.message is defined %}
			{{ base.alert('success', 'Customer successfully updated'|trans) }}
		{% endif %}

		<div class="row offset-md-2">
			<div class="col-md-10">
				<div class="form-floating">
					<input type="text" name="customer[company]" id="company" class="form-control {% if 'company' in errors|keys %}is-invalid{% endif %}" value="{{ customer.company }}" placeholder="{% trans "Company" %}">
					<label class="form-label col-2" for="company">{% trans "Company" %}</label>
					{{ form.invalid_input('company', errors) }}
				</div>
			</div>
		</div>

		<div class="row offset-md-2">
			<div class="col-md-6 mt-2">
				<div class="form-floating">
					<input type="text" name="customer[firstname]" id="firstname" class="form-control {% if 'firstname' in errors|keys %}is-invalid{% endif %}" value="{{ customer.firstname }}" placeholder="{% trans "Firstname" %}" %>
					<label for="firstname" class="col-form-label">{% trans "Firstname" %}</label>
					{{ form.invalid_input('firstname', errors) }}
				</div>
			</div>

			<div class="col-md-4 mt-2">
				<div class="form-floating">
					<input type="text" name="customer[lastname]" id="firstname" class="form-control {% if 'lastname' in errors|keys %}is-invalid{% endif %}" value="{{ customer.lastname }}" placeholder="{% trans "Lastname" %}">
					<label for="lastname" class="col-form-label">{% trans "Lastname" %}</label>
					{{ form.invalid_input('lastname', errors) }}
				</div>
			</div>
		</div>

		<div class="row offset-md-2">
			<div class="col-md-7 mt-2">
				<div class="form-floating">
					<input type="text" name="customer[street]" id="street" class="form-control {% if 'street' in errors|keys %}is-invalid{% endif %}" value="{{ customer.street }}" placeholder="{% trans 'Street' %}">
					<label for="street" class="col-form-label">{% trans "Street" %}</label>
					{{ form.invalid_input('street', errors) }}
				</div>
			</div>

			<div class="col-md-3 mt-2">
				<div class="form-floating">
					<input type="text" name="customer[housenumber]" id="housenumber" class="form-control {% if 'housenumber' in errors|keys %}is-invalid{% endif %}" value="{{ customer.housenumber }}" placeholder="{% trans 'Housenumber' %}">
					<label for="housenumber" class="col-form-label">{% trans "Housenumber" %}</label>
					{{ form.invalid_input('housenumber', errors) }}
				</div>
			</div>
		</div>

		<div class="row offset-md-2">
			<div class="col-md-5 mt-2">
				<div class="form-floating">
					<input type="text" name="customer[zipcode]" id="zipcode" class="form-control {% if 'zipcode' in errors|keys %}is-invalid{% endif %}" value="{{ customer.zipcode }}" placeholder="{% trans 'Zip code' %}">
					<label for="zipcode" class="col-form-label">{% trans "Zip code" %}</label>
					{{ form.invalid_input('zipcode', errors) }}
				</div>
			</div>

			<div class="col-md-5 mt-2">
				<div class="form-floating">
					<input type="text" name="customer[city]" id="city" class="form-control {% if 'city' in errors|keys %}is-invalid{% endif %}" value="{{ customer.city }}" placeholder="{% trans 'City' %}">
					<label for="city" class="col-form-label">{% trans "City" %}</label>
					{{ form.invalid_input('city', errors) }}
				</div>
			</div>
		</div>

		<div class="row offset-md-2">
			<div class="col-md-10 mt-2">
				<div class="form-floating">
					{{ form.select_country(countries, 'customer[country_id]', 'country_id', customer.country_id) }}
					<label for="country_id" class="col-form-label">{% trans "Country" %}</label>
					{{ form.invalid_input('country_id', errors) }}
				</div>
			</div>
		</div>


		<div class="row offset-md-2 mt-2">
			<div class="col-md-10">
				<div class="form-floating">
					<input type="text" name="customer[email]" id="email" class="form-control {% if 'email' in errors|keys %}is-invalid{% endif %}" value="{{ customer.email }}" placeholder="{% trans "Email" %}">
					<label class="col-form-label col-2" for="email">{% trans "Email" %}</label>
					{{ form.invalid_input('email', errors) }}
				</div>
			</div>
		</div>

		<div class="row offset-md-2">
			<div class="col-md-5 mt-2">
				<div class="form-floating">
					<input type="tel" name="customer[phone]" id="phone" data-country-code="BE" class="form-control number-validator {% if 'phone' in errors|keys %}is-invalid{% endif %}" value="{{ customer.phone }}" placeholder="{% trans "Phone" %}">
					<label for="city" class="col-form-label">{% trans "Phone" %}</label>
					{{ form.invalid_input('phone', errors) }}
				</div>
			</div>

			<div class="col-md-5 mt-2">
				<div class="form-floating">
					<input type="tel" name="customer[mobile]" data-country-code="BE" id="mobile" class="form-control number-validator {% if 'mobile' in errors|keys %}is-invalid{% endif %}" value="{{ customer.mobile }}" placeholder="{% trans "Mobile" %}">
					<label for="city" class="col-form-label">{% trans "Mobile" %}</label>
					{{ form.invalid_input('mobile', errors) }}
				</div>
			</div>
		</div>

		<div class="row offset-md-2 mt-2">
			<div class="col-md-10">
				<div class="input-group">
					<span class="input-group-text" id="vat_prefix" readonly/>AT</span>
					<div class="form-floating">
						<input type="text" name="customer[vat]" id="vat" class="form-control {% if 'vat' in errors|keys %}is-invalid{% endif %}" value="{{ customer.vat }}" placeholder="{% trans 'Vat' %}">
						<label for="vat" class="col-form-label">{% trans 'Vat' %}</label>
					</div>
				</div>
			</div>
		</div>

		<div class="row offset-md-2 mt-2">
			<div class="col-md-10">
				<div class="form-floating">
					{{ form.select_language(languages, 'customer[language_id]', 'language_id', customer.language_id) }}
					<label for="language_id" class="col-form-label">{% trans "Language" %}</label>
					{{ form.invalid_input('language_id', errors) }}
				</div>
			</div>
		</div>

		<div class="row offset-md-2 mt-2">
			<div class="col-md-10">
				<div class="form-floating">
					<textarea name="customer[comment]" class="form-control">{{ customer.comment }}</textarea>
					<label for="comments" class="col-form-label">{% trans "Comments" %}</label>
					{{ form.invalid_input('email', errors) }}
				</div>
			</div>
		</div>

		<div class="row input-group offset-md-2 mt-2">
			<div class="col-md-10">
				<button class="btn btn-primary">
					{% trans "Save" %}
				</button>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		$(document).ready(function () {
			change_country();

			$('select[name="customer[country_id]"]').change(function (e) {
					e.preventDefault();
					change_country();
					clear_number_inputs();
				});
			});

			function change_country() {
				iso2 = $('select[name="customer[country_id]"] option:selected').attr('data-iso2');
				$("[data-country-code]").each(function (index, element) {
				$(element).attr("data-country-code", iso2);
			});

			$('#vat_prefix').text(iso2);
		}
	</script>

{% endblock tab %}
