{% extends "administrative/supplier.twig" %}

{% import '_default/macro.base.twig' as base %}
{% import '_default/form.base.twig' as form %}

{% block tab %}
		<form class="form form-horizontal form-condensed" method="post" action="/administrative/supplier/detail?action=edit&id={{ supplier.id }}">

			{% if errors is defined and errors|length == 1 and errors.vat is defined %}
				<div class="alert alert-warning">
					<button type="submit" class="btn btn-xs btn-warning pull-right" name="ignore_vat">
						{% trans "Confirm VAT number" %}
					</button>

					{% trans "The VAT number could not be verified." %} {% trans "If you still want to save this VAT number, please confirm." %}
				</div>
			{% elseif errors is defined %}
				<div class="alert alert-danger">
					{% trans "The form contains mistakes. Please correct them." %}
				</div>
			{% elseif env.sticky_session.message is defined %}
				{{ base.display_flash_message(env.sticky_session.message, 'supplier') }}
			{% endif %}

			<div class="row mb-3{% if 'company' in errors|keys %} has-error{% endif %}">
				<label for="company" class="col-form-label col-3 text-end">{% trans "Company" %}</label>
				<div class="col-5">
					<input type="text" name="supplier[company]" id="company" class="form-control" value="{{ supplier.company }}">
					{{ form.invalid_input('company', errors) }}
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-form-label col-3 text-end">{% trans "Street" %}</label>
				<div class="col-5"><input type="text" name="supplier[street]" class="form-control" value="{{ supplier.street }}" /></div>
			</div>

			<div class="row mb-3">
				<label class="col-form-label col-3 text-end">{% trans "Housenumber" %}</label>
				<div class="col-5"><input type="text" name="supplier[housenumber]" class="form-control" value="{{ supplier.housenumber }}"/></div>
			</div>
			<div class="row mb-3">
				<label class="col-form-label col-3 text-end">{% trans "Zipcode" %}</label>
				<div class="col-5"><input type="text" name="supplier[zipcode]" class="form-control" value="{{ supplier.zipcode }}" /></div>
			</div>

			<div class="row mb-3">
				<label class="col-form-label col-3 text-end">{% trans "City" %}</label>
				<div class="col-5"><input type="text" name="supplier[city]" class="form-control" value="{{ supplier.city }}" /></div>
			</div>

			<div class="row mb-3{% if 'country_id' in errors|keys %} has-error{% endif %}">
				<label for="country_id" class="col-form-label col-3 text-end">{% trans "Country" %}</label>
				<div class="col-5">
					<select name="supplier[country_id]" class="form-control" onchange="change_country();">
					{% for group in countries|keys  %}
						{% if group == 'european' %}
							<optgroup label="{% trans "European" %}">
						{% else %}
							<optgroup label="{% trans "Rest of the world" %}">
						{% endif %}

						{% for country in countries[group] %}
							<option value="{{ country.id }}" data-iso2="{{ country.iso2 }}" {% if supplier.country_id == country.id %}selected="selected"{% endif %}>{{ attribute(country, 'text_' ~ env.language.name_short ~ '_name') }}</option>
						{% endfor %}
						</optgroup>
					{% endfor %}
					</select>
				</div>
			</div>

			<div class="row mb-3{% if 'vat' in errors|keys %} has-error{% endif %}">
				<label for="vat" class="col-form-label col-3 text-end">{% trans "Vat" %}</label>
				<div class="col-1"><input type="text" class="form-control" id="vat_prefix" readonly value="AT" /></div>
				<div class="col-4">
					<input type="text" name="supplier[vat]" id="vat" class="form-control" value="{{ supplier.vat }}">
					{{ form.invalid_input('vat', errors) }}
				</div>
			</div>

			<div class="row mb-3{% if 'accounting_identifier' in errors|keys %} has-error{% endif %}">
				<label for="accounting_identifier" class="col-form-label col-3 text-end">{% trans "Accounting identifier" %}</label>
				<div class="col-5">
					<input type="text" name="supplier[accounting_identifier]" class="form-control" value="{{ supplier.accounting_identifier }}">
					{{ form.invalid_input('accounting_identifier', errors) }}
				</div>
			</div>

			<div class="row mb-3{% if 'iban' in errors|keys %} has-error{% endif %}">
				<label for="accounting_identifier" class="col-form-label col-3 text-end">{% trans "IBAN" %}</label>
				<div class="col-5">
					<input type="text" name="supplier[iban]" id="iban" class="form-control" value="{{ supplier.iban }}">
					{{ form.invalid_input('iban', errors) }}
				</div>
			</div>

			<div class="row mb-3{% if 'bic' in errors|keys %} has-error{% endif %}">
				<label for="accounting_identifier" class="col-form-label col-3 text-end">{% trans "BIC" %}</label>
				<div class="col-5">
					<input type="text" name="supplier[bic]" id="bic" class="form-control" value="{{ supplier.bic }}">
					{{ form.invalid_input('bic', errors) }}
				</div>
			</div>

			<div class="row mb-3">
			    <label class="col-form-label col-3 text-end">{% trans "Comments" %}</label>
			    <div class="col-5">
			        <textarea name="supplier[comment]" class="form-control">{{ supplier.comment }}</textarea>
			    </div>
			</div>

			<div class="row mb-3">
				<div class="col-3 offset-3">
					<button class="btn btn-primary">
						{% trans "Save" %}
					</button>
				</div>
			</div>
		</form>
		<script type="text/javascript">
			$(document).ready(function() {
				$('input[name="supplier[iban]"]').mask('SSAA AAAA 0000 0000 0000 0000 0000 0000 00', { placeholder: '____ ____ ____ ____ ____ ____ ____ ____ __'  });
			});

			function change_country() {
				iso2 = $('select[name="supplier[country_id]"] option:selected').attr('data-iso2');
				$('#vat_prefix').val(iso2);
			}
			change_country();
		</script>

{% endblock tab %}
