{% extends "_default/modal.base.twig" %}
{% block header %}{% trans "Bank account settings" %}{% endblock header %}

{% block body %}

<form class="form-horizontal" action="/financial/account?action=edit&id={{ bank_account.id }}" method="post" id="frm_edit_account_{{ bank_account.id }}">
	<div class="alert alert-danger hide">
		{% trans "Some fields were not filled in correcty." %} {% trans "Please correct them in order to continue." %}
	</div>

	<input type="hidden" name="bank_account[id]" value="{{ bank_account.id }}" />
	<div class="alert alert-info">{% trans "Your bank account needs to be linked to a bookkeeping account in order to make exports." %}</div>

	{% if bank_account.from_coda %}
		<div class="form-group">
			<label class="col-xs-4 control-label">{% trans "Name" %}</label>
			<div class="col-xs-8">
				<p class="form-control-static">{{ bank_account.name }}</p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-4 control-label">{% trans "Description" %}</label>
			<div class="col-xs-8">
				<p class="form-control-static">{{ bank_account.description }}</p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-4 control-label">{% trans "Number" %}</label>
			<div class="col-xs-8">
				<p class="form-control-static">{{ bank_account.number }}</p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-4 control-label">{% trans "BIC" %}</label>
			<div class="col-xs-8">
				<p class="form-control-static">{{ bank_account.bic }}</p>
			</div>
		</div>
	{% else %}

		<div class="form-group">
			<label class="col-xs-4 control-label">{% trans "Name" %}</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" name="bank_account[name]" value="{{ bank_account.name }}" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-4 control-label">{% trans "Description" %}</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" name="bank_account[description]" value="{{ bank_account.description }}" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-4 control-label">{% trans "Number" %}</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" name="bank_account[number]" value="{{ bank_account.number }}" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-4 control-label">{% trans "BIC" %}</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" name="bank_account[bic]" value="{{ bank_account.bic }}" />
			</div>
		</div>

	{% endif %}

	<div class="form-group">
		<label class="col-xs-4 control-label">{% trans "Alias" %}</label>
		<div class="col-xs-8">
			<input type="text" class="form-control" name="bank_account[alias]" value="{{ bank_account.alias }}" />
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-4 control-label">{% trans "Bookkeeping account" %}</label>
		<div class="col-xs-8">
			<select name="bank_account[bookkeeping_account_id]" class="form-control">
				<option value="0">{% trans "Please select an account" %}</option>
				{% for bookkeeping_account in bookkeeping_accounts %}
					<option value="{{ bookkeeping_account.id }}" {% if bank_account.bookkeeping_account_id == bookkeeping_account.id%}selected{% endif %}>
						{{ bookkeeping_account.number }} - {{ bookkeeping_account.name }}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-4 control-label">{% trans "Make default for payment" %}</label>
		<div class="col-xs-8">
			<input type="checkbox" data-group-cls="btn-group-xs"  name="bank_account[default_for_payment]" {% if bank_account.default_for_payment %}checked{% endif %}>
		</div>
	</div>
</form>

<script type="text/javascript">
	$('#frm_edit_account_{{ bank_account.id }}').on('submit', function() {
		return validate_bank_account_{{ bank_account.id }}();
	});

	function validate_bank_account_{{ bank_account.id }}() {
		data = $('#frm_edit_account_{{ bank_account.id }}').serialize();

		$('.form-group').removeClass('has-error');
		$('#frm_edit_account_{{ bank_account.id }} .alert').addClass('hide');
		$.post('/financial/account?action=validate', data, function(data) {
			if (data === null) {
				$('#frm_edit_account_{{ bank_account.id }}').off();
				$('#frm_edit_account_{{ bank_account.id }}').submit();
				return true;
			}
			$('#frm_edit_account_{{ bank_account.id }} .alert').removeClass('hide');
			$.each(data, function(key, value) {
				$('#frm_edit_account_{{ bank_account.id }} input[name="bank_account[' + key + ']"], #frm_edit_account_{{ bank_account.id }} select[name="bank_account[' + key + ']"]').parents('.form-group').addClass('has-error');
			});

			return false;
		}, 'json');

		return false;
	}
</script>


{% endblock body %}

{% block footer %}
	<button type="submit" class="btn btn-primary" onclick="$(this).parents('.modal-content').find('form').submit();">{% trans "Save" %}</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
{% endblock footer %}
