{% extends "_default/layout.base.twig" %}

{% block content %}
	{% if action == 'edit' %}
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/financial/account">{% trans "Bank accounts" %}</a></li>
			<li>
				<a href="/financial/account/transaction?bank_account_id={{ transaction.bank_account_statement.bank_account_id }}">
					{% trans "Bank Account" %} &quot;{% if transaction.bank_account_statement.bank_account.alias is not empty %}{{ transaction.bank_account_statement.bank_account.alias }}{% else %}{{ transaction.bank_account_statement.bank_account.description }}{% endif %}&quot;
				</a>
			</li>
			<li class="active">{% trans "Edit transaction" %}</li>
		</ol>

		<form class="form-horizontal form-condensed">
		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Transaction details" %}

				<span class="pull-right">
					<a href="/setting/extractor/transaction?action=add&transaction_id={{ transaction.id }}">
						<i class="fa fa-file-text" aria-hidden="true"></i> {% trans "Create extractor" %}
					</a>
				</span>
			</div>
			<div class="panel-body" style="max-height: 400px; overflow-y: scroll;" id="transaction-list">
				{% set bank_account_statement = transaction.bank_account_statement %}
				<table class="table">
					<tr>
						<td colspan="2">
							<h5><strong>{% trans "Situation on" %} {{ bank_account_statement.original_situation_date|date }}</strong></h5>
						</td>
						<td width="200" class="text-right">
							<h4>
							{% if bank_account_statement.original_situation_balance > 0 %}
								+
							{% else %}
								-
							{% endif %}
							{{ bank_account_statement.original_situation_balance|number_format }}
							&nbsp; <small>EUR</small>
							</h4>
						</td>
					</tr>

					{% for bank_account_statement_transaction in bank_account_statement.get_bank_account_statement_transactions() %}
						{% set href = '/financial/account/transaction?id=' ~ bank_account_statement_transaction.id ~ '&action=edit' %}

						{% if bank_account_statement_transaction.id == transaction.id %}
							{% set active = true %}
						{% else %}
							{% set active = false %}
						{% endif %}

						<tr {% if active %}class="info"{% endif %} {% if not active %}data-href="{{ href }}"{% endif %}>
							<td rowspan="3" width="100">
								<strong>{{ bank_account_statement_transaction.date|date }}</strong> <br />
								{% if bank_account_statement_transaction.balanced %}
									<span class="label label-success">{% trans "Balanced" %}</span>
								{% else %}
									<span class="label label-danger">{% trans "Unbalanced" %}</span>
								{% endif %}
							</td>
							<td><strong>{{ bank_account_statement_transaction.other_account_name }}</strong></td>
							<td rowspan="2" class="text-right">
								{% if bank_account_statement_transaction.amount > 0 %}
									<h4 class="text-success">+
								{% else %}
									<h4 class="text-danger">
								{% endif %}
								{{ bank_account_statement_transaction.amount|number_format }}&nbsp; <small>EUR</small></h4></td>
						</tr>

						<tr {% if active %}class="info"{% endif %} {% if not active %}data-href="{{ href }}"{% endif %}>
							<td>{{ bank_account_statement_transaction.other_account_number|iban_to_human_format }}</td>
						</tr>

						<tr {% if active %}class="info"{% endif %} {% if not active %}data-href="{{ href }}"{% endif %}>
							<td colspan="2"><pre>{{ bank_account_statement_transaction.get_message() }}</pre></td>
						</tr>

					{% endfor %}

					<tr>
						<td colspan="2">
							<h5>{% trans "Situation on" %} {{ bank_account_statement.new_situtation_date|date }}</h5>
						</td>
						<td width="200" class="text-right">
							<h4>
							{% if bank_account_statement.new_situation_balance > 0 %}
								+
							{% else %}
								-
							{% endif %}
							{{ bank_account_statement.new_situation_balance|number_format }}
							&nbsp; <small>EUR</small></h4>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<script type="text/javascript">
			position = $('#transaction-list .table tr.info').offset();
			console.log(position);
			$("#transaction-list").scrollTop(position.top-300);

			$('tr[data-href]').css('cursor', 'pointer').on('click', function() {
				window.location.href = $(this).data('href');
			});
		</script>

		</form>
		{% include "financial/account/transaction/modal.outgoing_invoice.twig" with {id: 'modal_outgoing_invoice', modal_size: 'lg'} %}
		{% include "financial/account/transaction/modal.incoming_invoice.twig" with {id: 'modal_incoming_invoice', modal_size: 'lg'} %}
		{% include "financial/account/transaction/modal.incoming_creditnote.twig" with {id: 'modal_incoming_creditnote', modal_size: 'lg'} %}
		{% include "financial/account/transaction/modal.bookkeeping_account.twig" with {id: 'modal_bookkeeping_account', modal_size: 'lg'} %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Bookings" %}
				<div class="pull-right dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Add booking" %} <b class="caret"></b></a>
					<ul class="dropdown-menu multi-level">
						<li>
							<a href="#modal_outgoing_invoice" data-toggle="modal">
								<i class="fa fa-arrow-up"></i> {% trans "Outgoing invoice" %}
							</a>
						</li>

						<li>
							<a href="#modal_incoming_invoice" data-toggle="modal">
								<i class="fa fa-arrow-down"></i> {% trans "Incoming invoice" %}
							</a>
						</li>

						<li>
							<a href="#modal_incoming_creditnote" data-toggle="modal">
								<i class="fa fa-arrow-down"></i> {% trans "Incoming credit note" %}
							</a>
						</li>

						<li>
							<a href="#modal_bookkeeping_account" data-toggle="modal">
								<i class="fa fa-book"></i> {% trans "Bookkeeping account" %}
							</a>
						</li>



					</ul>
				</div>
			</div>
			<div class="panel-body">
				{% if transaction.balanced %}
					<div class="alert alert-success">
						{% trans "This transaction is correctly linked." %}
					</div>
				{% endif %}
				{% set balances = transaction.get_bank_account_statement_transaction_balances() %}

				{% if not transaction.balanced %}
					<div class="alert alert-danger">{% trans "This transaction is not booked yet" %}</div>
				{% endif %}

				{% for balance in balances %}
					{% if loop.first %}
						<table class="table table-hover table-alternate">
						<thead>
							<tr>
								<th>{% trans "Type" %}</th>
								<th>{% trans "Amount" %}</th>
								<th width="20">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
						<tr>
							<td>{% trans "Payment" %} {{ transaction.id }}</td>
							<td class="text-right">&euro;{{ transaction.amount|number_format }}</td>
							<td>&nbsp;</td>
						</tr>
					{% endif %}

					<tr>
						<td>
							{% if balance.linked_object_classname == 'Document_Incoming_Invoice' %}
								<a href="/administrative/document/invoice?action=edit&id={{ balance.linked_object_id }}">
									{% trans "Incoming invoice" %} {{ balance.linked_object_id }} ({{ balance.get_linked_object().supplier.company }})
								</a>
							{% elseif balance.linked_object_classname == 'Document_Incoming_Creditnote' %}
								<a href="/administrative/document/creditnote?action=edit&id={{ balance.linked_object_id }}">
									{% trans "Incoming credit note" %} {{ balance.linked_object_id }} ({{ balance.get_linked_object().supplier.company }})
								</a>
							{% elseif balance.linked_object_classname == 'Invoice' %}
								<a href="/sales/invoice?action=edit&id={{ balance.linked_object_id }}">
									{% trans "Invoice" %} {{ balance.linked_object_id }}
								</a>
							{% elseif balance.linked_object_classname == 'Bookkeeping_Account' %}
								<a href="/bookkeeping/account?action=edit&id={{ balance.linked_object_id }}">
									{% trans "Bookkeeping account" %} {{ balance.get_linked_object().number }} - {{ balance.get_linked_object().name }}
								</a>
							{% else %}
								{{ balance.linked_object_classname }} {{ balance.linked_object_id }}
							{% endif %}
						</td>
						<td class="text-right">&euro;{{ (balance.amount*-1)|number_format }}</td>
						<td>
							<a href="/financial/account/transaction?action=delete_balance&id={{ balance.id }}" title="{% trans "Delete booking" %}" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure you want to remove this booking" %}?">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>

					{% if loop.last %}
						{% if balances|length > 0 %}
							<tr>
								<th>{% trans "Balance" %}</th>
								<th class="text-right">&euro;{{ transaction.get_balance()|number_format }}</th>
								<th>&nbsp;</th>
							</tr>
						{% endif %}
						</tbody>
						</table>
					{% endif %}
				{% endfor %}

			</div>
		</div>
	{% elseif action == 'automatic_link' %}
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/financial/account">{% trans "Bank accounts" %}</a></li>
			<li class="active">{% trans "Automatic link" %}</li>
		</ol>
		<div class="form-horizontal">
		{% for transaction in transactions %}
			{% if loop.first %}
				<table class="table table-alternate table-hover">
					<thead>
						<tr>
							<th width="120"><input type="checkbox" data-group-cls="btn-group-xs" onchange="toggle_all();"></th>
							<th>{{ pager.create_header('Date'|trans, 'date')|raw }}</th>
							<th>{{ pager.create_header('Amount'|trans, 'amount')|raw }}</th>
							<th width="40%">{{ pager.create_header('Message'|trans, 'message')|raw }}</th>
							<th>{{ pager.create_header('To/From'|trans, 'other_account_name')|raw }}</th>
							<th width="30">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
			{% endif %}

			<tr data-price="{{ transaction.amount }}" data-id="{{ transaction.id }}">
				<td><input type="checkbox" data-group-cls="btn-group-xs" onchange="calculate_sum();"/></td>
				<td>{{ transaction.date|date }}</td>
				<td class="text-right">{{ transaction.amount }}</td>
				<td>{{ transaction.get_message() }}</td>
				<td>{{ transaction.other_account_name }}</td>
				<td class="status"></td>
			</tr>

			{% if loop.last %}
					</tbody>
				</table>
				<div class="well">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Total amount" %}</label>
						<div class="col-xs-9">
							<p class="form-control-static" id="total_amount">&euro;0</p>
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-9 col-xs-offset-3">
							<button type="submit" class="btn btn-primary" id="btn_automatic_link" onclick="automatic_link();">
								{% trans "Link transactions" %}
							</button>
						</div>
					</div>

				</div>
			{% endif %}
		{% endfor %}
		</div>
		<script type="text/javascript">
			function toggle_all() {
				if ($('th input[type=checkbox]').is(':checked')) {
					$('td input[type=checkbox]').prop('checked', true);
				} else {
					$('td input[type=checkbox]').prop('checked', false);
				}
			}

			function calculate_sum() {
				total = 0;
				$('tbody tr').each(function() {
					if ( $(this).find('input[type=checkbox]').is(':checked') ){
						total += Math.round( parseFloat( $(this).data('price') ) * 100) / 100;
					}
				});
				$('#total_amount').html('&euro;' + Math.round(total*100)/100 );
			}

			function automatic_link() {
				$("#btn_automatic_link").attr("disabled", true);
				$('tbody tr').each(function() {
					if ( $(this).find('input[type=checkbox]').is(':checked') ){
						id = $(this).data('id');

						data = {
							id: id
						};

						$.post('/financial/account/transaction?action=automatic_link_transaction', data, function(data) {
							if (data.success) {
								$('tr[data-id=' + data.id + ']').find('.status').html('<i class="fa fa-check"></i>');
							} else {
								$('tr[data-id=' + data.id + ']').find('.status').html('<a href="#" title="' + data.message + '"><span class="glyphicon glyphicon-remove"></span></a>');
							}
						}, 'json');

					}
				});
			}
		</script>
	{% else %}
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/financial/account">{% trans "Bank accounts" %}</a></li>
			<li>{% trans "Bank Account" %} &quot;{% if bank_account.alias is not empty %}{{ bank_account.alias }}{% else %}{{ bank_account.description }}{% endif %}&quot;</li>
		</ol>

		{% include "financial/account/tabs.twig" %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Filter" %}
			</div>
			<div class="panel-body">
				<form method="post" action="/financial/account/transaction?bank_account_id={{ bank_account.id }}" class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Search" %}</label>
						<div class="col-xs-9">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>
					{% set conditions = pager.get_conditions() %}

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Bank Account Statement" %}</label>
						<div class="col-xs-9">
							<select name="bank_account_statement" class="form-control">
								<option value="-1">{% trans "All" %}</option>
								{% for bank_account_statement in bank_account.get_bank_account_statements() %}
									<option value="{{ bank_account_statement.id }}" {% if pager.has_condition('bank_account_statement_transaction.bank_account_statement_id', bank_account_statement.id) %}selected{% endif %}>
										{{ bank_account_statement.original_situation_date|date }} {{ bank_account_statement.sequence }}
									</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Balanced" %}</label>
						<div class="col-xs-9">
							<select name="balanced" class="form-control">
								<option value="-1">{% trans "Any" %}</option>
								<option value="0" {% if pager.has_condition('bank_account_statement_transaction.balanced', 0) %}selected{% endif %}>{% trans "No" %}</option>
								<option value="1" {% if pager.has_condition('bank_account_statement_transaction.balanced', 1) %}selected{% endif %}>{% trans "Yes" %}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				{{ base.pager_count(pager.item_count) }}
			</div>
			<div class="panel-body">
			{% for transaction in pager.items %}
				{% if loop.first %}
					<table class="table table-hover table-striped table-condensed table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>{{ pager.create_header('Date'|trans, 'bank_account_statement_transaction.date')|raw }}</th>
							<th width="180">{{ pager.create_header('Bank Account Statement'|trans, 'bank_account_statement.id')|raw }}</th>
							<th>{{ pager.create_header('Amount'|trans, 'amount')|raw }}</th>
							<th width="40%">{{ pager.create_header('Message'|trans, 'message')|raw }}</th>
							<th>{{ pager.create_header('To/From'|trans, 'other_account_name')|raw }}</th>
							<th width="20">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
				{% endif %}

				<tr {% if not transaction.balanced %}class="warning"{% endif %}>
					<td>{{ transaction.id }}</td>
					<td>{{ transaction.date|date }}</td>
					<td>{{ transaction.bank_account_statement.sequence }}</td>
					<td class="text-right" style="padding-right: 10px;">&euro;{{ transaction.amount|number_format }}</td>
					<td>{{ transaction.get_message|truncate(80) }}</td>
					<td>{{ transaction.other_account_name }}</td>
					<td>
						<a href="/financial/account/transaction?action=edit&bank_account_id={{ bank_account.id }}&id={{ transaction.id }}" title="">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
				</tr>

				{% if loop.last %}
					</tbody>
					</table>

					{{ pager.links|raw }}
				{% endif %}

			{% else %}

				<p><em>{% trans "No bank accounts found." %}</em></p>

			{% endfor %}
			</div>
		</div>
	{% endif %}

{% endblock content %}
