{% import '_default/macro.base.twig' as base %}

{{ base.alert('info', "Values fetched with extractor"|trans ~ ' <b>'|raw ~ extractor.name ~ '</b>'|raw)|raw }}

{% for key, value in fields %}
	{% if loop.first %}
		<table class="table table-alternate table-hover table-condensed">
		<thead>
			<tr>
				<th>{% trans "Field" %}</th>
				<th>{% trans "Current value" %}</th>
				<th>{% trans "Extracted Value" %}</th>
			</tr>
		</thead>
		<tbody>
	{% endif %}

	<tr>
		<th><p class="form-control-static">{{ key }}</p></th>
		<td>
			<p class="form-control-static">
				{% if attribute(document, key) is not null %}
					{{ attribute(document, key)|truncate(50)|nl2br }}
				{% endif %}
			</p>
		</td>
		<td>
			{% if key == 'description' %}
				<textarea class="form-control" name="document[{{ key }}]">{{ value }}</textarea>
			{% else %}
				<input type="text" class="form-control" name="document[{{ key }}]" value="{{ value }}" />
			{% endif %}
		</td>
	</tr>

	{% if loop.last %}
		</tbody>
		</table>
	{% endif %}
{% endfor %}
