{% extends "_default/layout.base.twig" %}

{% import '_default/macro.base.twig' as base %}
{% import '_default/form.base.twig' as form %}

{% block content %}

	{% if action == 'add' %}

		{% include 'administrative/customer/add.twig' %}

	{% elseif action == 'export' %}

		{% include 'administrative/customer/export.twig' %}

	{% elseif env.module.get_name() != 'administrative_customer' %}
		<div class="row">
			<div class="col">
				<h4>{% trans "Customers" %}</h4>
			</div>
			<div class="col">
				<div class="float-end">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/administrative/customer">
									{% trans "Customers" %}
								</a>
							</li>
							<li class="breadcrumb-item active">
								{% trans "Customer" %} {{ customer.get_display_name() }}
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
					<li class="nav-item">
						<a href="/administrative/customer/detail?id={{ customer.id }}" class="nav-link {% if env.module.get_name() == 'administrative_customer_detail' %}active{% endif %}">
							{% trans "Details" %}
						</a>
					</li>
					<li class="nav-item">
						<a href="/administrative/customer/contact?id={{ customer.id }}" class="nav-link {% if env.module.get_name() == 'administrative_customer_contact' %}active{% endif %}">
							{% trans "Contacts" %}
						</a>
					</li>
					<li class="nav-item">
						<a href="/administrative/customer/invoice?id={{ customer.id }}" class="nav-link {% if env.module.get_name() == 'administrative_customer_invoice' %}active{% endif %}">
							{% trans "Invoices" %}
						</a>
					</li>
					<li class="nav-item">
						<a href="/administrative/customer/recurring?id={{ customer.id }}" class="nav-link {% if env.module.get_name() == 'administrative_customer_recurring' %}active{% endif %}">
							{% trans "Recurring invoice queue" %}
						</a>
					</li>
					<li class="nav-item">
						<a href="/administrative/customer/document?id={{ customer.id }}" class="nav-link {% if env.module.get_name() == 'administrative_customer_document' %}active{% endif %}">
							{% trans "Documents" %}
						</a>
					</li>
				</ul>
			</div>

			<div class="card-body tab-content">
				<div class="tab-pane show active">
					{% block tab %}{% endblock tab %}
				</div>
			</div>
		</div>

	{% else %}

		<div class="row">
			<div class="col">
				<h4>{% trans "Customers" %}</h4>
			</div>
		</div>

		<div class="card mb-3">
			<div class="card-header">
				{% trans "Filter" %}
			</div>
			<div class="card-body">
				<form method="post" action="/administrative/customer" class="form-horizontal form-condensed">
					<div class="row mb-2 mb-md-3">
						<label class="col-form-label col-12 col-md-2 text-md-end">{% trans "Search" %}</label>
						<div class="col-9">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>

					<div class="row mb-1 mb-md-2">
						<div class="offset-md-2">
							<button class="btn btn-primary" type="submit">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% if env.sticky_session.message is defined %}
			{{ base.alert('success', 'Customer added successfully'|trans) }}
		{% endif %}

		<div class="card">
			<div class="card-header">
				<div class="pull-right">
					<a href="/administrative/customer?action=add" title="">
						<i data-feather="plus"></i>
						{% trans "Add customer" %}
					</a>
					-
					<a href="/administrative/customer?action=export" title="{% trans "Export customers" %}">
						<i data-feather="file-text"></i> {% trans "Export customers" %}
					</a>
				</div>
				{{ base.pager_count(pager.item_count) }}
			</div>
			<div class="card-body table-responsive">
			{% for customer in pager.items %}
				{% if loop.first %}
					<table class="table table-hover table-striped table-condensed ">
					<thead>
						<tr>
							<th>{{ pager.create_header('#', 'id')|raw }}</th>
							<th>{{ pager.create_header('First name'|trans, 'firstname')|raw }}</th>
							<th>{{ pager.create_header('Last name'|trans, 'lastname')|raw }}</th>
							<th>{{ pager.create_header('Company'|trans, 'company')|raw }}</th>
							<th>{{ pager.create_header('Email'|trans, 'email')|raw }}</th>
							<th width="20">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
				{% endif %}

				<tr>
					<td>{{ customer.get_identifier() }}</td>
					<td>{{ customer.firstname }}</td>
					<td>{{ customer.lastname }}</td>
					<td>{{ customer.company }}</td>
					<td>{{ customer.email }}</td>
					<td>
						<a href="/administrative/customer/detail?id={{ customer.id }}" title="">
							<i data-feather="edit"></i>
						</a>
					</td>
				</tr>

				{% if loop.last %}
					</tbody>
					</table>

					{{ pager.links|raw }}
				{% endif %}

			{% else %}

				<p><em>{% trans "No customers found." %}</em></p>

			{% endfor %}
			</div>
		</div>

	{% endif %}

{% endblock content %}
