{% extends "_default/layout.base.twig" %}

{% import '_default/macro.base.twig' as base %}
{% import '_default/form.base.twig' as form %}

{% block content %}

	{% if action == 'edit' %}

		{% block breadcrumb %}
		<ul class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</li></a>
			<li><a href="/administrative/document">{% trans "Documents" %}</a></li>
			<li class="active">{% trans "Edit Document" %}</li>
		</ul>
		{% endblock breadcrumb %}

		{% if errors is defined %}
			<div class="alert alert-danger">
				{% trans "The form contains mistakes. Please correct them." %}
			</div>
		{% elseif env.sticky_session.message == 'updated' %}
			{{ base.display_flash_message(env.sticky_session.message, 'document') }}
		{% elseif env.sticky_session.message == 'tags_updated' %}
			<div class="alert alert-success alert-dismissable">
				{% trans "The document tags have been updated." %}
			</div>
		{% elseif env.sticky_session.delete_error == 'extractor_exists' %}
			<div class="alert alert-danger">
				{% trans "This document cannot be deleted." %} {% trans "It is a basis for a PDF extractor." %} {% trans "Please modify the extractor first before deleting this document." %}
			</div>
		{% elseif env.sticky_session.delete_error == 'balances_exist' %}
			<div class="alert alert-danger">
				{% trans "This document cannot be deleted." %} {% trans "There are bank transactions linked to it." %} {% trans "Please remove the transactions before removing this document." %}
			</div>
		{% endif %}

		<div class="row">
			<div class="{% if document.preview_file_id > 0 %}col-xs-8{% else %}col-xs-12{% endif %}">
				<div class="panel panel-default">
					<div class="panel-heading">{% trans "Document details" %}</div>
					<div class="panel-body">
						<form class="form-horizontal form-condensed" action="{{ env.module.get_module_path() }}?action=edit&id={{ document.id }}" method="post">
							<div class="form-group {% if 'title' in errors|keys %}has-error{% endif %}">
								<label class="col-xs-3 control-label">{% trans "Title" %}</label>
								<div class="col-xs-9">
									<input type="text" class="form-control" name="document[title]" value="{{ document.title }}" />
									{{ form.invalid_input('title', errors) }}
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">{% trans "Document type" %}</label>
								<div class="col-xs-9">
									<select name="document[classname]" class="form-control" onchange="show_classname_fields()" id="slc_classname">
										<option value="Document" {% if document.classname == 'Document' %}selected{% endif %}>
											{% trans "Standard document" %}
										</option>
										<option value="Document_Contract" {% if document.classname == 'Document_Contract' %}selected{% endif %}>
											{% trans "Contract" %}
										</option>
										<option value="Document_Documentation" {% if document.classname == 'Document_Documentation' %}selected{% endif %}>
											{% trans "Documentation" %}
										</option>
										<option value="Document_Incoming_Invoice" {% if document.classname == 'Document_Incoming_Invoice' %}selected{% endif %}>
											{% trans "Incoming invoice" %}
										</option>
										<option value="Document_Incoming_Creditnote" {% if document.classname == 'Document_Incoming_Creditnote' %}selected{% endif %}>
											{% trans "Incoming creditnote" %}
										</option>
									</select>
								</div>
							</div>

							<div class="form-group{% if 'file_id' in errors|keys %} has-error{% endif %}">
								<label for="file_id" class="col-xs-3 control-label">{% trans "File" %}</label>
								<div class="col-xs-9">
									<div id="document-file" class="form-control-static">
										{% if document.file_id > 0 %}
											<div class="file">
												<input type="hidden" name="document[file_id]" value="{{ document.file_id }}" />
												<span>{{ document.file.name }}</span> [ {{ document.file.get_human_size() }} ]
												<a href="javascript:void(0);" onclick="remove_file($(this).parents('.file'));" title="{% trans "Delete file" %}">
													<span class="glyphicon glyphicon-remove"></span>
												</a>
												<a href="/administrative/document?action=download&id={{ document.id }}">
													<span class="glyphicon glyphicon-download"></span>
												</a>
											</div>
										{% endif %}

										{{ form.invalid_input('file_id', errors) }}
									</div>

									<div class="dropzone" id="document-dropzone">
										<div class="dz-default dz-message">
											<span>{% trans "Drag and Drop file" %}</span>
											<span>({% trans "or click here" %})</span>
										</div>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
												<span class="sr-only">0% Complete</span>
											</div>
										</div>
										<div class="fallback"></div>
									</div>

								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">{% trans "Date" %}</label>
								<div class="col-xs-9">
									<input type="text" class="form-control datepicker" name="document[date]" value="{{ document.date|date }}" />
								</div>
							</div>

							<div class="classname_fields classname_document_incoming_invoice classname_document_incoming_creditnote">
								<div class="form-group{% if 'expiration_date' in errors|keys %} has-error{% endif %}">
									<label class="col-xs-3 control-label">{% trans "Expiration date" %}</label>
									<div class="col-xs-9">
										<input type="text" class="form-control datepicker" name="document[expiration_date]" value="{{ document.expiration_date }}">
										{{ form.invalid_input('expiration_date', errors) }}
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">{% trans "Tags" %}</label>
								<div class="col-xs-9">
									<input type="text" class="form-control autocomplete-tag" name="tag_ids" value="" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-xs-3 control-label">{% trans "Description" %}</label>
								<div class="col-xs-9">
									<textarea class="form-control autogrow" name="document[description]">{{ document.description }}</textarea>
								</div>
							</div>

							<div class="classname_document_documentation">
								{% include 'administrative/document/document.form.documentation.twig' %}
							</div>

							<div class="classname_document_contract">
								{% include 'administrative/document/document.form.contract.twig' %}
							</div>

							<div class="classname_document_incoming_invoice classname_document_incoming_creditnote">
								{% include 'administrative/document/document.form.invoice.twig' %}
							</div>

							<hr>
							<div class="form-group">
								<div class="col-xs-9 col-xs-offset-3">
									<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
									<a href="/administrative/document?action=delete&id={{ document.id }}" class="btn btn-danger" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure" %}?" >{% trans "Delete" %}</a>
									{% if settings.setasign_pdf_extractor %}
										<a href="javascript:void(0);" class="btn btn-default" id="btn_extractor">{% trans "Extractor" %}</a>
									{% endif %}
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>

			{% if document.preview_file_id > 0 %}
			<div class="col-xs-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						{% trans "Preview" %}

						{% if settings.setasign_pdf_extractor %}
						<span class="pull-right">
							{% if extractor_pdf is defined %}
								<a href="/setting/extractor/pdf?action=edit&id={{ extractor_pdf.id }}">
									<i class="fa fa-file-text" aria-hidden="true"></i> {% trans "Edit extractor" %}
								</a>
							{% else %}
								<a href="/setting/extractor/pdf?action=create&document_id={{ document.id }}">
									<i class="fa fa-file-text" aria-hidden="true"></i> {% trans "Create extractor" %}
								</a>
							{% endif %}
						</span>
						{% endif %}
					</div>
					<div class="panel-body text-center zoom">
						<img src="/picture?id={{ document.preview_file_id }}&size=document_preview" />
					</div>
				</div>
			</div>
			{% endif %}

			{% include '/administrative/document/document.form.supplier.twig' %}
		</div>

		{% if document.classname == 'Document_Incoming_Invoice' or document.classname == 'Document_Incoming_Creditnote' %}
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">{% trans "Payments" %}</div>
					<div class="panel-body">
					{% for balance in document.get_bank_account_statement_transaction_balances() %}
						{% set transaction = balance.bank_account_statement_transaction %}
						{% if loop.first %}
							<table class="table table-hover table-alternate">
								<thead>
									<tr>
										<th width="15%">{% trans "Date" %}</th>
										<th>&nbsp;</th>
										<th>{% trans "Message" %}</th>
										<th>{% trans "To" %}</th>
										<th>{% trans "Account number" %}</th>
										<th>{% trans "Amount" %}</th>
									</tr>
								</thead>
								<tbody>
								<tr>
									<td>{{ document.date|date }}</td>
									<td colspan="4">{% trans "Incoming invoice" %} {{ document.id }}</td>
									<td>&euro;{{ document.price_incl|number_format }}</td>
								</tr>
						{% endif %}
						<tr>
							<td>{{ transaction.date|date }}</td>
							<td>
								<a href="/financial/account/transaction?action=edit&id={{ transaction.id }}">
									{% trans "Transaction" %} {{ transaction.id }}
								</a>
							</td>
							<td>{{ transaction.get_message() }}</td>
							<td>{{ transaction.other_account_name }}</td>
							<td>{{ transaction.other_account_number|iban_to_human_format }}</td>
							<td>&euro;{{ balance.amount|number_format }}</td>
						</tr>
						{% if loop.last %}
							</tbody>
							<thead>
								<tr>
									<th colspan="5">{% trans "Balance" %}</th>
									<th>&euro;{{ document.get_balance()|number_format }}</th>
								</tr>
							</thead>
							</table>
						{% endif %}
					{% else %}
						<p>{% trans "No payments added yet" %}</p>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% include 'administrative/document/extractor/modal.extractor_error.twig' with {id: 'extractor_error' }  %}
		{% include 'administrative/document/extractor/modal.extractor.twig' with {id: 'extractor', modal_size: 'lg' }  %}

		<script type="text/javascript">
			function show_classname_fields() {
				classname = $('#slc_classname').val();

				$('[class*="classname_"]').hide();
				$('.classname_' + classname.toLowerCase()).show();
				select_payment_message_type();
				set_contract_for();
				set_documentation_for();
			}

			$('#btn_extractor').on('click', function() {
				$(this).html('<i class="fa fa-circle-o-notch fa-spin fa-fw"></i> {% trans "Extractor" %}');

				$.getJSON('/administrative/document?action=ajax_extractor&id={{ document.id }}', function(data) {
					$('#btn_extractor').html('{% trans "Extractor" %}');

					if (data === false) {
						$('#extractor_error').modal('show');
					} else {
						$('#extractor .modal-body #form_extract').load( '/administrative/document?action=ajax_extract_content&id={{ document.id }}&extractor_id=' + data.id);
						$('#extractor').modal('show');
					}
				});
			});

			show_classname_fields();
		</script>


	{% elseif action == 'add' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/administrative/document">{% trans "Documents" %}</a></li>
			<li class="active">{% trans "Add document" %}</li>
		</ol>

		{% if errors is defined %}
			<div class="alert alert-danger">
				{% trans "The form contains mistakes. Please correct them." %}
			</div>
		{% endif %}

		<form class="form form-horizontal form-condensed" method="post" action="/administrative/document?action=add">

			<div class="panel panel-default">
				<div class="panel-body">

					<div class="form-group{% if 'title' in errors|keys %} has-error{% endif %}">
						<label for="title" class="col-xs-3 control-label">{% trans "Title" %}</label>
						<div class="col-xs-9">
							<input type="text" name="document[title]" id="title" class="form-control" value="{{ document.title }}">
							{{ form.invalid_input('title', errors) }}
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Tags" %}</label>
						<div class="col-xs-9">
							<input type="text" class="form-control autocomplete-tag" name="tag_ids" value="" />
						</div>
					</div>

					<div class="form-group{% if 'file_id' in errors|keys %} has-error{% endif %}">
						<label for="file_id" class="col-xs-3 control-label">{% trans "File" %}</label>
						<div class="col-xs-9">
							<div id="document-file" class="form-control-static hide">
								{% if document.file_id > 0 %}
									<div class="file">
										<input type="hidden" name="document[file_id]" value="{{ document.file_id }}" />
										<span>
											<strong>{{ document.file.name }}</strong>
										</span>
										[ {{ document.file.get_human_size() }} ]
										<a href="javascript:void(0);" onclick="remove_file($(this).parents('.file'));" title="{% trans "Delete file" %}">
											<span class="glyphicon glyphicon-remove"></span>
										</a>
									</div>
								{% endif %}

								{{ form.invalid_input('file_id', errors) }}
							</div>

							<div class="dropzone" id="document-dropzone">
								<div class="dz-default dz-message">
									<span>{% trans "Drag and Drop file" %}</span>
									<span>({% trans "or click here" %})</span>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
										<span class="sr-only">0% Complete</span>
									</div>
								</div>
								<div class="fallback"></div>
							</div>

						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Save" %}
							</button>
						</div>
					</div>

				</div>
			</div>
		</form>

	{% else %}
		{% block pager %}
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li class="active">{% trans "Documents" %}</li>
		</ol>

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Filter" %}
			</div>
			<div class="panel-body">
				<form method="post" action="/administrative/document" class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Search" %}</label>
						<div class="col-xs-9">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Type" %}</label>
						<div class="col-xs-9">
							<select name="type" class="form-control">
								<option value=""> - - - </option>
								<option value="Document" {% if pager.has_condition('classname', 'Document') %}selected{% endif %}>
									{% trans "Standard document" %}
								</option>
								<option value="Document_Contract" {% if pager.has_condition('classname', 'Document_Contract') %}selected{% endif %}>
									{% trans "Contract" %}
								</option>
								<option value="Document_Documentation" {% if pager.has_condition('classname', 'Document_Documentation') %}selected{% endif %}>
									{% trans "Documentation" %}
								</option>
								<option value="Document_Incoming_Invoice" {% if pager.has_condition('classname', 'Document_Incoming_Invoice') %}selected{% endif %}>
									{% trans "Incoming invoice" %}
								</option>
								<option value="Document_Incoming_Creditnote" {% if pager.has_condition('classname', 'Document_Incoming_Creditnote') %}selected{% endif %}>
									{% trans "Incoming creditnote" %}
								</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Tags" %}</label>
						<div class="col-xs-9">
							<input type="text" class="form-control autocomplete-tag" name="tag_ids" value="" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% if env.sticky_session.message is defined %}
			{{ base.display_flash_message(env.sticky_session.message, 'document') }}
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">
					<a href="/administrative/document?action=add" title="">
						<span class="glyphicon glyphicon-plus-sign"></span>
						{% trans "Add document" %}
					</a>
				</div>

				{{ base.pager_count(pager.item_count) }}
			</div>
			<div class="panel-body">
			{% for document in pager.items %}
			{% if loop.first %}
				<table class="table table-hover table-striped table-condensed table-responsive">
				<thead>
					<tr>
						<th>{{ pager.create_header('#'|trans, 'document.id')|raw }}</th>
						<th>{{ pager.create_header('Date'|trans, 'document.date')|raw }}</th>
						<th>{{ pager.create_header('Title'|trans, 'title')|raw }}</th>
						<th>{{ pager.create_header('Type'|trans, 'classname')|raw }}</th>
						<th>{% trans "Tags" %}</th>
						<th colspan="3">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
			{% endif %}

			<tr>
				<td>{{ document.id }}</td>
				<td>{{ document.date|date }}</td>
				<td>{{ document.title }}</td>
				<td>
					{% if document.classname == "Document" %}
						{% trans "Standard document" %}
					{% elseif document.classname == 'Document_Contract' %}
						{% trans "Contract" %}
					{% elseif document.classname == 'Document_Documentation' %}
						{% trans "Documentation" %}
					{% elseif document.classname == 'Document_Incoming_Invoice' %}
						{% trans "Incoming invoice" %}
					{% elseif document.classname == 'Document_Incoming_Creditnote' %}
						{% trans "Incoming creditnote" %}
					{% else %}
						{{ document.classname }}
					{% endif %}
				</td>
				<td>
					{% set document_tags = [] %}
					{% for tag in tags %}
						{% if document.has_tag(tag) %}
							{% set document_tags = document_tags|merge([tag]) %}
						{% endif %}
					{% endfor %}

					{% for document_tag in document_tags %}
						{{ document_tag.name }}{% if not loop.last %}, {% endif %}
					{% endfor %}

				</td>
				<td width="20">
					<a href="/administrative/document?action=edit&id={{ document.id }}" title="{% trans "Edit document" %}">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
				</td>
				<td width="20">
					<a href="/administrative/document?action=delete&id={{ document.id }}" title="{% trans "Delete document" %}" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure" %}?">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				</td>
			</tr>

			{% if loop.last %}
				</tbody>
				</table>

				{{ pager.links|raw }}
			{% endif %}

			{% else %}

				<p><em>{% trans "No documents found." %}</em></p>

			{% endfor %}
			</div>
		</div>
		{% endblock pager %}

	{% endif %}

{% endblock content %}

{% block javascript %}
	<script type="text/javascript" src="/bootstrap-tokenfield.min.js"></script>
	<script type="text/javascript" src="/bloodhound.min.js"></script>
	<script type="text/javascript" src="/typeahead.min.js"></script>
	<script type="text/javascript">

		var tags = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			remote: '/administrative/tag?action=ajax_search&search=%QUERY'
		});

		tags.initialize();

		$('.autocomplete-tag').tokenfield({
			typeahead: [null, { source: tags.ttAdapter(), displayKey: 'label' }]
		});

		$('.autocomplete-tag').tokenfield('setTokens', [{% for selected_tag in selected_tags %}{ value: "{{ selected_tag.id }}", label: "{{ selected_tag.name }}" }{% if not loop.last %},{% endif %}{% endfor %}]);

		$('.autocomplete-tag').on('tokenfield:createtoken', function(e) {
			if (e.attrs['value'] == e.attrs['label']) {
				return false;
			}
		});

	</script>

	{% if action == 'add' or action == 'edit' %}

		<script type="text/javascript" src="/dropzone/dist/dropzone.js"></script>
		<script type="text/javascript" src="/handlebars/handlebars.min.js"></script>
		<script type="text/x-handlebars-template" id="document-file-template">
			<div class="file">
				<input type="hidden" name="document[file_id]" value="((file.id))" />
				<span>
					<strong>((file.name))</strong>
				</span>
				[ ((file.human_size)) ]
				<a href="javascript:void(0);" onclick="remove_file($(this).parents('.file'));" title="{% trans "Delete file" %}">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</div>
		</script>
		<script type="text/javascript">

			Dropzone.autoDiscover = false;

			$('#document-dropzone').dropzone({
				url: '/administrative/document?action=add_file',
				paramName: 'file',
				parallelUploads: 1,
				createImageThumbnails: false,
				init: function() {
					this.on('success', function(file, responseText) {
						var source = $("#document-file-template").html();
						Handlebars.setDelimiter('(',')');
						var template = Handlebars.compile(source);
						if ($('#document-file').find('.file').length == 1) {
							$("#document-file").html('');
							$('#document-file').addClass('hide');
						}

						try {
							response = jQuery.parseJSON(responseText);
							$("#document-file").append(template(response));
							$('#document-dropzone').hide();
							$('#document-file').find('.help-block').remove();
							$('#document-file').closest('.form-group').removeClass('has-error');
							$('#document-file').removeClass('hide');
						}
						catch (e) {
							$('#document-file').html(e);
							$('#document-file').removeClass('hide');
						}
					});

					this.on('uploadprogress', function(file, progress) {
						$(this.element).find('.progress-bar').css('width', progress + '%');
					});

					this.on('complete', function() {
						$(this.element).find('.progress-bar').css('width', '100%');
						$(this.element).find('.progress').fadeOut();
					});

					this.on('addedfile', function() {
						$(this.element).find('.progress').show();
					});
				}
			});

			if ($('#document-file').find('.file').length == 1) {
				$('#document-dropzone').hide();
				$('#document-file').removeClass('hide');
			}

			function remove_file(object) {
				object.remove();
				$('#document-dropzone').show();
				$('#document-file').addClass('hide');
			}

			$(document).ready(function() {
				$('.zoom').zoom({
					url: '/picture?id={{ document.preview_file_id }}'
				});
			});

		</script>
	{% endif %}

	{% if action == 'edit' %}
		<script type="text/javascript">

			var suppliers = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: '/administrative/supplier?action=ajax_search&search=%QUERY'
			});

			suppliers.initialize();

			$('.autocomplete_supplier').typeahead({
				hint: true,
				highlight: true,
				minLength: 2
			},{
				name:	'supplier',
				displayKey: 'value',
				source:	suppliers.ttAdapter()
			});
			$('.autocomplete_supplier').on('typeahead:selected typeahead:autocompleted', function(e,data) {
				$('.supplier_id').val(data.id);
				$("#autocomplete_supplier_btn").removeClass("hide");
			});

			var customers = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: '/administrative/customer?action=ajax_search&search=%QUERY'
			});

			customers.initialize();

			$('.autocomplete_customer').typeahead({
				hint: true,
				highlight: true,
				minLength: 2
			},{
				name:	'customer',
				displayKey: 'value',
				source:	customers.ttAdapter()
			});
			$('.autocomplete_customer').on('typeahead:selected typeahead:autocompleted', function(e,data) {
				$('.customer_id').val(data.id);
			});
		</script>
	{% endif %}



{% endblock javascript %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/typeahead.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap-tokenfield.min.css">
{% endblock %}
