{% extends "_default/layout.base.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block content %}
	{% if action == 'edit' %}
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/administrative/incoming">{% trans "Incoming" %}</a></li>
			<li class="active">{% trans "Edit incoming" %}</li>
		</ol>

		{% set incoming_pages = incoming.get_incoming_pages() %}
		<form action="/administrative/incoming?action=merge&id={{ incoming.id }}" method="post">
			{% if incoming_pages|length > 0 %}
				<input type="hidden" name="selected_pages" id="selected_pages" value="" />
				<div class="well">
					{% trans "Please select 1 or more pages to convert to a document." %} (<a href="javascript:void(0);" onclick="toggle_pages();">{% trans "toggle all" %}</a>)

					<div class="text-right">
						<button type="submit" id="btn_convert_pages" class="btn btn-primary" onclick="populate_form();">{% trans "Convert pages" %}</button>
					</div>
				</div>
			{% else %}
				<div class="alert alert-warning">
				    {% trans "It was impossible to extract the pages for this document. You can only convert the document as a whole." %}
					<br>
					<button type="submit" id="btn_convert_document" class="btn btn-primary">{% trans "Convert document" %}</button>
				</div>
			{% endif %}
		</form>

		{% for incoming_page in incoming_pages %}
			{% if loop.first %}
				<div id="sortable" class="row">
			{% endif %}

				<div class="col-xs-2" id="page_{{ incoming_page.id }}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span class="drag-handle">
								<i class="fa fa-arrows-alt"></i>
							</span>
							{{ incoming_page.file.name }}

							<span class="pull-right">
								<a href="/administrative/incoming?action=rotate_page&id={{ incoming_page.id }}" alt="{% trans "Rotate clockwise" %}"><i class="fa fa-repeat"></i></a>
							</span>
						</div>
						<div class="panel-body zoom">
							{% if incoming_page.preview_file_id > 0 %}
								<img src="/picture?id={{ incoming_page.preview_file_id }}" class="hide"/>
								<img src="/picture?id={{ incoming_page.preview_file_id }}&size=incoming_preview" />
							{% endif %}
						</div>

						<div class="panel-footer">
							<button class="btn btn-success">{% trans "Select" %}</button>
							<a class="btn btn-danger" href="/administrative/incoming?action=remove_page&id={{ incoming_page.id }}" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure you want to delete this page?" %}">{% trans "Remove page" %}</a>
						</div>
					</div>
				</div>

			{% if loop.last %}
				</div>
			{% endif %}

		{% endfor %}

		<script type="text/javascript">
			$(function(){
				/**
				 * Zoom thumbnails
				 */
				$('.zoom').zoom();

				/**
				 * Make panels the same height
				 */
				highest = 0;
				$('.panel-body').each(function() {
					height = $(this).height();
					if (height > highest) {
						highest = height;
					}
				});

				$('.panel-body').height(highest);

				/**
				 * Make panel selectable
				 */
				$('.btn.btn-success').on('click', function() {
					if ($(this).parents('.panel').hasClass('panel-success')) {
						$(this).parents('.panel').removeClass('panel-success');
					} else {
						$(this).parents('.panel').addClass('panel-success');
					}
					activate_convert_button();
				})

				/**
				 * Delete a page
				 */
//				$('.btn.btn-danger').on('click',

				$('#sortable').sortable({
					handle: ".panel-heading"
				});

				activate_convert_button();
			});

			function activate_convert_button() {
				count = $('.panel.panel-success').length;
				if (count == 0) {
					$('#btn_convert_pages').prop('disabled', true);
				} else {
					$('#btn_convert_pages').prop('disabled', false);
				}
			}

			function populate_form() {
				page_ids = $("#sortable").sortable( "toArray" );
				selected = [];
				$.each(page_ids, function(index, value) {
					if ($('#' + value + ' .panel').hasClass('panel-success')) {
						selected.push(value);
					}
				})
				$('#selected_pages').val(selected);
				return true;
			}

			function toggle_pages() {
				$('.btn.btn-success').each(function() {
					$(this).click();
				});
			}

		</script>

	{% else %}
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li class="active">{% trans "Incoming" %}</li>
		</ol>

		{% if env.sticky_session.message is defined %}
			{{ base.display_flash_message(env.sticky_session.message, 'incoming') }}
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Filter" %}
			</div>
			<div class="panel-body">
				<form method="post" action="/administrative/incoming" class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Search" %}</label>
						<div class="col-xs-9">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				{{ base.pager_count(pager.item_count) }}
			</div>
			<div class="panel-body">
			{% for incoming in pager.items %}
				{% if loop.first %}
					<table class="table table-hover table-striped table-condensed table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>{{ pager.create_header('Created'|trans, 'created')|raw }}</th>
							<th>{{ pager.create_header('Title'|trans, 'title')|raw }}</th>
							<th colspan="2">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
				{% endif %}

					<tr>
						<td>{{ incoming.id }}</td>
						<td>{{ incoming.created|date('d/m/Y H:i:s') }}</td>
						<td>{{ incoming.subject }}</td>
						<td width="20">
							<a href="/administrative/incoming?action=edit&id={{ incoming.id }}" title="{% trans "Edit incoming" %}">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</td>
						<td width="20">
							<a href="/administrative/incoming?action=delete&id={{ incoming.id }}" title="{% trans "Delete incoming" %}" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure you want to delete this document?" %}">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>

				{% if loop.last %}
					</tbody>
					</table>

					{{ pager.links|raw }}
				{% endif %}

			{% else %}

				<p><em>{% trans "No incoming found." %}</em></p>

			{% endfor %}
			</div>
		</div>
	{% endif %}

{% endblock content %}


{% block head %}
	<link rel="stylesheet" type="text/css" href="/typeahead.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap-tokenfield.min.css">
{% endblock %}
