{% extends "_default/layout.base.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block content %}

	{% if action == 'add' %}

		{% include 'administrative/supplier/add.twig' %}

	{% elseif env.module.get_name() != 'administrative_supplier' %}

		<div class="row">
			<div class="col">
				<h4>{% trans "Suppliers" %}</h4>
			</div>
			<div class="col">
				<div class="float-end">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/administrative/supplier">
									{% trans "Suppliers" %}
								</a>
							</li>
							<li class="breadcrumb-item active">
								{% trans "Supplier" %} {{ supplier.company }}
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
					<li class="nav-item">
						<a href="/administrative/supplier/detail?id={{ supplier.id }}" class="nav-link {% if env.module.get_name() == 'administrative_supplier_detail' %}active{% endif %}">
							{% trans "Details" %}
						</a>
					</li>
					<li class="nav-item">
						<a href="/administrative/supplier/document?id={{ supplier.id }}" class="nav-link {% if env.module.get_name() == 'administrative_supplier_document' %}active{% endif %}">
							{% trans "Documents" %}
						</a>
					</li>
				</ul>
			</div>

			<div class="card-body tab-content">
				<div class="tab-pane show active">
					{% block tab %}{% endblock tab %}
				</div>
			</div>
		</div>

	{% else %}

		<div class="row">
			<div class="col">
				<h4>{% trans "Supplier" %}</h4>
			</div>
		</div>

		<div class="card mb-3">
			<div class="card-header">
				{% trans "Filter" %}
			</div>
			<div class="card-body">
				<form method="post" action="/administrative/customer" class="form-horizontal">
					<div class="row mb-3">
						<label class="col-form-label col-3 text-end">{% trans "Search" %}</label>
						<div class="col-9">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-3 offset-3">
							<button class="btn btn-primary">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% if env.sticky_session.message is defined %}
			{{ base.display_flash_message(env.sticky_session.message, 'supplier') }}
		{% endif %}

		<div class="card">
			<div class="card-header">
				<div class="pull-right">
					<a href="/administrative/supplier?action=add" title="">
						<i data-feather="plus"></i>
						{% trans "Add supplier" %}
					</a>
				</div>
				{{ base.pager_count(pager.item_count) }}
			</div>
			<div class="card-body">
			{% for supplier in pager.items %}
			{% if loop.first %}
				<table class="table table-hover table-striped table-condensed table-responsive">
				<thead>
					<tr>
						<th>#</th>
						<th>{{ pager.create_header('Company'|trans, 'company')|raw }}</th>
						<th>{{ pager.create_header('City'|trans, 'city')|raw }}</th>
						<th>{% trans "Country" %}</th>
						<th>{{ pager.create_header('Vat'|trans, 'vat')|raw }}</th>
						<th>{{ pager.create_header('Accounting ID'|trans, 'supplier.accounting_identifier')|raw }}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
			{% endif %}

			<tr>
				<td>{{ supplier.id }}</td>
				<td>{{ supplier.company }}</td>
				<td>{{ supplier.city }}</td>
				<td>
					{% if supplier.country_id > 0 %}{{ attribute(supplier.country, 'text_' ~ env.language.name_short ~ '_name') }}{% else %}<em>{% trans "Unknown country" %}</em>{% endif %}
				</td>
				<td>{{ supplier.get_vat_formatted() }}</td>
				<td>{{ supplier.accounting_identifier }}</td>
				<td>
					<a href="/administrative/supplier/detail?id={{ supplier.id }}" title="">
						<i data-feather="edit"></i>
					</a>
				</td>
			</tr>

			{% if loop.last %}
				</tbody>
				</table>

				{{ pager.links|raw }}
			{% endif %}

			{% else %}

				<p><em>{% trans "No suppliers found." %}</em></p>

			{% endfor %}
			</div>
		</div>

	{% endif %}

{% endblock content %}
