{% extends env.session.is_ajax ? "ajax.layout.twig" : "base.layout.twig" %}

{% block content %}

{% if action == 'edit' %}
	<ul class="breadcrumb">
		<li><a href="/administrative/tag">{% trans "Tags" %}</a> <span class="divider">/</span></li>
		<li class="active">{% trans "Edit tag" %}</li>
	</ul>
	<div class="page-header">
		<h3>{% trans "Edit tag" %}</h3>
	</div>

	{% if saved %}
	<div class="alert alert-success">
		{% trans "Tag details saved" %}
	</div>
	{% endif %}

	{% set parameters = {
		'tag': tag,
	} %}
	{% include 'snippet/form/tag.twig' with parameters %}

{% else %}
	<ul class="breadcrumb">
		<li class="active">{% trans "Tags" %}</li>
	</ul>

	<div class="page-header">
		<h3>{% trans "Tags" %}</h3>
		<div class="pull-right pull-up-h3">
			{{ base.modal('Add tag'|trans, 'button', 'icon-plus-sign', 'form/tag', 'Add tag'|trans) }}
		</div>
	</div>

	<form class="well form-horizontal" method="post" action="{{ env.server.REQUEST_URI }}" >
		<div class="control-group">
			<label class="control-label" for="search">{% trans "Search" %}</label>
			<div class="controls">
				<div class="input-append">
					<input type="text" name="search" value="{{ pager.get_search() }}"/>
					<button class="btn" type="submit">{% trans "Search" %}</button>
				</div>
			</div>
		</div>
	</form>

	{% for tag in pager.items %}
		{% if loop.first %}
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>{% trans "ID" %}</th>
						<th>{% trans "Name" %}</th>
						<th>{% trans "Identifier" %}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
		{% endif %}

		<tr>
			<td>{{ tag.id }}</td>
			<td>{{ tag.name }}</td>
			<td>{{ tag.identifier }}</td>
			<td>
				<a href="/administrative/tag?action=edit&id={{ tag.id }}">
					<i class="icon-pencil"></i>
				</a>
				<a href="/administrative/tag?action=delete&id={{ tag.id }}">
					<i class="icon-trash"></i>
				</a>
			</td>
		</tr>

		{% if loop.last %}
				</tbody>
			</table>
			{{ pager.links|raw }}
		{% endif %}
	{% else %}
		<p>{% trans "No tags found" %}</p>
	{% endfor %}
{% endif %}

{% endblock content %}
