<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<style type="text/css">
		@page {
			margin: 0;
			margin-top: 20mm;
			margin-bottom: 30mm
		}

		body {
			background-position: left bottom;
			background-repeat: no-repeat;
			font-family: helvetica;
			font-size: 11px;
			margin-top: 38mm;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0
		}

		thead th {
			background-color: #666666;
			color: #ffffff;
			font-weight: bold;
			text-align: left;
			padding: 1mm 2mm
		}

		tbody td {
			padding: 1mm 2mm
		}

		p {
			margin: 2mm
		}

		#header {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			height: 20mm;
			font-size: 14px;
		}

			#company_logo {
				position: absolute;
				left: 20mm;
				top: -6mm;
				background: #ffffff;
				padding: 0
			}

		#footer {
			position: fixed;
			left: 22mm;
			bottom: -30mm;
			right: 22mm;
			height: 28mm;
			border-bottom: solid 4px #cccccc
		}

		#company_info {
			position: absolute;
			right: 0;
			top: 2mm;
			color: #666666;
			line-height: 4mm;
			font-size: 8pt;
			border-top: solid 1px #cccccc;
			padding-top: 2mm
		}

		#recipient_info {
			position: absolute;
			top: -10mm;
			left: 120mm;
			font-size: 12px
		}

		#page_wrapper {
			position: relative;
			margin: 29mm 20mm 0 20mm
		}

	</style>
	{% block head %}{% endblock head %}
</head>
<body>
	<script type="text/php">
	{% block php_script %}
		if ( isset($pdf) ) {
			$pdf->page_script('
				if ($PAGE_COUNT > 1) {
					$current_page = "Pagina " . $PAGE_NUM . "/" . $PAGE_COUNT;
					$size = 8;
					$font = Font_Metrics::get_font("verdana", "normal");

					$y = $pdf->get_height() - 41;
					$x = $pdf->get_width() - 62 - Font_Metrics::get_text_width($current_page, $font, $size);

					$pdf->text($x, $y, $current_page, $font, $size, array(0.4,0.4,0.4));

				}
			');
		}
	{% endblock php_script %}
	</script>

	<div id="header">
		<div id="company_logo">
			<strong>{{ company_info.company }}</strong>
		</div>
	</div>

	<div id="footer">
		<ul id="company_info">
			<li style="color: #111111"><strong>{{ company_info.company }}</strong></li>
			<li>{{ company_info.street }} {{ company_info.housenumber }} - {{ company_info.zipcode }} {{ company_info.city }} - {{ company_info.country }}</li>
			<li style="padding-top: 1mm">
			{% set cinfo = {'T': company_info.phone, 'W': company_info.website, 'E': company_info.email, 'B': company_info.vat} %}
			{% for key, item in cinfo %}
				{{ key }}: {{ item }}
				{% if not loop.last %} - {% endif %}
			{% endfor %}
			</li>
		</ul>
	</div>

	{% block recipient %}

	{% if recipient_info %}
		<ul id="recipient_info">
		{% if recipient_info.company == '' %}
			<li>{{ recipient_info.firstname }} {{ recipient_info.lastname }}</li>
		{% else %}
			<li>{{ recipient_info.company }}</li>
		{% endif %}
			<li>{{ recipient_info.street }} {{ recipient_info.housenumber }}</li>
			<li>{{ recipient_info.zipcode }} {{ recipient_info.city }}</li>
			<li>{{ recipient_info.country.name }}</li>
		</ul>
	{% endif %}

	{% endblock recipient %}

	<div id="page_wrapper">
		{% block content %}{% endblock content %}
	</div>
</body>
</html>
