{% extends "_default/layout.base.twig" %}

{% block content %}

	{% if action == 'import_finish' %}
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/financial/account">{% trans "Bank accounts" %}</a></li>
			<li>{% trans "Import" %}</li>
		</ol>
		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Import bank transactions" %}</div>
			<div class="panel-body">
				<div class="alert alert-success">
					{% trans "Successfully imported the bank transactions" %}
				</div>

				<div class="pull-right">
					<a href="/financial/account?action=import" class="btn btn-primary">
						{% trans "New import" %}
					</a>
				</div>
			</div>
		</div>
	{% elseif action == 'export' %}
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/financial/account">{% trans "Bank accounts" %}</a></li>
			<li>{% trans "Export" %}</li>
		</ol>


		<form class="form-horizontal" method="post" action="/financial/account?action=export&id={{ bank_account.id }}">
		<div class="well">

			<div class="form-group">
				<label class="col-xs-3 control-label">{% trans "Export bank account" %}</label>
				<div class="col-xs-9">
					<p class="form-control-static">
						{{ bank_account.name }}, {{ bank_account.description }} ({{ bank_account.number }})
					</p>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{% trans "Export statements" %}</label>
				<div class="col-xs-9">
					<select name="bank_account_statement_ids[]" class="form-control multiselect" multiple="multiple">
					{% for year in ("now"|date("Y")).."now"|date("Y")-2 %}
						<optgroup label="{{ year }}">
							{% for bank_account_statement in bank_account.get_bank_account_statements_by_year(year) %}
								<option value="{{ bank_account_statement.id }}">{{ bank_account_statement.sequence }} ({{ bank_account_statement.original_situation_date|date }} - {{ bank_account_statement.new_situation_date|date }})</option>
								{% endfor %}
						</optgroup>
					{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{% trans "Export format" %}</label>
				<div class="col-xs-4">
					<select name="export_format" class="form-control">
						<option value="Export_Expertm_Financial">Expert/M</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9 col-xs-offset-3">
					<button type="submit" class="btn btn-primary">
						{% trans "Download" %}
					</button>
				</div>
			</div>
		</div>
		</form>


	{% elseif action == 'import' %}
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/financial/account">{% trans "Bank accounts" %}</a></li>
			<li>{% trans "Import" %}</li>
		</ol>

		<form class="form-horizontal" method="post" action="/financial/account?action=import">
		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Import bank transactions" %}</div>
			<div class="panel-body">
				<div class="form-group{% if 'file_id' in errors|keys %} has-error{% endif %}">
					<label for="file_id" class="col-xs-3 control-label">{% trans "File" %}</label>
					<div class="col-xs-9">
						<div id="import-file" class="form-control-static hide">
							{% if import.file_id > 0 %}
								<div class="file">
									<input type="hidden" name="import[file_id]" value="{{ import.file_id }}" />
									<span>
										<strong>{{ import.file.name }}</strong>
									</span>
									[ {{ import.file.get_human_size() }} ]
									<a href="javascript:void(0);" onclick="remove_file($(this).parents('.file'));" title="{% trans "Delete file" %}">
										<span class="glyphicon glyphicon-remove"></span>
									</a>
								</div>
							{% endif %}

							{{ form.invalid_input('file_id', errors) }}
						</div>

						<div class="dropzone" id="import-dropzone">
							<div class="dz-default dz-message">
								<span>{% trans "Drag and Drop file" %}</span>
								<span>({% trans "or click here" %})</span>
							</div>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
									<span class="sr-only">0% Complete</span>
								</div>
							</div>
							<div class="fallback"></div>
						</div>
					</div>
				</div>

				<div class="form-group hidden form_submit">
					<div class="col-xs-9 col-xs-offset-3">
						<button type="submit" class="btn btn-primary">{% trans "Start import" %}</button>
					</div>
				</div>
			</div>
		</div>
		</form>

		<script type="text/javascript" src="/dropzone/dist/dropzone.js"></script>
		<script type="text/javascript" src="/handlebars/handlebars.min.js"></script>
		<script type="text/x-handlebars-template" id="import-file-template">
			<div class="file">
				<div class="row">
					<div class="col-xs-12">
						<input type="hidden" name="import[file_id]" value="((file.id))" />
						<span>
							<strong>((file.name))</strong>
						</span>
						[ ((file.human_size)) ]
						<a href="javascript:void(0);" onclick="remove_file($(this).parents('.file'));" title="{% trans "Delete file" %}">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						((parser.classname))
					</div>
				</div>

			</div>

		</script>
		<script type="text/javascript">

			Dropzone.autoDiscover = false;

			$('#import-dropzone').dropzone({
				url: '/financial/account?action=add_file',
				paramName: 'file',
				parallelUploads: 1,
				createImageThumbnails: false,
				init: function() {
					this.on('success', function(file, responseText) {
						var source = $("#import-file-template").html();
						Handlebars.setDelimiter('(',')');
						var template = Handlebars.compile(source);
						if ($('#import-file').find('.file').length == 1) {
							$("#import-file").html('');
							$('#import-file').addClass('hide');
						}

						try {
							response = jQuery.parseJSON(responseText);
							$("#import-file").append(template(response));
							$('#import-dropzone').hide();
							$('#import-file').find('.help-block').remove();
							$('#import-file').closest('.form-group').removeClass('has-error');
							$('#import-file').removeClass('hide');
						}
						catch (e) {
							$('#import-file').html(e);
							$('#import-file').removeClass('hide');
						}
console.log(response);
						if (response.parser != false) {
							$('.form_submit').removeClass('hidden');
						}

					});

					this.on('uploadprogress', function(file, progress) {
						$(this.element).find('.progress-bar').css('width', progress + '%');
					});

					this.on('complete', function() {
						$(this.element).find('.progress-bar').css('width', '100%');
						$(this.element).find('.progress').fadeOut();
					});

					this.on('addedfile', function() {
						$(this.element).find('.progress').show();
					});
				}
			});

			if ($('#import-file').find('.file').length == 1) {
				$('#import-dropzone').hide();
				$('#import-file').removeClass('hide');
			}

			function remove_file(object) {
				object.remove();
				$('#import-dropzone').show();
				$('#import-file').addClass('hide');
				$('.form_submit').addClass('hidden');
			}

		</script>

	{% else %}
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li class="active">{% trans "Bank accounts" %}</li>
		</ol>

		<div class="alert alert-info">
			<p>
			{% trans "Below you can find a list of all your bank accounts." %} {% trans "Click on your account to see the transactions." %} {% trans "If your account is not shown, it was not yet included in any CODA file." %} {% trans "Press import to start importing a new CODA file." %}
			</p>
			<br />
			<a class="btn btn-info" href="/financial/account?action=import">{% trans "Import" %}</a>
		</div>

		<div class="row">
		{% for bank_account in bank_accounts %}
			{% include "financial/account/modal.account_settings.twig" with {id: 'modal_account_settings_' ~ bank_account.id, bank_account: bank_account} %}
			<div class="col-xs-3">
				<div class="panel panel-default panel-link" data-id="{{ bank_account.id }}">
					<div class="panel-body">
						<div class="pull-right">
							<a href="#modal_account_settings_{{ bank_account.id }}" data-toggle="modal" alt="{% trans "Settings" %}">
								<i class="fa fa-cog"></i> {% trans "Settings" %}
							</a>&nbsp;

							<a href="/financial/account?action=export&id={{ bank_account.id }}">
								<i class="fa fa-file"></i>
								{% trans "Export" %}
							</a>

						</div>

						<h4>
							{{ bank_account.number }}
						</h4>

						{{ bank_account.name }}<br />
						{{ bank_account.description }}<br /><br />

						{% set last_statement = bank_account.get_last_bank_account_statement() %}

						<h3><i>&euro;{{ last_statement.new_situation_balance|number_format }}</i></h3> ({% trans "Last update:" %} {{ last_statement.new_situation_date|date }}
					</div>
				</div>
			</div>
		{% endfor %}
		</div>

	{% endif %}

	<script type="text/javascript">
		$('.panel-link').on('click', function() {
			window.location = '/financial/account/transaction?id=' + $(this).data('id');
		});

		$('.panel-link a').on('click', function(e) {
			e.preventDefault();
			href = $(this).attr('href');
			if ($(this).data('toggle') == 'modal') {
				$(href).modal();
			} else {
				window.location = href;
			}
			return false;
		})
	</script>

{% endblock content %}
