{% extends "_default/layout.base.twig" %}

{% block content %}

<ol class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</a></li>
	<li><a href="/setting/extractor/pdf">{% trans "Extractor" %}</a></li>
	<li><a href="/setting/extractor/pdf?action=edit&id={{ extractor_pdf.id }}">{% trans "Edit Extractor" %} {{ extractor_pdf.id }}</a></li>
	<li class="active">{% trans "Manage fingerprints" %}</li>
</ol>

<div class="panel panel-default">
	<div class="panel-heading">{% trans "Manage fingerprints" %}</div>
	<div class="panel-body">
		<div class="form-group">
			<div class="col-xs-8">
				<img src="/picture?id={{ extractor_pdf.document.preview_file_id }}" />
			</div>
			<div class="col-xs-4" id="fingerprints">

			</div>
		</div>
	</div>
</div>

	<script type="text/template" id="fingerprints_loading">
		<div id="loading" class="alert alert-info">
			<i class="fa fa-cog fa-spin fa-fw"></i> {% trans "Loading fingerprints" %}
		</div>
	</script>
	<script type="text/template" id="fingerprints_none">
		<div id="loading" class="alert alert-warning">
			{% trans "No fingerprints selected" %}
		</div>
	</script>
	<script type="text/javascript">
		{% set preview_height = extractor_pdf.document.get_preview().height %}
		{% set preview_width = extractor_pdf.document.get_preview().width %}

		$(document).ready(function () {
			$('img').selectAreas({
				minSize: [10, 10],
				areas: [
					{% for extractor_pdf_fingerprint in extractor_pdf.get_extractor_pdf_fingerprints() %}
					{
						x: {{ extractor_pdf_fingerprint.x / 100 * preview_width }},
						y: {{ extractor_pdf_fingerprint.y / 100 * preview_height }},
						width: {{ extractor_pdf_fingerprint.width / 100 * preview_width }},
						height: {{extractor_pdf_fingerprint.height / 100 * preview_height }}
					}{% if not loop.last %},{% endif %}
					{% endfor %}
				],
				onChanged: update_fingerprints
			});

		});
		$(window).load(function() {
			update_fingerprints();
		});

		function update_fingerprints() {
			var areas = $('img').selectAreas('relativeAreas');
			$('#fingerprints').html( $('#fingerprints_loading').html() );
			$.post('/setting/extractor/pdf/fingerprint?action=clear_fingerprints&id={{ extractor_pdf.id }}', function() {
				$.each(areas, function() {
					data = {
						'coordinates': JSON.stringify($(this), null, 2)
					};

					$.post('/setting/extractor/pdf/fingerprint?action=add_fingerprint&id={{ extractor_pdf.id }}', data, function(response) {
						$('#fingerprints #loading').remove();
						$('#fingerprints').append(response + '<br />');
					});
					console.log($(this));
				});
			});
			if (areas.length == 0) {
				$('#fingerprints').html( $('#fingerprints_none').html() );
			}
		}

	</script>
{% endblock content %}
