{% extends "_default/layout.base.twig" %}

{% block content %}

	{% if action == 'edit' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/user">{% trans "Users" %}</a></li>
			<li class="active">{% trans "Edit user" %}</li>
		</ol>

		{% if errors is defined %}
			<div class="alert alert-danger">
				{% trans "The form contains mistakes. Please correct them." %}
			</div>
		{% elseif env.sticky_session.message is defined %}
			{{ base.display_flash_message(env.sticky_session.message, 'user') }}
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Details" %}
			</div>
			<div class="panel-body">
				<form class="form form-horizontal form-condensed" method="post" action="/user?action=edit&id={{ user.id }}">
					<div class="form-group{% if 'username' in errors|keys %} has-error{% endif %}">
						<label for="username" class="col-xs-3 control-label">{% trans "Username" %}</label>
						<div class="col-xs-9">
							<input type="text" name="user[username]" id="username" class="form-control" value="{{ user.username }}">
							{{ form.invalid_input('username', errors) }}
						</div>
					</div>

					<div class="form-group{% if 'firstname' in errors|keys %} has-error{% endif %}">
						<label for="firstname" class="col-xs-3 control-label">{% trans "Firstname" %}</label>
						<div class="col-xs-9">
							<input type="text" name="user[firstname]" id="firstname" class="form-control" value="{{ user.firstname }}">
							{{ form.invalid_input('firstname', errors) }}
						</div>
					</div>

					<div class="form-group{% if 'lastname' in errors|keys %} has-error{% endif %}">
						<label for="lastname" class="col-xs-3 control-label">{% trans "Lastname" %}</label>
						<div class="col-xs-9">
							<input type="text" name="user[lastname]" id="lastname" class="form-control" value="{{ user.lastname }}">
							{{ form.invalid_input('lastname', errors) }}
						</div>
					</div>

					<div class="form-group{% if 'email' in errors|keys %} has-error{% endif %}">
						<label for="email" class="col-xs-3 control-label">{% trans "Email" %}</label>
						<div class="col-xs-9">
							<input type="text" name="user[email]" id="email" class="form-control" value="{{ user.email }}">
							{{ form.invalid_input('email', errors) }}
						</div>
					</div>

					<div class="form-group{% if 'password' in errors|keys %} has-error{% endif %}">
						<label for="password" class="col-xs-3 control-label">{% trans "Password" %}</label>
						<div class="col-xs-9">
							<input type="password" name="user[password]" id="password" class="form-control" value="DONOTUPDATEME">
							{{ form.invalid_input('password', errors) }}
						</div>
					</div>

					<div class="form-group">
						<label for="language_id" class="col-xs-3 control-label">{% trans "Language" %}</label>
						<div class="col-xs-4">
							<select name="user[language_id]" id="language_id" class="form-control">
								{% for language in languages %}
									<option value="{{ language.id }}"{% if user.language_id == language.id %} selected{% endif %}>{{ language.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Save" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>


	{% elseif action == 'add' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/user">{% trans "Users" %}</a></li>
			<li class="active">{% trans "Add user" %}</li>
		</ol>

		{% if errors is defined %}
			<div class="alert alert-danger">
				{% trans "The form contains mistakes. Please correct them." %}
			</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Details" %}
			</div>
			<div class="panel-body">
				<form class="form form-horizontal form-condensed" method="post" action="/user?action=add">
					<div class="form-group{% if 'username' in errors|keys %} has-error{% endif %}">
						<label for="username" class="col-xs-3 control-label">{% trans "Username" %}</label>
						<div class="col-xs-9">
							<input type="text" name="user[username]" id="username" class="form-control" value="{{ env.post.user.username }}">
							{{ form.invalid_input('username', errors) }}
						</div>
					</div>

					<div class="form-group{% if 'firstname' in errors|keys %} has-error{% endif %}">
						<label for="firstname" class="col-xs-3 control-label">{% trans "Firstname" %}</label>
						<div class="col-xs-9">
							<input type="text" name="user[firstname]" id="firstname" class="form-control" value="{{ env.post.user.firstname }}">
							{{ form.invalid_input('firstname', errors) }}
						</div>
					</div>

					<div class="form-group{% if 'lastname' in errors|keys %} has-error{% endif %}">
						<label for="lastname" class="col-xs-3 control-label">{% trans "Lastname" %}</label>
						<div class="col-xs-9">
							<input type="text" name="user[lastname]" id="lastname" class="form-control" value="{{ env.post.user.lastname }}">
							{{ form.invalid_input('lastname', errors) }}
						</div>
					</div>

					<div class="form-group{% if 'email' in errors|keys %} has-error{% endif %}">
						<label for="email" class="col-xs-3 control-label">{% trans "Email" %}</label>
						<div class="col-xs-9">
							<input type="text" name="user[email]" id="email" class="form-control" value="{{ env.post.user.email }}">
							{{ form.invalid_input('email', errors) }}
						</div>
					</div>

					<div class="form-group{% if 'password' in errors|keys %} has-error{% endif %}">
						<label for="password" class="col-xs-3 control-label">{% trans "Password" %}</label>
						<div class="col-xs-9">
							<input type="password" name="user[password]" id="password" class="form-control" value="{{ env.post.user.password }}">
							{{ form.invalid_input('password', errors) }}
						</div>
					</div>

					<div class="form-group">
						<label for="language_id" class="col-xs-3 control-label">{% trans "Language" %}</label>
						<div class="col-xs-4">
							<select name="user[language_id]" id="language_id" class="form-control">
								{% for language in languages %}
									<option value="{{ language.id }}"{% if env.post.user.language_id == language.id %} selected{% endif %}>{{ language.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Save" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>


	{% else %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li class="active">{% trans "Users" %}</li>
		</ol>

		{% if env.sticky_session.message is defined %}
			{{ base.display_flash_message(env.sticky_session.message, 'user') }}
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">
					<a href="/user?action=add" title="">
						<span class="glyphicon glyphicon-plus-sign"></span>
						{% trans "Add user" %}
					</a>
				</div>
				{{ base.pager_count(pager.item_count) }}
			</div>
			<div class="panel-body">
			{% for user in pager.items %}
				{% if loop.first %}
					<table class="table table-hover table-striped table-condensed table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>{{ pager.create_header('First name'|trans, 'firstname')|raw }}</th>
							<th>{{ pager.create_header('Last name'|trans, 'lastname')|raw }}</th>
							<th>{{ pager.create_header('Username'|trans, 'username')|raw }}</th>
							<th colspan="2">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
				{% endif %}

					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.firstname }}</td>
						<td>{{ user.lastname }}</td>
						<td>{{ user.username }}</td>
						<td>
							<a href="/user?action=edit&id={{ user.id }}" title="">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
						</td>
						<td>
						{% if env.session.user.id != user.id %}
							<a href="/user?id={{ user.id }}&action=delete" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure you want to remove this user?" %}">
								<span class="glyphicon glyphicon-trash" />
							</a>
						{% endif %}
						</td>
					</tr>

				{% if loop.last %}
					</tbody>
					</table>
				{% endif %}
			{% endfor %}
			</div>
		</div>

	{% endif %}

{% endblock content %}
