{% extends "_default/layout.base.twig" %}

{% block content %}

	{% if action == 'create_step1' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/administrative/invoice/queue" title="">{% trans "Invoice queue" %}</a></li>
			<li>{% trans "Create invoice item" %}</li>
			<li class="active">{% trans "Select customer" %}</li>
		</ol>

		{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "Please select a customer." %}
		</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Select customer" %}
			</div>
			<div class="panel-body">
				<form method="post" action="/administrative/invoice/queue?action=create_step1" class="form-horizontal" id="invoice-queue-create-step1">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Customer" %}</label>
						<div class="col-xs-6">
							<input type="text" id="autocomplete_customer" name="customer" class="form-control typeahead" value="{% if customer is defined %}{{ customer.firstname }} {{ customer.lastname }}{% endif %}" placeholder="{% trans "Search customer..." %}">
							<input type="hidden" id="customer_id" name="customer_id" value="{% if customer is defined %}{{ customer.id }}{% endif %}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Next" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	{% elseif action == 'create_step2' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/administrative/invoice/queue" title="">{% trans "Invoice queue" %}</a></li>
			<li>{% trans "Create invoice item" %}</li>
			<li class="active">{% trans "Select invoice contact" %}</li>
		</ol>

		{% include 'administrative/invoice/modal.manage_invoice_contact.twig' with {'id': 'manage-invoice-contact'} %}

		{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "Please select an invoice contact." %}
		</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Select a invoice contact" %}
			</div>
			<div class="panel-body">

				<div class="row">
				{% for invoice_contact in invoice_contacts %}
					<div class="col-xs-3 invoice_contact" id="invoice-contact-{{ invoice_contact.id }}">
						<div class="panel panel-default">
							<div class="panel-body{% if invoice_contacts|length == 1 %} bg-info{% endif %}">
								<div class="actions hide">
									<a href="#manage-invoice-contact" data-toggle="modal" data-customer-id="{{ customer.id }}" data-invoice-contact-id="{{ invoice_contact.id }}">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
									<a href="javascript:void(0);" onclick="delete_contact({{ invoice_contact.id }})">
										<span class="glyphicon glyphicon-trash"></span>
									</a>

								</div>

								{% if invoice_contact.company != '' %}{{ invoice_contact.company }}<br>{% endif %}
								{{ invoice_contact.firstname }} {{ invoice_contact.lastname }}<br>
								{{ invoice_contact.street }} {{ invoice_contact.housenumber }}<br>
								{{ invoice_contact.zipcode }} {{ invoice_contact.city }}<br>
								{{ invoice_contact.country.name }}
								{% if invoice_contact.vat != '' %}<br>{{ invoice_contact.get_vat_formatted() }}{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
					<div class="col-xs-3">
						<div class="panel panel-default">
							<div class="panel-body text-center">
								<a class="btn btn-default" href="#manage-invoice-contact" data-toggle="modal" data-customer-id="{{ customer.id }}" data-customer-contacts="{{ invoice_contacts|length }}">
									{% trans "Create new" %}
								</a>
							</div>
						</div>
					</div>
				</div>

				<form method="post" action="/administrative/invoice/queue?action=create_step2" id="invoice-queue-create-step2">
					<input type="hidden" name="invoice_contact_id" value="{% if invoice_contacts|length == 1 %}{{ invoice_contacts.0.id }}{% endif %}">
					<button class="btn btn-primary">
						{% trans "Next" %}
					</button>
				</form>

			</div>
		</div>

		<script type="text/javascript">

			$('.invoice_contact').on({
				mouseenter: function() {
					$(this).find('.actions').toggleClass('hide');
				},
				mouseleave: function() {
					$(this).find('.actions').toggleClass('hide');
				},
				click: function() {
					$('.invoice_contact').find('.panel-body').removeClass('bg-info');
					$(this).find('.panel-body').first().addClass('bg-info');
					$('#invoice-queue-create-step2 input').val($(this).prop('id').replace('invoice-contact-', ''));
				}
			});

			function delete_contact(id) {
				$.get('/administrative/invoice/contact?action=delete&id=' + id, function(data) {
					if(data['status'] == 1) {
						$('#invoice-contact-' + id).remove();
						$('#invoice-queue-create-step2 input').val('');
					} else {
						alert('Error deleting contact');
					}
				}, 'json');
			}

		</script>

	{% elseif action == 'create_step3' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/administrative/invoice/queue" title="">{% trans "Invoice queue" %}</a></li>
			<li>{% trans "Create invoice item" %}</li>
			<li class="active">{% trans "Add items" %}</li>
		</ol>

		{% if errors is defined %}
		<div class="alert alert-danger">
			{{ errors|print_r }}
		</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Add items" %}
			</div>
			<div class="panel-body">
				<form method="post" action="/administrative/invoice/queue?action=create_step3">
					<table class="table table-hover table-striped table-condensed">
						<thead>
							<tr>
								<th width="50%">{% trans "Description" %}</th>
								<th width="10%">{% trans "Qty" %}</th>
								<th width="10%">{% trans "Price" %}</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody id="invoice-queue-items"></tbody>
					</table>

					<div class="text-right">
						<button type="button" onclick="javascript:add_item()" class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span> {% trans "Add item" %}
						</button>
						<button type="submit" class="btn btn-primary">
							{% trans "Save" %} <span class="glyphicon glyphicon-arrow-right"></span>
						</button>
					</div>
				</form>
			</div>
		</div>

		<script type="text/x-handlebars-template" id="new-invoice-queue-item-tmpl">
			<tr>
				<td>
					<textarea class="form-control" name="invoice_queue_item[((nr))][description]"></textarea>
				</td>
				<td>
					<input type="text" class="form-control" name="invoice_queue_item[((nr))][qty]">
				</td>
				<td>
					<input type="text" class="form-control" name="invoice_queue_item[((nr))][price]">
				</td>
				<td>
					<select name="invoice_queue_item[((nr))][vat]" class="form-control">
					{% for vat_rate in vat_rates %}
						<option value="{{ vat_rate.vat }}">{{ vat_rate.vat }}%</option>
					{% endfor %}
					</select>
				</td>
				<td>
					<a href="javascript:void(0);" onclick="remove_item($(this));">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</td>
			</tr>
		</script>
		<script type="text/javascript">

			$(document).ready(function() {
				add_item();
			});

			function add_item() {

				items = $('#invoice-queue-items').find('tr input[name*="qty"]');
				ids = [];
				items.each(function(){
					id = parseInt($(this).prop('name').match(/\d+/));
					ids.push(id);
				});

				nr = ids.length == 0 ? 0 : ids.max()+1;
				data = {'nr': nr};

				var source = $("#new-invoice-queue-item-tmpl").html();
				Handlebars.setDelimiter('(',')');
				var template = Handlebars.compile(source);
				$('#invoice-queue-items').append(template(data));
			}

			function remove_item(obj) {
				if($('#invoice-queue-items').find('tr').length > 1) {
					obj.parents('tr').remove();
				}
			}

		</script>


	{% else %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li class="active">{% trans "Invoice queue" %}</li>
		</ol>

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Filter" %}
			</div>
			<div class="panel-body">
				{% set conditions = pager.get_conditions() %}
				<form method="post" action="/administrative/invoice/queue" class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Search" %}</label>
						<div class="col-xs-9">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Status" %}</label>
						<div class="col-xs-9">
							<select name="status" class="form-control">
								<option value=""> - - - </option>
								<option value="unprocessed"{% if conditions.processed_to_invoice_item_id is defined and conditions.processed_to_invoice_item_id[0][0] == 'IS' %} selected{% endif %}>{% trans "Unprocessed" %}</option>
								<option value="processed"{% if conditions.processed_to_invoice_item_id is defined and conditions.processed_to_invoice_item_id[0][0] == 'IS NOT' %} selected{% endif %}>{% trans "Processed" %}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% if env.session_sticky.message is defined %}
			{{ base.display_flash_message(env.session_sticky.message, 'invoice queue') }}
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">
					<a href="/administrative/invoice/queue?action=create_step1" title="">
						<span class="glyphicon glyphicon-plus-sign"></span>
						{% trans "Add item" %}
					</a>
				</div>
				{{ base.pager_count(pager.item_count) }}
			</div>
			<div class="panel-body">
			{% for invoice_queue in pager.items %}
			{% if loop.first %}
				<table class="table table-hover table-striped table-condensed table-responsive">
				<thead>
					<tr>
						<th>{{ pager.create_header('ID'|trans, 'id')|raw }}</th>
						<th>{{ pager.create_header('Processed'|trans, 'processed_to_invoice_item_id')|raw }}</th>
						<th>{{ pager.create_header('Customer'|trans, 'customer')|raw }}</th>
						<th>{% trans "Description" %}</th>
						<th>{{ pager.create_header('Price'|trans, 'price')|raw }}</th>
						<th colspan="2">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
			{% endif %}

				<tr>
					<td>{{ invoice_queue.id }}</td>
					<td>
						{% if not invoice_queue.is_processed() %}
							<span class="glyphicon glyphicon-remove"></span>
						{% else %}
							<span class="glyphicon glyphicon-ok"></span>
						{% endif %}
					</td>
					<td>{{ invoice_queue.customer.firstname }} {{ invoice_queue.customer.lastname }}{% if invoice_queue.customer.company != '' %} ({{ invoice_queue.customer.company }}){% endif %}</td>
					<td>{{ invoice_queue.description }}</td>
					<td>&euro;{{ invoice_queue.get_price_excl()|number_format }}</td>
					<td>
						<a href="/administrative/invoice/queue?action=edit&id={{ invoice_queue.id }}" title="">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
					<td>
					{% if not invoice_queue.is_processed() %}
						<a href="/administrative/invoice?action=create_step1&customer_id={{ invoice_queue.customer.id }}&invoice_contact_id={{ invoice_queue.invoice_contact.id }}">
							<span class="glyphicon glyphicon-play-circle"><span>
						</a>
					{% endif %}
					</td>
				</tr>

			{% if loop.last %}
				</tbody>
				</table>
			{% endif %}

			{% else %}

				<p><em>{% trans "No invoice queue items found." %}</em></p>

			{% endfor %}
			</div>
		</div>

	{% endif %}

{% endblock content %}

{% block javascript %}

	{% if action == 'create_step1' %}
		<script type="text/javascript" src="/bloodhound.min.js"></script>
		<script type="text/javascript" src="/typeahead.min.js"></script>
		<script type="text/javascript">

			var customers = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: '/administrative/customer?action=ajax_search&search=%QUERY'
			});

			customers.initialize();

			$('#autocomplete_customer').typeahead({
				hint: true,
				highlight: true,
				minLength: 2
			},{
				name:	'customer',
				displayKey: 'value',
				source:	customers.ttAdapter()
			});
			$('#autocomplete_customer').on('typeahead:selected typeahead:autocompleted', function(e,data) {
				$('#customer_id').val(data.id);
			});
		</script>
	{% elseif action == 'create_step3' %}
		<script type="text/javascript" src="/handlebars/handlebars.js"></script>
	{% endif %}

{% endblock javascript %}

{% block head %}

	{% if action == 'create_step1' %}
		<link rel="stylesheet" type="text/css" href="/typeahead.css">
	{% endif %}

{% endblock head %}
