{% extends "_default/layout.base.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block content %}

	<div class="row">
		<div class="col">
			<h4>{% trans "Company settings" %}</h4>
		</div>
	</div>

	<form action="/setting/company" method="post" class="form-horizontal form-condensed">
		<div class="card">
			<div class="card-header">{% trans "Company settings" %}</div>
			<div class="card-body">

				{% if env.sticky_session.message is defined %}
					{{ base.alert('success', 'Settings successfully updated'|trans) }}
				{% endif %}

				{{ base.alert('info', "Your company information is added to invoice documents."|trans ~ ' ' ~ "Please fill them in correctly."|trans) }}

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "Name" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[company]" value="{{ settings.company }}" />
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "Street" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[street]" value="{{ settings.street }}" />
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "Housenumber" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[housenumber]" value="{{ settings.housenumber }}" />
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "Zipcode" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[zipcode]" value="{{ settings.zipcode }}" />
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "City" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[city]" value="{{ settings.city }}" />
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "Country" %}</label>
					<div class="col-md-9">
						<select name="setting[country_id]" class="form-control" >
							{% for key, country_group in countries %}
								<optgroup label="{{ key }}">
								{% for country in country_group %}
									<option value="{{ country.id }}" {% if settings.country_id == country.id %}selected{% endif %} >{{ attribute(country, 'text_' ~ env.language.name_short ~ '_name') }}</option>
								{% endfor %}
								</optgroup>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "Phone" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[phone]" value="{{ settings.phone }}" />
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "Email" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[email]" value="{{ settings.email }}" />
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "Website" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[website]" value="{{ settings.website }}" />
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "VAT" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[vat]" value="{{ settings.vat }}" />
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "Bank" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[bank]" value="{{ settings.bank }}" />
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "Bank IBAN" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[iban]" value="{{ settings.iban }}" />
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-form-label col-3 text-end">{% trans "BIC" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[bic]" value="{{ settings.bic }}" />
					</div>
				</div>

				<div class="row mb-3">
					<div class="col-9 offset-3">
						<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<script type="text/javascript">
		$(document).ready(function() {
			$('input[name="setting[iban]"]').mask('SSAA AAAA 0000 0000 0000 0000 0000', { placeholder: '____ ____ ____ ____ ____ ____ ____'  });
		});
	</script>

{% endblock content %}
