{% extends "_default/layout.base.twig" %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="/">{% trans "Home" %}</a></li>
		<li>{% trans "Settings" %}</li>
		<li class="active">{% trans "Mailscanner settings" %}</li>
	</ol>

	{% if env.sticky_session.message is defined %}
		{{ base.display_flash_message(env.sticky_session.message, 'settings') }}
	{% endif %}

	<div class="panel panel-default">
		<div class="panel-heading">{% trans "Mailscanner Settings" %}</div>
		<div class="panel-body">
			<form action="/setting/mailscanner" method="post" class="form-horizontal form-condensed">
				<div class="form-group">
					<label class="control-label col-xs-3">{% trans "IMAP server" %}</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="setting[mailscanner_host]" value="{{ settings.mailscanner_host }}" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-3">{% trans "IMAP username" %}</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="setting[mailscanner_username]" value="{{ settings.mailscanner_username }}" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-3">{% trans "IMAP password" %}</label>
					<div class="col-xs-9">
						<input type="text" class="form-control" name="setting[mailscanner_password]" value="{{ settings.mailscanner_password }}" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-3">{% trans "Set tag" %}</label>
					<div class="col-xs-9">
						<select name="setting[mailscanner_tag_id]" class="form-control">
							<option value="-1">{% trans "No Tag" %}</option>
							{% for tag in tags %}
								<option value="{{ tag.id }}" {% if settings.mailscanner_tag_id == tag.id %}selected{% endif %}>{{ tag.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-xs-3">{% trans "Last check" %}</label>
					<div class="col-xs-9">
						<p class="form-control-static">{% if settings.mailscanner_last_check is defined %}{{ settings.mailscanner_last_check|datetime }}{% else %}{% trans "Never" %}{% endif %}</p>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-9 col-xs-offset-3">
						<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock content %}
