{% extends "_default/layout.base.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block content %}

	<div class="row">
		<div class="col">
			<h4>{% trans "Mailscanner settings" %}</h4>
		</div>
	</div>

	<div class="card">
		<div class="card-header">{% trans "Mailscanner Settings" %}</div>
		<div class="card-body">
			{% if env.sticky_session.message is defined %}
				{{ base.alert('success', 'Settings successfully updated'|trans) }}
			{% endif %}

			<form action="/setting/mailscanner" method="post" class="form-horizontal form-condensed">
				<div class="row mb-1 mb-md-3">
					<label class="col-form-label col-3 text-end">{% trans "IMAP server" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[mailscanner_host]" value="{{ settings.mailscanner_host }}" />
					</div>
				</div>

				<div class="row mb-1 mb-md-3">
					<label class="col-form-label col-3 text-end">{% trans "IMAP username" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[mailscanner_username]" value="{{ settings.mailscanner_username }}" />
					</div>
				</div>

				<div class="row mb-1 mb-md-3">
					<label class="col-form-label col-3 text-end">{% trans "IMAP password" %}</label>
					<div class="col-9">
						<input type="text" class="form-control" name="setting[mailscanner_password]" value="{{ settings.mailscanner_password }}" />
					</div>
				</div>

				<div class="row mb-1 mb-md-3">
					<label class="col-form-label col-3 text-end">{% trans "Mailbox status" %}</label>
					<div class="col-9">
						<p class="form-control-plaintext">
						{% if imap_status == 'ok' %}
							<span class="badge text-bg-success">{% trans "Connected" %}</span>
						{% else %}
							<span class="badge text-bg-danger">{% trans "Not connected" %}</span>
						{% endif %}
						</p>
					</div>
				</div>

				<div class="row mb-1 mb-md-3">
					<label class="col-form-label col-3 text-end">{% trans "Last check" %}</label>
					<div class="col-9">
						<p class="form-control-plaintext">
							{% if settings.mailscanner_last_check is defined %}{{ settings.mailscanner_last_check|datetime }}{% else %}{% trans "Never" %}{% endif %}
						</p>
					</div>
				</div>

				<div class="row mb-1 mb-md-3">
					<label class="col-form-label col-3 text-end">{% trans "Keep mails in mailbox" %}</label>
					<div class="col-9">
						<div class="form-check form-switch form-control-plaintext">
							<input type="checkbox" name="setting[mailscanner_archive]" {% if settings.mailscanner_archive %}checked{% endif %} data-group-cls="btn-group-xs" class="form-check-input">
					</div>
				</div>

				<div class="row mb-1 mb-md-3">
					<div class="col-9 offset-3">
						<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock content %}
