{% extends "_default/layout.base.twig" %}

{% block content %}

<ul class="breadcrumb">
	<li><a href="/">{% trans "Home" %}</li></a>
	<li><a href="/administrative/document">{% trans "Documents" %}</a></li>
	<li><a href="/administrative/document/invoice">{% trans "Incoming Invoices" %}</a></li>
	<li class="active">{% trans "Pay Incoming Invoice" %}</li>
</ul>

{% for unpaid_invoice in pager.items %}

	{% if loop.first %}
		<form class="form-horizontal" method="post" action="/administrative/document/invoice/pay?action=download">
		<table class="table-alternate table-hover table table-condensed">
		<thead>
			<tr>
				<th width="120"><input type="checkbox" class="original2" data-group-cls="btn-group-xs" onchange="toggle_all();"></th>
				<th>{{ pager.create_header('Date'|trans, 'date')|raw }}</th>
				<th>{{ pager.create_header('Expiration date'|trans, 'document_incoming_invoice.expiration_date')|raw }}</th>
				<th>{{ pager.create_header('Supplier'|trans, 'supplier.company')|raw }}</th>
				<th>{{ pager.create_header('IBAN'|trans, 'supplier.iban')|raw }}</th>
				<th>{% trans "Message" %}</th>
				<th>{% trans "Tags" %}</th>
				<th class="text-right">{% trans "Price" %}</th>
			</tr>
		</thead>
		<tbody>
	{% endif %}

	<tr data-price="{{ unpaid_invoice.price_incl }}">
		<td><input type="checkbox" data-group-cls="btn-group-xs" name="invoice[{{ unpaid_invoice.id }}]" onchange="calculate_sum();"></td>
		<td>{{ unpaid_invoice.date|date }}</td>
		<td>{{ unpaid_invoice.expiration_date|date }}</td>
		<td>{{ unpaid_invoice.supplier.company }}</td>
		<td>{{ unpaid_invoice.supplier.iban|iban_to_human_format }}</td>
		<td>
			{% if unpaid_invoice.payment_structured_message != '' %}
				***{{ unpaid_invoice.payment_structured_message }}***
			{% else %}
				{{ unpaid_invoice.payment_message }}
			{% endif %}
		</td>
		<td>
			{% set document_tags = [] %}
			{% for tag in tags if unpaid_invoice.has_tag(tag)%}
				{% set document_tags = document_tags|merge([tag]) %}
			{% endfor %}

			{% for document_tag in document_tags %}
				{{ document_tag.name }}{% if not loop.last %}, {% endif %}
			{% endfor %}
		</td>
		<td class="text-right">
			&euro;{{ unpaid_invoice.price_incl }}
		</td>
	</tr>

	{% if loop.last %}
		</tbody>
		</table>

		<div class="well">
			<div class="form-group">
				<label class="col-xs-3 control-label">{% trans "Total amount" %}</label>
				<div class="col-xs-9">
					<p class="form-control-static" id="total_amount">&euro;0</p>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{% trans "Export format" %}</label>
				<div class="col-xs-4">
					<select name="export_format" class="form-control">
						<option value="Export_Payment_Sepa">SEPA (pain.001.001.03)</option>
						<option value="Export_Payment_Belfius">Belfius CSV</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{% trans "Pay with bank account" %}</label>
				<div class="col-xs-4">
					<select name="bank_account_id" class="form-control multiselect">
						{% for bank_account in bank_accounts %}
							<option value="{{ bank_account.id }}" data-content="<b>{% if bank_account.alias != '' %}{{ bank_account.alias }}{% else %}{{ bank_account.number }}{% endif %}</b><br />{{ bank_account.name }}<br />{{ bank_account.description }}<br />{{ bank_account.number }}" {% if bank_account.default_for_payment %}selected{% endif %}>{{ bank_account.name }} ({{ bank_account.number }})</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{% trans "Pay on expiration date" %}</label>
				<div class="col-xs-9">
					<input type="checkbox" name="pay_on_expiration_date" data-group-cls="btn-group-xs" />
				</div>
			</div>

			<div class="form-group">
				<label class="col-xs-3 control-label">{% trans "Mark selected items as paid" %}</label>
				<div class="col-xs-9">
					<input type="checkbox" name="mark_paid" data-group-cls="btn-group-xs"  />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-9 col-xs-offset-3">
					<button type="submit" class="btn btn-primary">
						{% trans "Download" %}
					</button>
				</div>
			</div>

		</div>
		</form>

	{% endif %}
{% else %}
	<div class="alert alert-info">{% trans "There are no unpaid invoices" %}</div>
{% endfor %}

<script type="text/javascript">
	function toggle_all() {
		if ($('th input[type=checkbox]').is(':checked')) {
			$('td input[type=checkbox]').prop('checked', true);
		} else {
			$('td input[type=checkbox]').prop('checked', false);
		}
	}

	function calculate_sum() {
		total = 0;
		$('tbody tr').each(function() {
			if ( $(this).find('input[type=checkbox]').is(':checked') ){
				total += Math.round( parseFloat( $(this).data('price') ) * 100) / 100;
			}
		});
		$('#total_amount').html('&euro;' + Math.round(total*100)/100 );
	}
</script>


{% endblock content %}
