{% extends "bookkeeping/account/index.twig" %}

{% block tab %}

	{% for balance in pager.items %}
		{% if loop.first %}
			<table class="table table-hover table-striped table-condensed table-responsive">
			<thead>
				<tr>
					<th>#</th>
					<th>{{ pager.create_header('Date'|trans, 'bank_account_statement_transaction.date')|raw }}</th>
					<th>{{ pager.create_header('Amount'|trans, 'bank_account_statement_transaction.amount')|raw }}</th>
					<th>{{ pager.create_header('Amount on bookkeeping account'|trans, 'amount')|raw }}</th>
					<th width="40%">{{ pager.create_header('Message'|trans, 'bank_account_statement_transaction.message')|raw }}</th>
					<th>{{ pager.create_header('To/From'|trans, 'bank_account_statement_transaction.other_account_name')|raw }}</th>
					<th width="20">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
		{% endif %}

		{% set transaction = balance.bank_account_statement_transaction %}

		<tr {% if not transaction.balanced %}class="warning"{% endif %}>
			<td>{{ transaction.id }}</td>
			<td>{{ transaction.date|date }}</td>
			<td>&euro;{{ transaction.amount }}</td>
			<td>&euro;{{ balance.amount }}</td>
			<td>{{ transaction.get_message|truncate(80) }}</td>
			<td>{{ transaction.other_account_name }}</td>
			<td>
				<a href="/financial/account/transaction?action=edit&bank_account_id={{ bank_account.id }}&id={{ transaction.id }}" title="">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
			</td>
		</tr>

		{% if loop.last %}
			</tbody>
			</table>

			{{ pager.links|raw }}
		{% endif %}

	{% else %}

		<p><em>{% trans "No bank accounts found." %}</em></p>

	{% endfor %}


{% endblock tab %}
