{% extends "_default/layout.base.twig" %}

{% block content %}

	{% if env.module.get_name() != 'bookkeeping_account' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/administrative/bookkeeping_account">{% trans "Bookkeeping Accounts" %}</a></li>
			<li class="active">{% trans "Edit bookkeeping_account" %}</li>
		</ol>

		<ul class="nav nav-tabs">
			<li {% if env.module.get_name() == 'bookkeeping_account_detail' %}class="active"{% endif %}>
				<a href="/administrative/bookkeeping_account/detail?id={{ bookkeeping_account.id }}">{% trans "Details" %}</a>
			</li>
			<li {% if env.module.get_name() == 'bookkeeping_account_document' %}class="active"{% endif %}>
				<a href="/administrative/bookkeeping_account/document?id={{ bookkeeping_account.id }}">{% trans "Documents" %}</a>
			</li>
		</ul>

		<div class="tab-content">
			{% block tab %}{% endblock tab %}
		</div>

	{% elseif action == 'add' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/administrative/bookkeeping_account">{% trans "Bookkeeping Accounts" %}</a></li>
			<li class="active">{% trans "Add bookkeeping account" %}</li>
		</ol>

		{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "The form contains mistakes. Please correct them." %}
		</div>
		{% endif %}

		<form class="form form-horizontal form-condensed" method="post" action="/bookkeeping/account?action=add">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Details" %}
				</div>
				<div class="panel-body">
					<div class="form-group {% if 'number' in errors|keys %} has-error{% endif %}">
						<label class="col-xs-3 control-label">{% trans "Number" %}</label>
						<div class="col-xs-5"><input type="text" name="bookkeeping_account[number]" class="form-control" value="{{ env.post.bookkeeping_account.number }}"/></div>
					</div>

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Name" %}</label>
						<div class="col-xs-5"><input type="text" name="bookkeeping_account[name]" class="form-control" value="{{ env.post.bookkeeping_account.name }}"/></div>
					</div>

					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Save" %}
							</button>
						</div>
					</div>

				</div>
			</div>
		</form>

	{% elseif action == 'edit' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/administrative/bookkeeping_account">{% trans "Bookkeeping Accounts" %}</a></li>
			<li class="active">{% trans "Edit bookkeeping account" %}</li>
		</ol>

		{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "The form contains mistakes. Please correct them." %}
		</div>
		{% endif %}

		<form class="form form-horizontal form-condensed" method="post" action="/bookkeeping/account?action=edit&id={{ bookkeeping_account.id }}">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Details" %}
				</div>
				<div class="panel-body">
					<div class="form-group {% if 'number' in errors|keys %} has-error{% endif %}">
						<label class="col-xs-3 control-label">{% trans "Number" %}</label>
						<div class="col-xs-5"><input type="text" name="bookkeeping_account[number]" class="form-control" value="{{ bookkeeping_account.number }}"/></div>
					</div>

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Name" %}</label>
						<div class="col-xs-5"><input type="text" name="bookkeeping_account[name]" class="form-control" value="{{ bookkeeping_account.name }}"/></div>
					</div>

					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Save" %}
							</button>
						</div>
					</div>

				</div>
			</div>
		</form>
	{% else %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li class="active">{% trans "Bookkeeping Accounts" %}</li>
		</ol>

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Filter" %}
			</div>
			<div class="panel-body">
				<form method="post" action="/administrative/bookkeeping_account" class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Search" %}</label>
						<div class="col-xs-5">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% if env.sticky_session.message is defined %}
			{{ base.display_flash_message(env.sticky_session.message, 'bookkeeping_account') }}
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">
					<a href="/bookkeeping/account?action=add" title="">
						<span class="glyphicon glyphicon-plus-sign"></span>
						{% trans "Add bookkeeping_account" %}
					</a>
				</div>
				{{ base.pager_count(pager.item_count) }}
			</div>
			<div class="panel-body">
			{% for bookkeeping_account in pager.items %}
			{% if loop.first %}
				<table class="table table-hover table-striped table-condensed table-responsive">
				<thead>
					<tr>
						<th>{{ pager.create_header('Number'|trans, 'number')|raw }}</th>
						<th>{{ pager.create_header('Name'|trans, 'name')|raw }}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
			{% endif %}

			<tr>
				<td>{{ bookkeeping_account.number }}</td>
				<td>{{ bookkeeping_account.name }}</td>
				<td>
					<a href="/bookkeeping/account?action=edit&id={{ bookkeeping_account.id }}" title="">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
				</td>
			</tr>

			{% if loop.last %}
				</tbody>
				</table>

				{{ pager.links|raw }}
			{% endif %}

			{% else %}

				<p><em>{% trans "No bookkeeping_accounts found." %}</em></p>

			{% endfor %}
			</div>
		</div>

	{% endif %}

{% endblock content %}
