{% extends "_default/layout.base.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block content %}
	{% if action == 'edit' %}

		<div class="row">
			<div class="col">
				<h4>{% trans "Credit notes" %}</h4>
			</div>
			<div class="col">
				<div class="float-end">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/sales/creditnote">
									{% trans "Credit notes" %}
								</a>
							</li>
							<li class="breadcrumb-item active">
								{% trans "Credit note" %} {{ creditnote.number }}
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	
		{% include 'sales/creditnote/offcanvas.twig' %}

		{% if env.sticky_session.message == 'updated' %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{ "Credit note successfully updated and regenerated" }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}		

		<div class="row">
			<div class="col-md-4" id="creditnote-customer">
				<address>
					<div class="text-muted">{% trans "Customer" %}</div>
					<strong>{{ creditnote.customer.get_display_name() }}</strong><br>
					{{ creditnote.customer.street }} {{ creditnote.customer.housenumber }}<br>
					{{ creditnote.customer.zipcode }} {{ creditnote.customer.city }}<br>
					{{ attribute(creditnote.customer.country, 'text_' ~ env.language.name_short ~ '_name') }}<br>
					<a href="mailto:{{ creditnote.customer.email }}">{{ creditnote.customer.email }}</a>
				</address>
			</div>

			<div class="col-md-4" id="creditnote-contact">
				<address>
					<div class="text-muted">{% trans "Credit note to" %}</div>
					<strong>{{ creditnote.customer_contact.get_display_name() }}</strong><br>
					{{ creditnote.customer_contact.street }} {{ creditnote.customer_contact.housenumber }}<br>
					{{ creditnote.customer_contact.zipcode }} {{ creditnote.customer_contact.city }}<br>
					{{ attribute(creditnote.customer_contact.country, 'text_' ~ env.language.name_short ~ '_name') }}<br>
					<a href="mailto:{{ creditnote.customer_contact.email }}">{{ creditnote.customer_contact.email }}</a><br>
					{{ creditnote.customer_contact.get_vat_formatted() }}
				</address>
			</div>

			<div class="col-md-4">
				<strong>{% trans "Credit note number" %}: </strong>{{ creditnote.number }}<br>
				<strong>{% trans "Paid" %}: </strong>
					{% if creditnote.paid %}
						<span class="badge text-bg-success">{% trans "Yes" %}</span>
					{% else %}
						<span class="badge text-bg-danger">{% trans "No" %}</span>
					{% endif %}
				<br>

				<button class="mt-3 btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
					{% trans "More information" %} >>
				</button>
			</div>
		</div>

		<hr>

		<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>{% trans "Product" %}</th>
					<th width="50%">{% trans "Description" %}</th>
					<th width="95">{% trans "VAT" %}</th>
					<th width="95">{% trans "Qty" %}</th>
					<th class="{% if creditnote.vat_mode == 'line' %}text-muted{% endif %} text-right" width="95">{% trans "Item ex. VAT" %}</th>
					<th class="{% if creditnote.vat_mode == 'group' %}text-muted{% endif %} text-right" width="95">{% trans "Item inc. VAT" %}</th>
					<th class="{% if creditnote.vat_mode == 'line' %}text-muted{% endif %} text-right" width="95">{% trans "Total ex. VAT" %}</th>
					<th class="{% if creditnote.vat_mode == 'group' %}text-muted{% endif %} text-right" width="95">{% trans "Total inc. VAT" %}</th>
				</tr>
			</thead>
			<tbody>
			{% for creditnote_item in creditnote.get_creditnote_items() %}

				<tr>
					<td>{% if creditnote_item.product_type_id is defined %}{{ creditnote_item.product_type.name }}{% else %}<i>{% trans "Unknown" %}</i>{% endif %}</td>
					<td>{{ creditnote_item.description|nl2br }}</td>
					<td>{{ creditnote_item.vat_rate_value|number_format }}%</td>
					<td>{{ creditnote_item.qty|number_format }}</td>
					<td class="{% if creditnote.vat_mode == 'line' %}text-muted{% endif %} text-right">&euro;{{ (creditnote_item.qty != 0 ? creditnote_item.get_price_excl()/creditnote_item.qty : creditnote_item.price_excl)|number_format }}</td>
					<td class="{% if creditnote.vat_mode == 'group' %}text-muted{% endif %} text-right">&euro;{{ (creditnote_item.qty != 0 ? creditnote_item.get_price_incl()/creditnote_item.qty : creditnote_item.price_incl)|number_format }}</td>
					<td class="{% if creditnote.vat_mode == 'line' %}text-muted{% endif %} text-right">&euro;{{ creditnote_item.get_price_excl()|number_format }}</td>
					<td class="{% if creditnote.vat_mode == 'group' %}text-muted{% endif %} text-right">&euro;{{ creditnote_item.get_price_incl()|number_format }}</td>
				</tr>
			{% endfor %}
			<tr>
				<td colspan="6"><strong>{% trans "Total" %}</strong></td>
				<td class="{% if creditnote.vat_mode == 'line' %}text-muted{% endif %} text-right"><strong>&euro;{{ creditnote.get_price_excl()|number_format }}</strong></td>
				<td class="{% if creditnote.vat_mode == 'group' %}text-muted{% endif %} text-right"><strong>&euro;{{ creditnote.get_price_incl()|number_format }}</strong></td>
			</tr>
			</tbody>
		</table>

		<table class="table table-striped table-hover table-condensed">
			<thead>
				<th>{% trans "VAT Rate" %}</th>
				<th class="text-right" width="95">{% trans "Base" %}</th>
				<th class="text-right" width="95">{% trans "VAT" %}</th>
			</thead>
			<tbody>
			{% set vat_total = 0 %}
			{% for creditnote_vat in creditnote.get_creditnote_vat() %}
				{% set vat_total = vat_total + creditnote_vat.vat %}
				<tr>
					<td>{{ creditnote_vat.vat_rate.name }} ({{ creditnote_vat.rate }}%)</td>
					<td class="text-right">&euro;{{ creditnote_vat.base }}</td>
					<td class="text-right">&euro;{{ creditnote_vat.vat }}</td>
				</tr>
			{% endfor %}
			</tbody>
			<tr>
				<td colspan="2"><strong>{% trans "Total" %}</strong></td>
				<td class="text-right"><strong>&euro;{{ vat_total|number_format }}</strong></td>
			</tr>
		</table>		
	
	{% elseif action == 'create_step1' %}
		{% include 'sales/creditnote/create/step1.twig' %}	
	{% elseif action == 'create_step2' %}
		{% include 'sales/creditnote/create/step2.twig' %}	
	{% elseif action == 'edit' %}
		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/sales/creditnote" title="">{% trans "Credit notes" %}</a></li>
			<li class="active">{% trans "Edit credit note" %} {{ creditnote.number }}</li>
		</ol>

		{% if env.sticky_session.message is defined %}
			{{ base.display_flash_message(env.sticky_session.message, 'credit note') }}
		{% endif %}

		<div class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-header">{% trans "Details" %}</div>
					<div class="card-body">
						<dl class="dl-horizontal">
							<dt>{% trans "Credit note number" %}</dt>
							<dd>{{ creditnote.id }}</dd>

							<dt>{% trans "Created" %}</dt>
							<dd>{{ creditnote.created|datetime() }}</dd>

							<dt>{% trans "Price excl VAT" %}</dt>
							<dd>{{ "€%.2f"|format(creditnote.get_price_excl()) }}</dd>

							<dt>{% trans "Price incl VAT" %}</dt>
							<dd>{{ "€%.2f"|format(creditnote.get_price_incl()) }}</dd>

							<dt>{% trans "Download PDF" %}</dt>
							<dd>
								<a href="/sales/creditnote?action=download&id={{ creditnote.id }}"><i class="fa fa-file-pdf-o"></i> credit_note_{{ creditnote.number }}.pdf</a>
							</dd>
						</dl>
					</div>
				</div>
			</div>

			<div class="col-6" id="creditnote-settings">
				<form class="form-horizontal form-condensed" action="/sales/creditnote?action=edit&id={{ creditnote.id }}" method="post">
				<div class="card">
					<div class="card-header">{% trans "Creditnote settings" %}</div>
					<div class="card-body">

						<div class="row mb-3">
							<label class="col-form-label col-3 text-end">{% trans "VAT mode" %}</label>
							<div class="col-9">
								<p class="form-control-static">
									{% if creditnote.vat_mode == 'group' %}
										{% trans "Per group" %}
									{% else %}
										{% trans "Per line" %}
									{% endif %}
								</p>
							</div>
						</div>
					</div>
				</div>
				</form>
			</div>

		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">{% trans "Customer" %}</div>
					<div class="card-body">
						<dl class="dl-horizontal">
							<dt>{% trans "Name" %}</dt>
							<dd>
								<a href="/administrative/customer?action=edit&id={{ creditnote.customer.id }}" title="">
									{{ creditnote.customer.firstname }} {{ creditnote.customer.lastname }}
								</a>
							</dd>

							<dt>{% trans "Company" %}</dt>
							<dd>{{ creditnote.customer.company }}</dd>

							<dt>{% trans "Address" %}</dt>
							<dd>{{ creditnote.customer.street }} {{ creditnote.customer.housenumber }}</dd>

							<dt>&nbsp;</dt>
							<dd>{{ creditnote.customer.zipcode }} {{ creditnote.customer.city }}</dd>

							<dt>&nbsp;</dt>
							<dd>{{ attribute(creditnote.customer.country, 'text_' ~ env.language.name_short ~ '_name') }}</dd>
						</dl>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card">
					<div class="card-header">{% trans "Invoice contact" %}</div>
					<div class="card-body">
						<dl class="dl-horizontal">
							<dt>{% trans "Name" %}</dt>
							<dd>{{ creditnote.customer_contact.firstname }} {{ creditnote.customer_contact.lastname }}</dd>

							<dt>{% trans "Company" %}</dt>
							<dd>{{ creditnote.customer_contact.company }}</dd>

							<dt>{% trans "Address" %}</dt>
							<dd>{{ creditnote.customer_contact.street }} {{ creditnote.customer_contact.housenumber }}</dd>

							<dt>&nbsp;</dt>
							<dd>{{ creditnote.customer_contact.zipcode }} {{ creditnote.customer_contact.city }}</dd>

							<dt>&nbsp;</dt>
							<dd>{{ attribute(creditnote.customer_contact.country, 'text_' ~ env.language.name_short ~ '_name') }}</dd>

							<dt>{% trans "VAT" %}</dt>
							<dd>{{ creditnote.customer_contact.get_vat_formatted() }}</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header">{% trans "Credit note details" %}</div>
			<div class="card-body">
				<table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>{% trans "Description" %}</th>
							<th width="95">{% trans "VAT" %}</th>
							<th width="95">{% trans "Qty" %}</th>
							<th class="{% if creditnote.vat_mode == 'line' %}text-muted{% endif %} text-right" width="95">{% trans "Item ex. VAT" %}</th>
							<th class="{% if creditnote.vat_mode == 'group' %}text-muted{% endif %} text-right" width="95">{% trans "Item inc. VAT" %}</th>
							<th class="{% if creditnote.vat_mode == 'line' %}text-muted{% endif %} text-right" width="95">{% trans "Total ex. VAT" %}</th>
							<th class="{% if creditnote.vat_mode == 'group' %}text-muted{% endif %} text-right" width="95">{% trans "Total inc. VAT" %}</th>
						</tr>
					</thead>
					<tbody>
					{% for creditnote_item in creditnote.get_creditnote_items() %}
						<tr>
							<td>{{ creditnote_item.description|nl2br }}</td>
							<td>{{ creditnote_item.vat_rate_value|number_format }}%</td>
							<td>{{ creditnote_item.qty|number_format }}</td>
							<td class="{% if creditnote.vat_mode == 'line' %}text-muted{% endif %} text-right">&euro;{{ (creditnote_item.get_price_excl()/creditnote_item.qty)|number_format }}</td>
							<td class="{% if creditnote.vat_mode == 'group' %}text-muted{% endif %} text-right">&euro;{{ (creditnote_item.get_price_incl()/creditnote_item.qty)|number_format }}</td>
							<td class="{% if creditnote.vat_mode == 'line' %}text-muted{% endif %} text-right">&euro;{{ creditnote_item.get_price_excl()|number_format }}</td>
							<td class="{% if creditnote.vat_mode == 'group' %}text-muted{% endif %} text-right">&euro;{{ creditnote_item.get_price_incl()|number_format }}</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="5"><strong>{% trans "Total" %}</strong></td>
						<td class="{% if creditnote.vat_mode == 'line' %}text-muted{% endif %} text-right"><strong>&euro;{{ creditnote.get_price_excl()|number_format }}</strong></td>
						<td class="{% if creditnote.vat_mode == 'group' %}text-muted{% endif %} text-right"><strong>&euro;{{ creditnote.get_price_incl()|number_format }}</strong></td>
					</tr>
					</tbody>
				</table>

				<table class="table table-striped table-hover table-condensed">
					<thead>
						<th>{% trans "Rate" %}</th>
						<th class="text-right" width="95">{% trans "Base" %}</th>
						<th class="text-right" width="95">{% trans "VAT" %}</th>
					</thead>
					<tbody>
					{% set vat_total = 0 %}
					{% for creditnote_vat in creditnote.get_creditnote_vat %}
						{% set vat_total = vat_total + creditnote_vat.vat %}
						<tr>
							<td>{{ creditnote_vat.vat_rate.name }} ({{ creditnote_vat.rate }}%)</td>
							<td class="text-right">&euro;{{ creditnote_vat.base }}</td>
							<td class="text-right">&euro;{{ creditnote_vat.vat }}</td>
						</tr>
					{% endfor %}
					</tbody>
					<tr>
						<td colspan="2"><strong>{% trans "Total" %}</strong></td>
						<td class="text-right"><strong>&euro;{{ vat_total|number_format }}</strong></td>
					</tr>
				</table>
			</div>
		</div>

		<div class="card">
			<div class="card-header">{% trans "Logs" %}</div>
			<div class="card-body">
				<dl class="dl-horizontal">
				{% set logs = creditnote.get_logs() %}
				{% for log in logs %}

					{% if loop.first %}
					<dt>{% trans "Logs" %}</dt>
					{% else %}
					<dt>&nbsp;</dt>
					{% endif %}

					<dd>{{ log.created|datetime }}: {{ log.get_content() }}</dd>

				{% endfor %}
				</dl>
			</div>
		</div>
	{% elseif action == 'export' %}

		{% include 'sales/creditnote/export.twig' %}

	{% else %}
		<div class="row">
			<div class="col">
				<h4>{% trans "Credit notes" %}</h4>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				{% trans "Filter" %}
			</div>
			<div class="card-body">
				<form method="post" action="/sales/creditnote">
					<div class="row mb-3">
						<label class="col-2 col-form-label text-end">{% trans "Search" %}</label>
						<div class="col-9">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-3 offset-2">
							<button class="btn btn-primary">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% if env.sticky_session.message is defined %}
			{% if env.sticky_session.message == 'invoice_sent' %}
				<div class="alert alert-success alert-dismissable">
					{% trans "The invoices has been sent successfully." %}
				</div>
			{% else %}
				{{ base.display_flash_message(env.sticky_session.message, 'invoice') }}
			{% endif %}
		{% elseif env.sticky_session.message_sent_error is defined %}
			<div class="alert alert-danger alert-dismissable">
				{{ env.sticky_session.message_sent_error }}
			</div>
		{% endif %}

		<div class="card mt-3">
			<div class="card-header">
				<div class="pull-right">
					<a href="/sales/creditnote?action=create_step1" title="">
						<i data-feather="plus"></i>
						{% trans "Add credit note" %}
					</a>
					-
					<a href="/sales/creditnote?action=export" title="{% trans "Export credit notes" %}">
						<i data-feather="file-text"></i> {% trans "Export credit notes" %}
					</a>

				</div>
				{{ base.pager_count(pager.item_count) }} (&euro;{{ pager.get_sum('price_incl')|number_format }})
			</div>
			<div class="card-body">
			{% for creditnote in pager.items %}
				{% if loop.first %}
					<table class="table table-hover table-striped table-condensed table-responsive" id="invoice-list">
					<thead>
						<tr>
							<th width="10%">{{ pager.create_header('Number'|trans, 'number')|raw }}</th>
							<th width="10%">{{ pager.create_header('Created'|trans, 'created')|raw }}</th>
							<th>{{ pager.create_header('Customer'|trans, 'customer.lastname')|raw }}</th>
							<th width="10%" class="text-right">{{ pager.create_header('Price excl'|trans, 'price_excl')|raw }}</th>
							<th width="10%" class="text-right">{{ pager.create_header('Price incl'|trans, 'price_incl')|raw }}</th>
							<th width="30"></th>
							<th width="30"></th>
						</tr>
					</thead>
					<tbody>
				{% endif %}

				<tr>
					<td>
						<a href="/sales/creditnote?action=edit&id={{ creditnote.id }}" title="">
							{{ creditnote.number }}
						</a>
					</td>
					<td>{{ creditnote.created|date }}</td>
					<td>
						<a href="/administrative/customer/detail?id={{ creditnote.customer.id }}" title="">
							{{ creditnote.customer.get_display_name }}
						</a>
					</td>

					<td class="text-right">€{{ creditnote.get_price_excl|number_format }}</td>
					<td class="text-right">€{{ creditnote.get_price_incl|number_format }}</td>
					<td>
						<a href="/sales/creditnote?action=download&id={{ creditnote.id }}">
							<i data-feather="download"></i>
						</a>
					</td>
					<td class="text-right">
						<a href="/sales/creditnote?action=edit&id={{ creditnote.id }}" title="">
							<i data-feather="edit"></i>
						</a>
					</td>
				</tr>

				{% if loop.last %}
					</tbody>
					</table>

					{{ pager.links|raw }}
				{% endif %}

			{% else %}

				<p><em>{% trans "No credit notes created." %}</em></p>

			{% endfor %}
			</div>
		</div>
	{% endif %}

{% endblock content %}


{% block head %}

	{% if action == 'create_step1' %}
		<link rel="stylesheet" type="text/css" href="/typeahead.css">
	{% endif %}

{% endblock head %}
