{% extends "_default/layout.base.twig" %}

{% block content %}

	{% if action == 'edit' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/sales/invoice" title="">{% trans "Invoices" %}</a></li>
			<li class="active">{% trans "Details" %}</li>
		</ol>

		{% if env.sticky_session.message is defined %}
			{{ base.display_flash_message(env.sticky_session.message, 'invoice') }}
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Details" %}</div>
			<div class="panel-body">
				<dl class="dl-horizontal">
					<dt>{% trans "Invoice number" %}</dt>
					<dd>{{ invoice.id }}</dd>

					<dt>{% trans "Created" %}</dt>
					<dd>{{ invoice.created|datetime() }}</dd>

					<dt>{% trans "Price excl VAT" %}</dt>
					<dd>{{ "€%.2f"|format(invoice.get_price_excl()) }}</dd>

					<dt>{% trans "Price incl VAT" %}</dt>
					<dd>{{ "€%.2f"|format(invoice.get_price_incl()) }}</dd>

					<dt>{% trans "Paid" %}</dt>
					<dd>{% if invoice.paid %}<span class="glyphicon glyphicon-ok"></span> {% trans "Yes" %}{% else %}<span class="glyphicon glyphicon-remove"></span> {% trans "No" %}{% endif %}</dd>

					<dt>{% trans "Reference" %}</dt>
					<dd>{{ invoice.reference }}</dd>

					<dt>{% trans "Download PDF" %}</dt>
					<dd>
						<a href="/sales/invoice?action=download&id={{ invoice.id }}">{% trans "Download" %}</a>
					</dd>
				</dl>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">{% trans "Customer" %}</div>
					<div class="panel-body">
						<dl class="dl-horizontal">
							<dt>{% trans "Name" %}</dt>
							<dd>
								<a href="/administrative/customer?action=edit&id={{ invoice.customer.id }}" title="">
									{{ invoice.customer.firstname }} {{ invoice.customer.lastname }}
								</a>
							</dd>

							<dt>{% trans "Company" %}</dt>
							<dd>{{ invoice.customer.company }}</dd>

							<dt>{% trans "Address" %}</dt>
							<dd>{{ invoice.customer.street }} {{ invoice.customer.housenumber }}</dd>

							<dt>&nbsp;</dt>
							<dd>{{ invoice.customer.zipcode }} {{ invoice.customer.city }}</dd>

							<dt>&nbsp;</dt>
							<dd>{{ invoice.customer.country.name }}</dd>
						</dl>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">{% trans "Invoice contact" %}</div>
					<div class="panel-body">
						<dl class="dl-horizontal">
							<dt>{% trans "Name" %}</dt>
							<dd>{{ invoice.customer_contact.firstname }} {{ invoice.customer_contact.lastname }}</dd>

							<dt>{% trans "Company" %}</dt>
							<dd>{{ invoice.customer_contact.company }}</dd>

							<dt>{% trans "Address" %}</dt>
							<dd>{{ invoice.customer_contact.street }} {{ invoice.customer_contact.housenumber }}</dd>

							<dt>&nbsp;</dt>
							<dd>{{ invoice.customer_contact.zipcode }} {{ invoice.customer_contact.city }}</dd>

							<dt>&nbsp;</dt>
							<dd>{{ invoice.customer_contact.country.name }}</dd>

							<dt>{% trans "VAT" %}</dt>
							<dd>{{ invoice.customer_contact.get_vat_formatted() }}</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Invoice details" %}</div>
			<div class="panel-body">
				<table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>{% trans "Description" %}</th>
							<th>{% trans "VAT" %}</th>
							<th>{% trans "Qty" %}</th>
							<th class="text-right">{% trans "Price" %}</th>
							<th class="text-right">{% trans "Subtotal" %}</th>
						</tr>
					</thead>
					<tbody>
					{% for invoice_item in invoice.get_invoice_items() %}
						<tr>
							<td>{{ invoice_item.description|nl2br }}</td>
							<td>{{ invoice_item.vat|number_format }}%</td>
							<td>{{ invoice_item.qty|number_format }}</td>
							<td class="text-right">&euro;{{ invoice_item.price|number_format }}</td>
							<td class="text-right">&euro;{{ invoice_item.get_price_excl()|number_format }}</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="4"><strong>{% trans "Total excl VAT" %}</strong></td>
						<td class="text-right"><strong>&euro;{{ invoice.get_price_excl()|number_format }}</strong></td>
					</tr>
					{% for key, value in invoice.get_vat_array() %}
						<tr>
							<td colspan="4">{% trans "VAT" %} ({{ key }}%)</td>
							<td class="text-right">&euro;{{ value|number_format }}</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="4"><strong>{% trans "Total incl VAT" %}</strong></td>
						<td class="text-right"><strong>&euro;{{ invoice.get_price_incl()|number_format }}</strong></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		{% include 'sales/invoice/modal.transfer.twig' with {id: 'add_transfer', 'invoice': invoice}  %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Payments" %}
				<div class="pull-right">
					<a href="#add_transfer" data-toggle="modal">
						<span class="glyphicon glyphicon-plus-sign"></span> {% trans "Add Transfer" %}
					</a>
				</div>
			</div>
			<div class="panel-body">
			{% for transfer in invoice.get_transfers() %}
				{% if loop.first %}
					<table class="table table-hover table-alternate">
						<thead>
							<tr>
								<th width="15%">{% trans "Date" %}</th>
								<th>{% trans "Amount" %}</th>
							</tr>
						</thead>
						<tbody>
				{% endif %}
				<tr>
					<td>{{ transfer.created|datetime }}</td>
					<td>&euro;{{ transfer.amount|number_format }}</td>
				</tr>
				{% if loop.last %}
					</tbody>
					</table>
				{% endif %}
			{% else %}
				<p>{% trans "No payments added yet" %}</p>
			{% endfor %}
			</div>
		</div>

		<form class="form-horizontal" action="/sales/invoice?action=edit&id={{ invoice.id }}" method="post">
		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Invoice settings" %}</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="control-label col-md-3">{% trans "Send reminder mails" %}</label>
					<div class="col-md-9">
						<label class="radio inline">
							<input type="radio" name="invoice[send_reminder_mail]" value="1"{% if invoice.send_reminder_mail == 1 %} checked{% endif %}> {% trans "Yes" %}
						</label>
						<label class="radio inline">
							<input type="radio" name="invoice[send_reminder_mail]" value="0"{% if invoice.send_reminder_mail == 0 %} checked{% endif %}> {% trans "No" %}
						</label>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-9 col-md-offset-3">
						<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
					</div>
				</div>
			</div>
		</div>
		</form>

		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Logs" %}</div>
			<div class="panel-body">
				<dl class="dl-horizontal">
				{% set transfers = invoice.get_transfers() %}
				{% for transfer in transfers %}

					{% if loop.first %}
					<dt>{% trans "Payments" %}</dt>
					{% else %}
					<dt>&nbsp;</dt>
					{% endif %}

					<dd>
						{{ transfer.created|datetime() }}:
						{% if transfer.type == 1 %}
						{% trans "Manual payment added" %}
						{% endif %}

						&euro;{{ transfer.amount|number_format }}
					</dd>

				{% else %}
					<dt>{% trans "Payments" %}</dt>
					<dd>{% trans "No payments added yet" %}.</dd>
				{% endfor %}

					<dt>&nbsp;</dt>
					<dd>&nbsp;</dd>

				{% set logs = invoice.get_logs() %}
				{% for log in logs %}

					{% if loop.first %}
					<dt>{% trans "Logs" %}</dt>
					{% else %}
					<dt>&nbsp;</dt>
					{% endif %}

					<dd>{{ log.created|datetime }}: {{ log.get_content() }}</dd>

				{% endfor %}
				</dl>
			</div>
		</div>

	{% elseif action == 'create_step1' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/sales/invoice" title="">{% trans "Invoices" %}</a></li>
			<li>{% trans "Create invoice" %}</li>
			<li class="active">{% trans "Select customer" %}</li>
		</ol>

		{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "Please select a customer." %}
		</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Select customer" %}
			</div>
			<div class="panel-body">
				<form method="post" action="/sales/invoice?action=create_step1" class="form-horizontal" id="invoice-create-step1">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Customer" %}</label>
						<div class="col-xs-9">
							<input type="text" id="autocomplete_customer" name="customer" class="form-control typeahead" value="{% if env.session.invoice.customer_id > 0 %}{{ env.session.invoice.customer.firstname }} {{ env.session.invoice.customer.lastname }}{% endif %}" placeholder="{% trans "Search customer" %}...">
							<input type="hidden" id="customer_id" name="customer_id" value="{% if env.session.invoice.customer_id > 0 %}{{ env.session.invoice.customer.id }}{% endif %}">
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Next" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	{% elseif action == 'create_step2' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/sales/invoice" title="">{% trans "Invoices" %}</a></li>
			<li>{% trans "Create invoice" %}</li>
			<li class="active">{% trans "Select invoice contact" %}</li>
		</ol>

		{% include 'sales/invoice/modal.manage_customer_contact.twig' with {'id': 'manage-customer-contact', 'redirect': '/sales/invoice?action=create_step2'} %}

		{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "Please select an invoice contact." %}
		</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Select a invoice contact" %}
			</div>
			<div class="panel-body">
				<div class="row">
				{% for customer_contact in customer_contacts %}
					<div class="col-xs-3 customer_contact" id="customer-contact-{{ customer_contact.id }}">
						<div class="panel panel-default">
							<div class="panel-body{% if customer_contacts|length == 1 %} bg-info{% endif %}">
								<div class="actions hide">
									<a href="#manage-customer-contact" data-toggle="modal" data-customer-id="{{ customer.id }}" data-customer-contact-id="{{ customer_contact.id }}">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
									<a href="javascript:void(0);" onclick="delete_contact({{ customer_contact.id }})">
										<span class="glyphicon glyphicon-trash"></span>
									</a>

								</div>

								{% if customer_contact.company != '' %}{{ customer_contact.company }}<br>{% endif %}
								{{ customer_contact.firstname }} {{ customer_contact.lastname }}<br>
								{{ customer_contact.street }} {{ customer_contact.housenumber }}<br>
								{{ customer_contact.zipcode }} {{ customer_contact.city }}<br>
								{{ customer_contact.country.name }}
								{% if customer_contact.vat != '' %}<br>{{ customer_contact.get_vat_formatted() }}{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
					<div class="col-xs-3">
						<div class="panel panel-default">
							<div class="panel-body text-center">
								<a class="btn btn-default" href="#manage-customer-contact" data-toggle="modal" data-customer-id="{{ customer.id }}" data-customer-contacts="{{ customer_contacts|length }}">
									{% trans "Create new" %}
								</a>
							</div>
						</div>
					</div>
				</div>

				<form method="post" action="/sales/invoice?action=create_step2" id="invoice-create-step2">
					<input type="hidden" name="customer_contact_id" value="{% if customer_contacts|length == 1 %}{{ customer_contacts.0.id }}{% endif %}">
					<button class="btn btn-primary">
						{% trans "Next" %}
					</button>
				</form>
			</div>
		</div>

		<script type="text/javascript">

			$('.customer_contact').on({
				mouseenter: function() {
					$(this).find('.actions').toggleClass('hide');
				},
				mouseleave: function() {
					$(this).find('.actions').toggleClass('hide');
				},
				click: function() {
					$('.customer_contact').find('.panel-body').removeClass('bg-info');
					$(this).find('.panel-body').first().addClass('bg-info');
					$('#invoice-create-step2 input').val($(this).prop('id').replace('customer-contact-', ''));
				}
			});

			function delete_contact(id) {
				$.get('/sales/invoice/contact?action=delete&id=' + id, function(data) {
					if(data['status'] == 1) {
						$('#customer-contact-' + id).remove();
						$('#invoice-create-step2 input').val('');
					} else {
						alert('Error deleting contact');
					}
				}, 'json');
			}

		</script>

	{% elseif action == 'create_step3' %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li><a href="/sales/invoice" title="">{% trans "Invoices" %}</a></li>
			<li>{% trans "Create invoice" %}</li>
			<li class="active">{% trans "Add items" %}</li>
		</ol>

		{% if errors is defined %}
		<div class="alert alert-danger">
			{{ errors|print_r }}
		</div>
		{% endif %}

		<form method="post" action="/sales/invoice?action=create_step3">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Additional info" %}
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Reference" %}</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="reference" name="invoice[reference]" value="{{ env.session.invoice.reference }}">
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Add items" %}
				</div>
				<div class="panel-body">
					<table class="table table-hover table-striped table-condensed">
						<thead>
							<tr>
								<th width="50%">{% trans "Description" %}</th>
								<th width="10%">{% trans "Qty" %}</th>
								<th width="10%">{% trans "Price" %}</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody id="invoice-items"></tbody>
					</table>

					<div class="text-right">
						<button type="button" onclick="javascript:add_item({})" class="btn btn-default">
							<span class="glyphicon glyphicon-plus"></span> {% trans "Add item" %}
						</button>
					</div>
				</div>
			</div>

			<div class="text-right">
				<button type="submit" class="btn btn-primary">
					{% trans "Save" %} <span class="glyphicon glyphicon-arrow-right"></span>
				</button>
			</div>
		</form>


		<script type="text/x-handlebars-template" id="new-invoice-item-tmpl">
			<tr>
				<td>
					<input type="hidden" name="invoice_item[((nr))][invoice_queue_id]" value="((invoice_queue_id))">
					<textarea class="form-control" name="invoice_item[((nr))][description]">((description))</textarea>
				</td>
				<td>
					<input type="text" class="form-control" name="invoice_item[((nr))][qty]" value="((qty))">
				</td>
				<td>
					<input type="text" class="form-control" name="invoice_item[((nr))][price]" value="((price))">
				</td>
				<td>
					<select name="invoice_item[((nr))][vat]" class="form-control">
					{% for vat_rate in vat_rates %}
						<option value="{{ vat_rate.vat }}">{{ vat_rate.vat }}%</option>
					{% endfor %}
					</select>
				</td>
				<td>
					<a href="javascript:void(0);" onclick="remove_item($(this));">
						<span class="glyphicon glyphicon-trash"></span>
					</a>
				</td>
			</tr>
		</script>
		<script type="text/javascript">

			$(document).ready(function() {
				{% for invoice_queue_item in invoice_queue_items %}
					add_item({'invoice_queue_id': {{ invoice_queue_item.id }}, 'qty': {{ invoice_queue_item.qty }}, 'price': '{{ invoice_queue_item.price }}', 'description': '{{ invoice_queue_item.description|e('js') }}'});
				{% else %}
					add_item({});
				{% endfor %}
			});

			function add_item(data) {

				items = $('#invoice-items').find('tr input[name*="qty"]');
				ids = [];
				items.each(function(){
					id = parseInt($(this).prop('name').match(/\d+/));
					ids.push(id);
				});

				nr = ids.length == 0 ? 0 : ids.max()+1;
				$.extend(data, {'nr': nr});

				var source = $("#new-invoice-item-tmpl").html();
				Handlebars.setDelimiter('(',')');
				var template = Handlebars.compile(source);
				$('#invoice-items').append(template(data));
			}

			function remove_item(obj) {
				if($('#invoice-items').find('tr').length > 1) {
					obj.parents('tr').remove();
				}
			}

		</script>

	{% else %}

		<ol class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</a></li>
			<li class="active">{% trans "Invoices" %}</li>
		</ol>

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Filter" %}
			</div>
			<div class="panel-body">
				<form method="post" action="/sales/invoice" class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Search" %}</label>
						<div class="col-xs-9">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Customer" %}</label>
						<div class="col-xs-9">
							<select class="form-control" name="customer_id">
								<option value=""> - - - </option>
								{% for customer in customers %}
								    <option value="{{ customer.id }}"{% if pager.has_condition('customer_id', customer.id) %} selected{% endif %}>
										{{ customer.firstname }} {{ customer.lastname }}
										{% if customer.company != '' %}
											({{ customer.company }})
										{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
					    <label class="col-xs-3 control-label">{% trans "Paid" %}</label>
					    <div class="col-xs-9">
					        <select name="paid" class="form-control">
								<option value=""> - - </option>
								<option value="0"{% if pager.has_condition('paid', 0) %} selected{% endif %}>{% trans "Unpaid" %}</option>
								<option value="1"{% if pager.has_condition('paid', 01) %} selected{% endif %}>{% trans "Paid" %}</option>
							</select>
					    </div>
					</div>
					{% set conditions = pager.get_conditions() %}
					<div class="form-group">
						<label class="control-label col-xs-3">{% trans "Date" %}</label>
						<div class="col-xs-9">
							<div class="form-inline">
								<div class="form-group" style="position: relative">
									<input type="text" class="form-control datepicker" name="date_start" id="date_start" value="" placeholder="{% trans "From" %}">
								</div>
								<div class="form-group" style="position: relative">
									<input type="text" class="form-control datepicker" name="date_end" id="date_end" value="" placeholder="{% trans "To" %}">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<button class="btn btn-primary">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% if env.sticky_session.message is defined %}
			{% if env.sticky_session.message == 'invoice_sent' %}
				<div class="alert alert-success alert-dismissable">
					{% trans "The invoices has been sent successfully." %}
				</div>
			{% else %}
				{{ base.display_flash_message(env.sticky_session.message, 'invoice') }}
			{% endif %}
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">
					<a href="/sales/invoice?action=create_step1" title="">
						<span class="glyphicon glyphicon-plus-sign"></span>
						{% trans "Add invoice" %}
					</a>
				</div>
				{{ base.pager_count(pager.item_count) }} (&euro;{{ pager.get_sum('price_incl')|number_format }})
			</div>
			<div class="panel-body">
			{% for invoice in pager.items %}
			{% if loop.first %}
				<table class="table table-hover table-striped table-condensed table-responsive" id="invoice-list">
				<thead>
					<tr>
						<th width="10%">{{ pager.create_header('Number'|trans, 'number')|raw }}</th>
						<th width="10%">{{ pager.create_header('Created'|trans, 'created')|raw }}</th>
						<th>{{ pager.create_header('Customer'|trans, 'customer.lastname')|raw }}</th>
						<th width="20%">{{ pager.create_header('Company'|trans, 'customer.company')|raw }}</th>
						<th width="10%" class="text-right">{{ pager.create_header('Price incl'|trans, 'price_incl')|raw }}</th>
						<th width="10%" class="text-right">{{ pager.create_header('Price excl'|trans, 'price_excl')|raw }}</th>
						<th width="10%">{{ pager.create_header('Paid'|trans, 'paid')|raw }}</th>
						<th width="30"></th>
						<th width="30"></th>
						<th width="30"></th>
					</tr>
				</thead>
				<tbody>
			{% endif %}

			<tr>
				<td>
					<a href="/sales/invoice?action=edit&id={{ invoice.id }}" title="">
						{{ invoice.number }}
					</a>
				</td>
				<td>{{ invoice.created|date }}</td>
				<td>
					<a href="/administrative/customer?action=edit&id={{ invoice.customer.id }}" title="">
						{{ invoice.customer.firstname }} {{ invoice.customer.lastname }}
					</a>
				</td>
				<td>{{ invoice.customer.company }}</td>
				<td class="text-right">€{{ invoice.price_incl|number_format }}</td>
				<td class="text-right">€{{ invoice.price_excl|number_format }}</td>
				<td>
				{% if invoice.paid %}
					<span class="glyphicon glyphicon-ok"></span>
				{% else %}
					<span class="glyphicon glyphicon-remove"></span>
				{% endif %}
				</td>
				<td>
					<a href="/sales/invoice?action=download&id={{ invoice.id }}">
						<span class="glyphicon glyphicon-download"></span>
					</a>
				</td>
				<td>
					<a href="/sales/invoice?action=send&id={{ invoice.id }}">
						<span class="glyphicon glyphicon-envelope"></span>
					</a>
				</td>
				<td class="text-right">
					<a href="/sales/invoice?action=edit&id={{ invoice.id }}" title="">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
				</td>
			</tr>

			{% if loop.last %}
				</tbody>
				</table>

				{{ pager.links|raw }}
			{% endif %}

			{% else %}

				<p><em>{% trans "No invoices created." %}</em></p>

			{% endfor %}
			</div>
		</div>

	{% endif %}

{% endblock content %}

{% block javascript %}

	{% if action == 'create_step1' %}
		<script type="text/javascript" src="/bloodhound.min.js"></script>
		<script type="text/javascript" src="/typeahead.min.js"></script>
		<script type="text/javascript">

			var customers = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: '/administrative/customer?action=ajax_search&search=%QUERY'
			});

			customers.initialize();

			$('#autocomplete_customer').typeahead({
				hint: true,
				highlight: true,
				minLength: 2
			},{
				name:	'customer',
				displayKey: 'value',
				source:	customers.ttAdapter()
			});
			$('#autocomplete_customer').on('typeahead:selected typeahead:autocompleted', function(e,data) {
				$('#customer_id').val(data.id);
			});
		</script>
	{% elseif action == 'create_step3' %}
		<script type="text/javascript" src="/handlebars/handlebars.js"></script>
	{% endif %}

{% endblock javascript %}

{% block head %}

	{% if action == 'create_step1' %}
		<link rel="stylesheet" type="text/css" href="/typeahead.css">
	{% endif %}

{% endblock head %}
