{% extends "_default/layout.base.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block content %}

	{% if action == 'edit' %}

		{% include 'sales/invoice/edit.twig' %}

	{% elseif action == 'create_step1' %}

		{% include 'sales/invoice/create/step1.twig' %}

	{% elseif action == 'create_step2' %}

		{% include 'sales/invoice/create/step2.twig' %}

	{% elseif action == 'create_step3' %}

		{% include 'sales/invoice/create/step3.twig' %}

	{% elseif action == 'export' %}

		{% include 'sales/invoice/export.twig' %}

	{% else %}

		<div class="row">
			<div class="col">
				<h4>{% trans "Invoices" %}</h4>
			</div>
		</div>

		<div class="card">
			<div class="card-header">
				{% trans "Filter" %}
			</div>
			<div class="card-body">
				<form method="post" action="/sales/invoice">
					<div class="row mb-1 mb-md-3">
						<label class="col-2 col-form-label text-end">{% trans "Search" %}</label>
						<div class="col-9">
							<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
						</div>
					</div>

					<div class="row mb-1 mb-md-3">
						<label class="col-sm-2 col-form-label text-end">{% trans "Paid" %}</label>
						<div class="col-sm-9">
							<select name="paid" class="form-control">
								<option value=""> - - </option>
								<option value="0"{% if pager.has_condition('paid', 0) %} selected{% endif %}>{% trans "Unpaid" %}</option>
								<option value="1"{% if pager.has_condition('paid', 1) %} selected{% endif %}>{% trans "Paid" %}</option>
							</select>
						</div>
					</div>

					{% set conditions = pager.get_conditions() %}

					<div class="row mb-1 mb-md-3">
						<label class="col-sm-2 col-form-label text-end">{% trans "Date" %}</label>
						<div class="col-sm-9">
							<input type="text" name="date" class="form-control" id="invoice_date" >
						</div>
					</div>

					<div class="row">
						<div class="col-sm-3 offset-sm-2">
							<button class="btn btn-primary">
								{% trans "Search" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript">
			flatpickr( $('#invoice_date'), {
				mode: 'range',
				altInput: true,
				altFormat: "F j, Y",
				defaultDate: [ '{{ conditions['invoice.created'].0.get_value().0 }}', '{{ conditions['invoice.created'].1.get_value().0 }}' ]
			});
		</script>

		{% if env.sticky_session.message is defined %}
			{% if env.sticky_session.message == 'invoice_sent' %}
				<div class="alert alert-success alert-dismissable">
					{% trans "The invoices has been sent successfully." %}
				</div>
			{% else %}
				{{ base.display_flash_message(env.sticky_session.message, 'invoice') }}
			{% endif %}
		{% elseif env.sticky_session.message_sent_error is defined %}
			<div class="alert alert-danger alert-dismissable">
				{{ env.sticky_session.message_sent_error }}
			</div>
		{% endif %}

		<div class="card mt-3">
			<div class="card-header">
				<div class="pull-right">
					<a href="/sales/invoice?action=create_step1" title="">
						<i data-feather="plus"></i>
						{% trans "Add invoice" %}
					</a>
					-
					<a href="/sales/invoice?action=export" title="{% trans "Export invoices" %}">
						<i data-feather="file-text"></i> {% trans "Export invoices" %}
					</a>
				</div>
				{{ base.pager_count(pager.item_count) }}  - &nbsp; {% trans "VAT excl." %} &euro; {{ pager.get_sum('price_excl')|number_format(2, ',', '.') }} | {% trans "VAT incl." %} &euro; {{ pager.get_sum('price_incl')|number_format(2, ',', '.')  }} &nbsp;
			</div>
			<div class="card-body table-responsive">
			{% for invoice in pager.items %}
			{% if loop.first %}
				<table class="table table-hover table-striped" id="invoice-list">
					<thead>
						<tr>
							<th width="10%">{{ pager.create_header('Number'|trans, 'number')|raw }}</th>
							<th width="10%">{{ pager.create_header('Created'|trans, 'created')|raw }}</th>
							<th>{{ pager.create_header('Customer'|trans, 'customer.lastname')|raw }}</th>
							<th width="10%" class="text-right">{{ pager.create_header('Price excl'|trans, 'price_excl')|raw }}</th>
							<th width="10%" class="text-right">{{ pager.create_header('Price incl'|trans, 'price_incl')|raw }}</th>
							<th width="10%">{{ pager.create_header('Paid'|trans, 'paid')|raw }}</th>
							<th width="30"></th>
							<th width="30"></th>
						</tr>
					</thead>
					<tbody>
			{% endif %}

			<tr {% if invoice.is_expired() %}class="warning"{% endif %}>
				<td>
					<a href="/sales/invoice?action=edit&id={{ invoice.id }}" title="{% trans "Invoice" %} {{ invoice.number }}">
						{{ invoice.number }}
					</a>
				</td>
				<td>{{ invoice.created|date }}</td>
				<td>
					<a href="/administrative/customer/detail?id={{ invoice.customer.id }}" title="">
						{{ invoice.customer.get_display_name }}
					</a>
				</td>
				<td class="text-right">€{{ invoice.get_price_excl()|number_format }}</td>
				<td class="text-right">€{{ invoice.get_price_incl()|number_format }}</td>
				<td>
				{% if invoice.paid %}
					<span class="badge text-bg-success">{% trans "Yes" %}</span>
				{% else %}
					<span class="badge text-bg-danger">{% trans "No" %}</span>
				{% endif %}
				</td>
				<td>
					<a href="/sales/invoice?action=download&id={{ invoice.id }}">
						<i data-feather="download"></i>
					</a>
				</td>
				<td class="text-right">
					<a href="/sales/invoice?action=edit&id={{ invoice.id }}" title="">
						<i data-feather="edit"></i>
					</a>
				</td>
			</tr>

			{% if loop.last %}
					</tbody>
				</table>

				{{ pager.links|raw }}
			{% endif %}

			{% else %}

				<p><em>{% trans "No invoices created." %}</em></p>

			{% endfor %}
			</div>
		</div>

	{% endif %}

{% endblock content %}
