{% extends "_default/layout.base.twig" %}

{% block content %}

	{% if action == 'edit' %}
		<ol class="breadcrumb">
			<li>{% trans "Sales" %}</li>
			<li><a href="?">{% trans "Recurring invoice queue" %}</a></li>
			<li class="active">{% trans "Edit recurring invoice queue" %}</li>
		</ol>

		{% if env.sticky_session.message == 'updated' %}
			<div class="alert alert-success">
				{% trans "The invoice queue has been updated." %}
			</div>
		{% elseif env.sticky_session.message == 'removed' %}
			<div class="alert alert-warning">
				{% trans "The selected element has been removed." %}
			</div>
		{% endif %}

		<div class="row">
		<div class="col-md-6">
			<form class="form-horizontal form-condensed" method="post" action="/sales/invoice/queue/recurring?action=edit&id={{ invoice_queue_recurring_group.id }}">

			<div class="panel panel-default">
				<div class="panel-heading">{% trans "Edit recurring invoice queue" %}</div>
				<div class="panel-body">
					<div class="form-group {% if errors.name is defined %}has-error{% endif %}">
						<label class="col-xs-4 control-label">{% trans "Name" %}</label>
						<div class="col-xs-8">
							<input type="text" class="form-control" id="alias" name="invoice_queue_recurring_group[name]" value="{{ invoice_queue_recurring_group.name }}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-4 control-label">{% trans "Repeat" %}</label>
						<div class="col-xs-8">
							<select class="form-control" name="invoice_queue_recurring_group[repeat_every]">
								<option value="+1 day"{% if invoice_queue_recurring_group.repeat_every == '+1 day' %} selected="selected"{% endif %}>{% trans "Every day" %}</option>
								<option value="+1 week"{% if invoice_queue_recurring_group.repeat_every == '+1 week' %} selected="selected"{% endif %}>{% trans "Every week" %}</option>
								<option value="+1 month"{% if invoice_queue_recurring_group.repeat_every == '+1 month' %} selected="selected"{% endif %}>{% trans "Every month" %}</option>
								<option value="+2 months"{% if invoice_queue_recurring_group.repeat_every == '+2 months' %} selected="selected"{% endif %}>{% trans "Every 2 months" %}</option>
								<option value="+3 months"{% if invoice_queue_recurring_group.repeat_every == '+3 months' %} selected="selected"{% endif %}>{% trans "Every 3 months" %}</option>
								<option value="+6 months"{% if invoice_queue_recurring_group.repeat_every == '+6 months' %} selected="selected"{% endif %}>{% trans "Every 6 months" %}</option>
								<option value="+1 year"{% if invoice_queue_recurring_group.repeat_every == '+1 year' %} selected="selected"{% endif %}>{% trans "Every year" %}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 control-label">{% trans "Next run" %}</label>
						<div class="col-xs-8">
							<input type="text" class="form-control datepicker" name="invoice_queue_recurring_group[next_run]" id="date_start" value="{{ invoice_queue_recurring_group.next_run }}">
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-4 control-label">{% trans "Run forever" %}</label>
						<div class="col-xs-8"><input type="checkbox" id="run_forever" name="invoice_queue_recurring_group[run_forever]" data-group-cls="btn-group-xs" {% if invoice_queue_recurring_group.stop_after == '0000-00-00 00:00:00' %}checked{% endif %} onchange="toggle_run_forever();"></div>
					</div>

					<div class="form-group" id="stop_after">
						<label class="col-xs-4 control-label">{% trans "Stop after" %}</label>
						<div class="col-xs-8">
							<input type="text" class="form-control datepicker" name="invoice_queue_recurring_group[stop_after]" value="{{ invoice_queue_recurring_group.stop_after }}">
						</div>
					</div>

					<script type="text/javascript">
						function toggle_run_forever() {
							if ($('#run_forever').is(':checked')) {
								$('#stop_after').addClass('hide');
							} else {
								$('#stop_after').removeClass('hide');
							}
						}
						toggle_run_forever();
					</script>

					<div class="form-group">
						<label class="col-xs-4 control-label">{% trans "Direct invoice" %} ({% trans "Not via invoice queue" %})</label>
						<div class="col-xs-8">
							<input type="checkbox" id="direct_invoice" name="invoice_queue_recurring_group[direct_invoice]" data-group-cls="btn-group-xs" {% if invoice_queue_recurring_group.direct_invoice %}checked{% endif %} onchange="toggle_direct_invoice();">
						</div>
					</div>

					<div class="direct_invoice">
						<div class="form-group">
							<label class="col-xs-4 control-label">{% trans "Invoice expiration" %}</label>
							<div class="col-xs-8">
								<select class="form-control" name="invoice_queue_recurring_group[direct_invoice_expiration_period]">
									<option value="+2 weeks"{% if invoice_queue_recurring_group.direct_invoice_expiration_period == '+2 weeks' %} selected="selected"{% endif %}>
										2 {% trans "weeks" %}
									</option>
									<option value="+1 month"{% if invoice_queue_recurring_group.direct_invoice_expiration_period == '+1 month' or invoice_queue_recurring_group.direct_invoice_expiration_period == '' %} selected="selected"{% endif %}>
										1 {% trans "month" %}
									</option>
									<option value="+60 days"{% if invoice_queue_recurring_group.direct_invoice_expiration_period == '+60 days' %} selected="selected"{% endif %}>
										60 {% trans "days" %}
									</option>
									<option value="+90 days"{% if invoice_queue_recurring_group.direct_invoice_expiration_period == '+90 days' %} selected="selected"{% endif %}>
										90 {% trans "days" %}
									</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-4 control-label">{% trans "Invoice reference" %}</label>
							<div class="col-xs-8">
								<input type="text" class="form-control" name="invoice_queue_recurring_group[direct_invoice_reference]" value="{{ invoice_queue_recurring_group.direct_invoice_reference }}">
							</div>
						</div>
					</div>

					<div class="form-group direct_invoice">
						<label class="col-xs-4 control-label">{% trans "Send invoice after creation" %}</label>
						<div class="col-xs-8">
							<input type="checkbox" name="invoice_queue_recurring_group[direct_invoice_send_invoice]" data-group-cls="btn-group-xs" {% if invoice_queue_recurring_group.direct_invoice_send_invoice %}checked{% endif %}>
						</div>
					</div>

					<script type="text/javascript">
						function toggle_direct_invoice() {
							if ($('#direct_invoice').is(':checked')) {
								$('.direct_invoice').removeClass('hide');
							} else {
								$('.direct_invoice').addClass('hide');
							}
						}
						toggle_direct_invoice();
					</script>

					<div class="form-group">
						<label class="col-xs-4 control-label">{% trans "Created" %}</label>
						<div class="col-xs-8">
							<p class="form-control-static">{{ invoice_queue_recurring_group.created|date }}</p>
						</div>
					</div>


					<div class="form-group">
						<div class="col-xs-9 col-xs-offset-3">
							<button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
						</div>
					</div>

				</div>
			</div>
			</form>
		</div>

		{% include 'sales/invoice/queue/recurring/modal.customer_contacts.twig' with {'id': 'change_customer_contact', 'modal_size': 'lg', 'invoice_queue_recurring_group': invoice_queue_recurring_group } %}

		{% include 'administrative/customer/modal.customer_contact.twig' with {'id': 'manage-customer-contact','redirect': '/sales/invoice/queue/recurring?action=edit&id=' ~ invoice_queue_recurring_group.id, 'modal_size': 'lg'} %}

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Invoice contact" %}
					<div class="pull-right">
						<a href="#change_customer_contact" data-toggle="modal">{% trans "Change customer contact" %}</a> /
						<a href="#manage-customer-contact" data-toggle="modal" data-customer-contact-id="{{ invoice_queue_recurring_group.customer_contact_id }}">{% trans "Modify customer contact" %}</a>
					</div>
				</div>
				<div class="panel-body">
					<form class="form-horizontal form-condensed" method="post" action="/sales/invoice/queue/recurring?action=edit&id={{ invoice_queue_recurring_group.id }}">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Customer" %}</label>
						<div class="col-xs-5">
							<p class="form-control-static">
								<a href="/administrative/customer/detail?id={{ invoice_queue_recurring_group.customer_id }}">
									{{ invoice_queue_recurring_group.customer.get_display_name() }}
								</a>
							</p>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Invoice contact" %}</label>
						<div class="col-xs-5">
							{% set customer_contact = invoice_queue_recurring_group.customer_contact %}
							<div class="form-control-static">
								{{ base.customer_contact(customer_contact, settings) }}
							</div>
						</div>
					</div>
					</form>
				</div>
			</div>

		</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Queue content" %}
				<div class="pull-right">
					<a href="javascript:add_queue_item();"">
						<div class="glyphicon glyphicon-plus"></div> {% trans "Add item" %}
					</a>
				</div>
			</div>
			<div class="panel-body">
			<form class="form-horizontal form-condensed" method="post" action="/sales/invoice/queue/recurring?action=edit&id={{ invoice_queue_recurring_group.id }}">
				<table id="queue_items_table" class="table table-striped table-hover">
					<thead>
						<tr>
							<th width="350">{% trans "Product definition" %}</th>
							<th>{% trans "Description" %}</th>
							<th width="150">{% trans "VAT" %}</th>
							<th width="150">{% trans "Quantity" %}</th>
							<th width="150">{% trans "Price" %}</th>
							<th width="30">&nbsp;</th>
							<th width="30">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% for invoice_queue_recurring in invoice_queue_recurring_group.get_invoice_queue_recurring() %}
						<tr class="edit hidden invoice_queue_recurring_{{ invoice_queue_recurring.id }}">
							<td>
								<select name="existing_queue_item[{{ invoice_queue_recurring.id }}][product_type_id]" class="form-control">
								{% for product_type in product_types %}
									<option value="{{ product_type.id }}" {% if invoice_queue_recurring.product_type_id == product_type.id %}selected{% endif %}>{{ product_type.name }}</option>
								{% endfor %}
								</select>
							</td>
							<td>
								<textarea name="existing_queue_item[{{ invoice_queue_recurring.id }}][description]" class="form-control autogrow">{{ invoice_queue_recurring.description }}</textarea>
							</td>


							<td>
								<select name="existing_queue_item[{{ invoice_queue_recurring.id }}][vat]" class="form-control">
									<option value="6" {% if invoice_queue_recurring.vat == 6 %}selected{% endif %}>6%</option>
									<option value="12" {% if invoice_queue_recurring.vat == 12 %}selected{% endif %}>12%</option>
									<option value="21" {% if invoice_queue_recurring.vat == 21 %}selected{% endif %}>21%</option>
								</select>
							</td>
							<td>
								<input type="text" class="form-control" name="existing_queue_item[{{ invoice_queue_recurring.id }}][qty]" value="{{ invoice_queue_recurring.qty }}" />
							</td>
							<td>
								<input type="text" name="existing_queue_item[{{ invoice_queue_recurring.id }}][price]" class="form-control" value="{{ invoice_queue_recurring.price }}" />
							</td>
							<td>
								<a href="javascript: void(0);" onclick="toggle_row({{ invoice_queue_recurring.id }});">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
							</td>


							<td>
								<a href="/sales/invoice/queue/recurring?action=delete_queue_element&id={{ invoice_queue_recurring.id }}" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure you want to delete this item" %}">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
						</tr>


						<tr class="view invoice_queue_recurring_{{ invoice_queue_recurring.id }}">
							<td>{{ invoice_queue_recurring.product_type.name }}</td>
							<td>{{ invoice_queue_recurring.description|nl2br }}</td>
							<td>{{ invoice_queue_recurring.vat }}%</td>
							<td>{{ invoice_queue_recurring.qty }}</td>
							<td>&euro;{{ invoice_queue_recurring.price|number_format }}</td>
							<td>
								<a href="javascript: void(0);" onclick="toggle_row({{ invoice_queue_recurring.id }});">
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
							</td>

							<td>
								<a href="/sales/invoice/queue/recurring?action=delete_queue_element&id={{ invoice_queue_recurring.id }}" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure you want to delete this item" %}">
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
						</tr>

						{% if loop.last %}
							<thead>
							<tr>
								<th colspan="4">&nbsp;</th>
								<th>&euro;{{ invoice_queue_recurring_group.get_total_price()|number_format }}</th>
								<th colspan="2">&nbsp</th>
							</tr>
							</thead>
						{% endif %}

						{% endfor %}
					</tbody>
				</table>

				<div class="col-xs-12">
					<div class="form-group">
						<div class="pull-right">
							<button type="submit" class="btn btn-primary">
								{% trans "Save" %}
							</button>
						</div>
					</div>
				</div>
			</form>
			</div>
		</div>

		<script>
			function toggle_row(id) {
				$('.invoice_queue_recurring_' + id).toggleClass('hidden');
				$('.autogrow').autoGrow();
			}

			function update_invoice_contact() {
				contact_id = $('#invoice_contact').val()
				$('address').addClass('hide');
				$('address#customer_contact_' + contact_id).removeClass('hide');
			}

			function add_queue_item() {
				var key = $("#queue_items_table").find("tr").length;
				var context = { key: key };
				var source = $("#cloneable").html();
				Handlebars.setDelimiter('(',')');
				var template = Handlebars.compile(source);
				var html = template(context);
				$("#queue_items_table tbody").append(html);
			}

			function remove_queue_item(element) {
				$(element).parents('tr').remove();
			}
		</script>

		<script id="cloneable" type="text/x-handlebars-template">
			<tr>
				<td>
					<select name="queue_item[product_type_id][]" class="form-control">
					{% for product_type in product_types %}
						<option value="{{ product_type.id }}">{{ product_type.name }}</option>
					{% endfor %}
					</select>
				</td>
				<td>
					<textarea name="queue_item[description][]" class="form-control autoresize"></textarea>
				</td>
				<td>
					<select name="queue_item[vat][]" class="form-control">
						<option value="6">6%</option>
						<option value="12">12%</option>
						<option value="21" selected>21%</option>
					</select>
				</td>
				<td>
					<input type="text" class="form-control" name="queue_item[qty][]" />
				</td>
				<td>
					<input type="text" name="queue_item[price][]" class="form-control"/>
				</td>
				<td>&nbsp;</td>
				<td>
					<div class="form-control-static">
						<a href="javascript:void(0);" onclick="remove_queue_item($(this));" title="{% trans "Delete" %}"><span class="glyphicon glyphicon-remove"></span></a>
					</div>
				</td>
			</tr>
		</script>

	{% elseif action == 'add_step3' %}
		<ol class="breadcrumb">
			<li>{% trans "Sales" %}</li>
			<li><a href="?">{% trans "Recurring invoice queue" %}</a></li>
			<li class="active">{% trans "Add invoice queue step 3" %}</li>
		</ol>
		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Step 3: Queue name and content" %}</div>
			<div class="panel-body">
				<form class="form form-horizontal form-condensed" method="post" action="?action=add_step3">
					<div class="alert alert-info" id="error" style="display: none;">{% trans "If you make any changes to this contact, existing invoices for this contact will retain the original contact-information" %}.</div>
					{% if errors|length > 0 %}
						<div class="alert alert-danger">
							{% trans "Some fields were filled in incorrectly." %} {% trans "Your modifications were not saved." %} {% trans "Please correct them and save again." %}
						</div>
					{% endif %}
					<div class="form-group {% if errors.name is defined %}has-error{% endif %}">
						<label class="col-xs-3 control-label">{% trans "Name" %}</label>
						<div class="col-xs-5">
							<input type="text" class="form-control" name="invoice_queue_recurring_group[name]">
						</div>
					</div>
					<div class="form-group {% if errors.repeat_every is defined %}has-error{% endif %}">
						<label class="col-xs-3 control-label">{% trans "Repeat" %}</label>
						<div class="col-xs-5">
							<select class="form-control" name="invoice_queue_recurring_group[repeat_every]">
								<option value="+1 day">{% trans "Every day" %}</option>
								<option value="+1 week">{% trans "Every week" %}</option>
								<option value="+1 month">{% trans "Every month" %}</option>
								<option value="+2 months">{% trans "Every 2 months" %}</option>
								<option value="+3 months">{% trans "Every 3 months" %}</option>
								<option value="+6 months">{% trans "Every 6 months" %}</option>
								<option value="+1 year">{% trans "Every year" %}</option>
							</select>
						</div>
					</div>
					<div class="form-group {% if errors.next_run is defined %}has-error{% endif %}">
						<label class="col-xs-3 control-label">{% trans "Start date" %}</label>
						<div class="col-xs-5">
							<input type="datetime" class="form-control datepicker" name="invoice_queue_recurring_group[next_run]">
						</div>
					</div>
					<div class="pull-right">
						<button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
					</div>
				</form>
			</div>
		</div>
	{% elseif action == 'add_step2' %}
		<ol class="breadcrumb">
			<li>{% trans "Sales" %}</li>
			<li><a href="?">{% trans "Recurring invoice queue" %}</a></li>
			<li class="active">{% trans "Add invoice queue step 2" %}</li>
		</ol>

		{% include 'administrative/customer/modal.customer_contact.twig' with {'id': 'manage-customer-contact','redirect': '/sales/invoice/queue/recurring?action=add_step2', 'modal_size': 'lg'} %}

		{% if errors is defined %}
		<div class="alert alert-danger">
			{% trans "Please select an invoice contact." %}
		</div>
		{% endif %}

		<div class="panel panel-default">
			<div class="panel-heading">
				{% trans "Select a invoice contact" %}
			</div>
			<div class="panel-body">
				<div class="row">
				{% for customer_contact in customer_contacts %}
					<div class="col-xs-3 customer_contact" id="customer-contact-{{ customer_contact.id }}">
						<div class="panel panel-default">
							<div class="panel-body{% if customer_contacts|length == 1 %} bg-info{% endif %}">
								<div class="actions hide">
									<a href="#manage-customer-contact" data-toggle="modal" data-customer-id="{{ customer.id }}" data-customer-contact-id="{{ customer_contact.id }}">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
									<a href="javascript:void(0);" onclick="delete_contact({{ customer_contact.id }})">
										<span class="glyphicon glyphicon-remove"></span>
									</a>
								</div>

								<div class="pull-left">
									<input type="radio" name="customer_contact" />
								</div>

								{{ base.customer_contact(customer_contact, settings) }}
							</div>
						</div>
					</div>
				{% endfor %}
				<div class="col-xs-3 customer_contact">
					<div class="panel panel-default">
						<div class="panel-body text-center">
							<a class="btn btn-default" href="#manage-customer-contact" data-toggle="modal" data-customer-id="{{ customer.id }}" data-customer-contacts="{{ customer_contacts|length }}">
								{% trans "Create new" %}
							</a>
						</div>
					</div>
				</div>
				</div>

				<form method="post" action="/sales/invoice/queue/recurring?action=add_step2">
					<input type="hidden" name="customer_contact_id" value="{% if customer_contacts|length == 1 %}{{ customer_contacts.0.id }}{% endif %}">
					<div class="pull-left">
						<button class="btn btn-default">
							&laquo; {% trans "Previous" %}
						</button>
					</div>
					<div class="pull-right">
						<button class="btn btn-primary">
							{% trans "Next" %} &raquo;
						</button>
					</div>
				</form>

			</div>
		</div>

		<script type="text/javascript">

			$('.customer_contact').on({
				mouseenter: function() {
					$(this).find('.actions').toggleClass('hide');
				},
				mouseleave: function() {
					$(this).find('.actions').toggleClass('hide');
				},
				click: function() {
					$('.customer_contact').find('input[type=radio]').prop('checked', false);
					$('.customer_contact').find('.panel-body').removeClass('bg-info');
					$(this).find('.panel-body').first().addClass('bg-info');
					$('input[name=customer_contact_id]').val($(this).prop('id').replace('customer-contact-', ''));
					$(this).find('input[type=radio]').prop('checked', true);
				}
			});

			function delete_contact(id) {
				$.get('/sales/invoice/contact?action=delete&id=' + id, function(data) {
					if(data['status'] == 1) {
						$('#customer-contact-' + id).remove();
						$('#invoice-create-step2 input').val('');
					} else {
						alert('Error deleting contact');
					}
				}, 'json');
			}

		</script>



	{% elseif action == 'add_step1' %}
		<ol class="breadcrumb">
			<li>{% trans "Sales" %}</li>
			<li><a href="?">{% trans "Recurring invoice queue" %}</a></li>
			<li class="active">{% trans "Add invoice queue step 1" %}</li>
		</ol>
		<div class="panel panel-default">
			<div class="panel-heading">{% trans "Step 1: Choose customer" %}</div>
			<div class="panel-body">
				<form class="form form-horizontal" method="post" action="?action=add_step1" class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-3 control-label">{% trans "Customer" %}</label>
						<div class="col-xs-9">
							<input type="text" id="autocomplete_customer" name="customer" class="form-control typeahead" value="{% if env.session.invoice.customer_id > 0 %}{{ env.session.invoice.customer.firstname }} {{ env.session.invoice.customer.lastname }}{% endif %}" placeholder="{% trans "Search customer" %}...">
							<input type="hidden" id="customer_id" name="customer_id" value="{% if env.session.invoice.customer_id > 0 %}{{ env.session.invoice.customer.id }}{% endif %}">
						</div>
					</div>
					<div class="pull-right">
						<button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
					</div>
				</form>
			</div>
		</div>

	{% else %}
		<ol class="breadcrumb">
			<li>{% trans "Sales" %}</li>
			<li class="active">{% trans "Recurring invoice queue" %}</li>
		</ol>

		<form class="form-horizontal" method="post" action="/sales/invoice/queue/recurring">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Filter" %}

					<span class="pull-right">
						<a href="?action=add_step1">
							<i class="fa fa-plus"></i> {% trans "Create recurring invoice queue" %}
						</a>
					</span>

				</div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label col-xs-3">{% trans "Search" %}</label>
							<div class="col-xs-5">
							<input type="text" class="form-control" name="search" value="{{ pager.get_search() }}" data-default="" />
						</div>
					</div>


					<div class="form-group">
						<div class="controls col-xs-offset-3 col-xs-5">
							<button class="btn btn-primary" type="submit">
								{% trans "Search" %}
							</button>

							<button class="btn btn-default" type="reset">
								{% trans "Reset" %}
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		{% for queue in pager.items %}
			{% if loop.first %}
			<div class="panel panel-default">
				<div class="panel-heading">
					{{ base.pager_count(pager.item_count) }}
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th width="50">{{ pager.create_header('Id'|trans, 'id')|raw }}</th>
							<th>{{ pager.create_header('Created'|trans, 'created')|raw }}</th>
							<th>{{ pager.create_header('Next run'|trans, 'next_run')|raw }}</th>
							<th>{{ pager.create_header('Stop after'|trans, 'stop_after')|raw }}</th>
							<th>{{ pager.create_header('Customer'|trans, 'customer_id')|raw }}</th>
							<th>{{ pager.create_header('Contact'|trans, 'invoice_customer_contact_id')|raw }}</th>
							<th>{{ pager.create_header('Name'|trans, 'name')|raw }}</th>
							<th class="text-right">{{ pager.create_header('Price'|trans, 'price')|raw }}</th>
							<th width="20">&nbsp;</th>
							<th width="30"></th>
							<th width="30"></th>
						</tr>
					</thead>
					<tbody>
			{% endif %}

			<tr {% if queue.next_run >= queue.stop_after and queue.stop_after != '0000-00-00 00:00:00' %}class="warning"{% endif %}>
				<td>{{ queue.id }}</td>
				<td>{{ queue.created|date("d/m/Y") }}</td>
				<td>{{ queue.next_run|date("d/m/Y") }}</td>
				<td>{% if queue.stop_after == '0000-00-00 00:00:00' %}<i>{% trans "never" %}</i>{% else %}{{ queue.next_run|date("d/m/Y") }}{% endif %}</td>
				<td><a href="/administrative/customer/detail?id={{  queue.customer.id }}">{{ queue.customer.get_display_name() }}</a></td>
				<td>{{ queue.customer_contact.get_display_name() }}</td>
				<td>{{ queue.name|truncate(50, true) }}</td>
				<td class="text-right">&euro;&nbsp;{{ queue.get_total_price()|number_format }}</td>
				<td>&nbsp;</td>
				<td>
					<a href="/sales/invoice/queue/recurring?action=edit&id={{ queue.id }}">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
				</td>
				<td>
					<a href="/sales/invoice/queue/recurring?action=delete&id={{ queue.id }}" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure you want to delete the recurring invoice queue selected" %}?">
						<span class="glyphicon glyphicon-remove" /></span>
					</a>
				</td>
			</tr>

			{% if loop.last %}
					</tbody>
					</table>

					{{ pager.links|raw }}
				</div>
				</div>
			{% endif %}
		{% else %}
			{% trans "Nothing found." %}
		{% endfor %}

	{% endif %}

{% endblock content %}


{% block javascript %}

{% if action == 'add_step1' %}
	<script type="text/javascript" src="/bloodhound.min.js"></script>
	<script type="text/javascript" src="/typeahead.min.js"></script>
	<script type="text/javascript">

		var customers = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			remote: '/administrative/customer?action=ajax_search&search=%QUERY'
		});

		customers.initialize();

		$('#autocomplete_customer').typeahead({
			hint: true,
			highlight: true,
			minLength: 2
		},{
			name:	'customer',
			displayKey: 'value',
			source:	customers.ttAdapter()
		});
		$('#autocomplete_customer').on('typeahead:selected typeahead:autocompleted', function(e,data) {
			$('#customer_id').val(data.id);
		});
	</script>
{% elseif action == 'create_step3' %}
	<script type="text/javascript" src="/handlebars/handlebars.js"></script>
{% endif %}

{% endblock javascript %}


{% block head %}

	{% if action == 'add_step1' %}
		<link rel="stylesheet" type="text/css" href="/typeahead.css">
	{% endif %}

{% endblock head %}
