{% import '_default/macro.base.twig' as base %}
{% import '_default/form.base.twig' as form %}


		<div class="row">
			<div class="col">
				<h4>{% trans "Product definitions" %}</h4>
			</div>
			<div class="col">
				<div class="float-end">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/sales/product/type">
									{% trans "Product definitions" %}
								</a>
							</li>
							<li class="breadcrumb-item active">
								{% trans "Product definition" %} {{ product_type.name }}
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>

		{% if errors is defined %}
			{{ base.alert('danger', "The form contains mistakes. Please correct them."|trans) }}
		{% elseif env.sticky_session.message is defined %}
			{{ base.alert('success', 'Product definition saved successfully.'|trans) }}
		{% endif %}

		<div class="card">
			<div class="card-header">
				{% trans "Details" %}
			</div>
			<div class="card-body">
				<form class="form form-horizontal form-condensed" method="post" action="/sales/product/type?action=edit&id={{ product_type.id }}">
					<div class="row mb-1 mb-md-3{% if 'name' in errors|keys %} has-error{% endif %}">
						<label for="username" class="col-form-label col-12 col-md-3 text-md-end">{% trans "Name" %}</label>
						<div class="col-9">
							<input type="text" name="product_type[name]" id="name" class="form-control" value="{{ product_type.name }}">
							{{ form.invalid_input('name', errors) }}
						</div>
					</div>

					<div class="row mb-1 mb-md-3{% if 'name' in errors|keys %} has-error{% endif %}">
						<label for="username" class="col-form-label col-12 col-md-3 text-md-end">{% trans "Identifier" %}</label>
						<div class="col-9">
							<input type="text" name="product_type[identifier]" id="name" class="form-control" value="{{ product_type.identifier }}">
							{{ form.invalid_input('name', errors) }}
						</div>
					</div>


					<div class="row mb-1 mb-md-3">
						<div class="col-3 offset-2">
							<button class="btn btn-primary">
								{% trans "Save" %}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
