{% extends "/administrative/document.twig" %}

{% import '_default/macro.base.twig' as base %}

{% block pager %}
	{% if action == 'edit' %}

		{% block breadcrumb %}
		<ul class="breadcrumb">
			<li><a href="/">{% trans "Home" %}</li></a>
			<li><a href="/administrative/document">{% trans "Documents" %}</a></li>
			<li><a href="/administrative/document/creditnote">{% trans "Incoming Creditnotes" %}</a></li>
			<li class="active">{% trans "Edit Incoming Creditnote" %}</li>
		</ul>
		{% endblock breadcrumb %}
	{% endif %}
	<ol class="breadcrumb">
		<li><a href="/">{% trans "Home" %}</a></li>
		<li><a href="/administrative/document">{% trans "Documents" %}</a></li>
		<li class="active">{% trans "Incoming creditnotes" %}</li>
	</ol>

	<div class="panel panel-default">
		<div class="panel-heading">
			{% trans "Filter" %}
		</div>
		<div class="panel-body">
			<form method="post" action="{{ env.module.get_path() }}" class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-3 control-label">{% trans "Search" %}</label>
					<div class="col-xs-9">
						<input type="text" name="search" class="form-control" value="{{ pager.get_search() }}">
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-3 control-label">{% trans "Tags" %}</label>
					<div class="col-xs-9">
						<input type="text" class="form-control autocomplete-tag" name="tag_ids" value="" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-xs-3 control-label">{% trans "Paid" %}</label>
					<div class="col-xs-9">
						<select name="paid" class="form-control">
							<option value="-1">{% trans "All" %}</option>
							<option value="1" {% if pager.has_condition('document_incoming_creditnote.paid', 1) %}selected{% endif %}>{% trans "Yes" %}</option>
							<option value="0" {% if pager.has_condition('document_incoming_creditnote.paid', 0) %}selected{% endif %}>{% trans "No" %}</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-3 col-xs-offset-3">
						<button class="btn btn-primary">
							{% trans "Search" %}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	{% if env.sticky_session.message is defined %}
		{{ base.display_flash_message(env.sticky_session.message, 'document') }}
	{% endif %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="pull-right">
				<a href="/administrative/document?action=add" title="">
					<span class="glyphicon glyphicon-plus-sign"></span>
					{% trans "Add document" %}
				</a>
			</div>

			{{ base.pager_count(pager.item_count) }}  - {% trans "Total:" %} &euro; {{ pager.get_sum('document_incoming_creditnote.price_incl') }}
		</div>
		<div class="panel-body">
		{% for document in pager.items %}
		{% if loop.first %}
			<table class="table table-hover table-striped table-condensed table-responsive">
			<thead>
				<tr>
					<th>{{ pager.create_header('#'|trans, 'id')|raw }}</th>
					<th>{{ pager.create_header('Date'|trans, 'document.date')|raw }}</th>
					<th>{{ pager.create_header('Accounting ID'|trans, 'document_incoming_invoice.accounting_identifier')|raw }}</th>
					<th>{{ pager.create_header('Title'|trans, 'title')|raw }}</th>
					<th>{% trans "Tags" %}</th>
					<th>{{ pager.create_header('Paid'|trans, 'paid')|raw }}</th>
					<th class="text-right">{{ pager.create_header('Price'|trans, 'document_incoming_creditnote.price_incl')|raw }}</th>
					<th width="30">&nbsp;</th>
					<th colspan="3">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
		{% endif %}

		<tr>
			<td>{{ document.id }}</td>
			<td>{{ document.date|date }}</td>
			<td>{{ document.accounting_identifier }}</td>
			<td>{{ document.title }}</td>
			<td>
				{% set document_tags = [] %}
				{% for tag in tags %}
					{% if document.has_tag(tag) %}
						{% set document_tags = document_tags|merge([tag]) %}
					{% endif %}
				{% endfor %}

				{% for document_tag in document_tags %}
					{{ document_tag.name }}{% if not loop.last %}, {% endif %}
				{% endfor %}

			</td>
			<td>
				{% if document.paid %}
					<span class="label label-success">{% trans "Yes" %}</span>
				{% else %}
					<span class="label label-danger">{% trans "No" %}</span>
				{% endif %}
			</td>
			<td class="text-right">
				&euro;{{ document.price_incl }}
			</td>
			<td>&nbsp;</td>
			<td width="20">
				<a href="/administrative/document?action=download&id={{ document.id }}">
					<span class="glyphicon glyphicon-download"></span>
				</a>
			</td>
			<td width="20">
				<a href="{{ env.module.get_module_path() }}?action=edit&id={{ document.id }}" title="{% trans "Edit document" %}">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
			</td>
			<td width="20">
				<a href="{{ env.module.get_module_path() }}?action=delete&id={{ document.id }}" title="{% trans "Delete document" %}" data-confirm-title="{% trans "Please confirm" %}" data-confirm-message="{% trans "Are you sure" %}?">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</td>
		</tr>

		{% if loop.last %}
			</tbody>
			</table>

			{{ pager.links|raw }}
		{% endif %}

		{% else %}

			<p><em>{% trans "No documents found." %}</em></p>

		{% endfor %}
		</div>
	</div>
{% endblock pager %}
