{% if document.classname != 'Document' %}
	{% if document.supplier is not defined %}
		<div class="col-xs-8" id="form-supplier-search">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% trans "Search supplier" %}
				</div>
				<div class="panel-body">
					<form action="/administrative/document?action=edit_supplier&id={{ document.id }}" method="post">
						<div class="form-group">
							<label class="col-xs-3 control-label">{% trans "Supplier" %}</label>
							<div class="col-xs-9">
								<input type="text" name="supplier" class="form-control typeahead autocomplete_supplier" placeholder="{% trans "Search supplier" %}..."/>
								<input type="hidden" class="supplier_id" name="document[supplier_id]" value=""/>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-8 col-xs-offset-3" style="padding-top: 20px;">
								<button type="submit" id="autocomplete_supplier_btn" class="btn btn-primary hide">{% trans "Set as supplier" %}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	{% else %}

		{% set supplier = document.supplier %}
		<div class="col-xs-8">

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="pull-right">
						<a href="javascript:void(0)" onclick="toggle_edit_mode()" id="btn_toggle_edit">
							<i class="fa fa-pencil fa-fw"></i>&nbsp;{% trans "Edit" %}
						</a>
						-
						<a href="#modal-supplier-select" data-toggle="modal">
							<i class="fa fa-truck fa-fw"></i>&nbsp;{% trans "Change supplier" %}
						</a>
					</div>
					{% trans "Supplier" %}
				</div>
				<div class="panel-body">

					<form class="form-horizontal form-condensed" method="post" id="form-supplier-edit">

						<div class="alert alert-success hide">
							{% trans "Supplier details have been updated" %}.
						</div>

						<div class="alert alert-danger hide">
							{% trans "Some fields were not filled in correctly" %}. {% trans "Please correct them" %}.
						</div>

						<input type="hidden" id="edit_status" value="0"/>

						<div class="row">
							<div class="col-xs-6">

								<div class="form-group">
									<label class="col-xs-3 control-label">{% trans "Company" %}</label>
									<div class="col-xs-9">
										<input type="text" class="form-control edit-form hide" name="supplier[company]" value="{{ supplier.company }}"/>
										<p class="form-control-static edit-text">{{ supplier.company }}</p>
									</div>
								</div>

								<div class="form-group">
									<label class="col-xs-3 control-label">{% trans "VAT" %}</label>
									<div class="col-xs-9">
										<input type="text" class="form-control edit-form hide" name="supplier[vat]" value="{{ supplier.vat }}"/>
										<p class="form-control-static edit-text">{{ supplier.vat }}</p>
									</div>
								</div>

								<div class="form-group">
									<label class="col-xs-3 control-label">{% trans "IBAN" %}</label>
									<div class="col-xs-9">
										<input type="text" class="form-control edit-form hide" name="supplier[iban]" value="{{ supplier.iban }}"/>
										<p class="form-control-static edit-text" id="iban">
											{% if document.supplier_id == '' or document.supplier_id == 0 or supplier.iban == '' %}
												<em>{% trans "Unknown IBAN" %}</em>
											{% else %}
												{{ supplier.iban | iban_to_human_format }}
											{% endif %}
										</p>
									</div>
								</div>

								<div class="form-group">
									<label class="col-xs-3 control-label">{% trans "BIC" %}</label>
									<div class="col-xs-9">
										<input type="text" class="form-control edit-form hide" name="supplier[bic]" value="{{ supplier.bic }}"/>
										<p class="form-control-static edit-text">{{ supplier.bic }}</p>
									</div>
								</div>

							</div>
							<div class="col-xs-6">

								<div class="form-group">
									<label class="col-xs-3 control-label">{% trans "Street" %}</label>
									<div class="col-xs-9">
										<input type="text" class="form-control edit-form hide" name="supplier[street]" value="{{ supplier.street }}"/>
										<p class="form-control-static edit-text">{{ supplier.street }}</p>
									</div>
								</div>

								<div class="form-group">
									<label class="col-xs-3 control-label">{% trans "Housenumber" %}</label>
									<div class="col-xs-9">
										<input type="text" class="form-control edit-form hide" name="supplier[housenumber]" value="{{ supplier.housenumber }}"/>
										<p class="form-control-static edit-text">{{ supplier.housenumber }}</p>
									</div>
								</div>

								<div class="form-group">
									<label class="col-xs-3 control-label">{% trans "Zipcode" %}</label>
									<div class="col-xs-9">
										<input type="text" class="form-control edit-form hide" name="supplier[zipcode]" value="{{ supplier.zipcode }}"/>
										<p class="form-control-static edit-text">{{ supplier.zipcode }}</p>
									</div>
								</div>

								<div class="form-group">
									<label class="col-xs-3 control-label">{% trans "Street" %}</label>
									<div class="col-xs-9">
										<input type="text" class="form-control edit-form hide" name="supplier[city]" value="{{ supplier.city }}"/>
										<p class="form-control-static edit-text">{{ supplier.city }}</p>
									</div>
								</div>

								<div class="form-group">
									<label for="country_id" class="col-xs-3 control-label">{% trans "Country" %}</label>
									<div class="col-xs-9">
										<select id="country_id" class="form-control edit-form hide" name="supplier[country_id]"></select>
										<p class="form-control-static edit-text">{{ attribute(supplier.country, 'text_' ~ env.language.name_short ~ '_name') }}</p>
									</div>
								</div>

							</div>
						</div>

						<div class="form-group edit-form hide">
							<hr>
							<div class="col-xs-8 col-xs-offset-3">
								<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
								<button type="button" onclick="toggle_edit_mode()" class="btn btn-default">{% trans "Cancel" %}</button>
							</div>
						</div>

					</form>
				</div>
			</div>

		</div>

		{% include 'administrative/document/modal.supplier_select.twig' with {'id': 'modal-supplier-select', 'supplier': document.supplier } %}

		<script>
			var form_supplier_edit = $("#form-supplier-edit");

			var country_ajax = $.ajax({
				url: '/administrative/customer/contact?action=load_countries',
				type: 'GET',
				dataType: 'json',
				success: function (data) {
					$.each(data, function (key, value) {
						var optgroup = $('<optgroup />');
						optgroup.attr('label', key);

						$.each(value, function (key, country) {
							var option = $('<option></option>');
							option.val(country.id);
							option.text(country.text_{{ env.language.name_short }}_name);
							if (country.id === parseInt({{ supplier.country_id }})) {
								option.attr('selected', 'selected')
							}
							optgroup.append(option);
						});
						optgroup.appendTo($('#country_id'));
					})
				}
			});

			function toggle_edit_mode() {
				let edit_mode = $('#edit_status');
				let edit_form = $('.edit-form');
				let edit_text = $('.edit-text');
				let btn_toggle_edit = $('#btn_toggle_edit');

				if (parseInt(edit_mode.val()) === 0) {
					edit_mode.val(1);
					edit_form.each(function (index, obj) {
						$(obj).removeClass("hide");
					});
					edit_text.each(function (index, obj) {
						$(obj).addClass("hide");
					});
					btn_toggle_edit.html('<i class="fa fa-edit fa-fw"></i>&nbsp;{% trans "Cancel edit" %}');
				} else {
					edit_mode.val(0);
					edit_form.each(function (index, obj) {
						$(obj).addClass("hide");
					});
					edit_text.each(function (index, obj) {
						$(obj).removeClass("hide");
					});
					btn_toggle_edit.html('<i class="fa fa-edit fa-fw"></i>&nbsp;{% trans "Edit" %}');
				}
				form_supplier_edit[0].scrollIntoView();
			}


			// $("#form-supplier-edit").submit(function (event) {
			form_supplier_edit.on('submit', function (event) {
				event.preventDefault();

				let form_data = form_supplier_edit.serialize();

				form_supplier_edit.find('.form-group').removeClass('has-error');
				form_supplier_edit.find(".alert").addClass("hide")

				$.post('/administrative/supplier?action=ajax_edit&id={{ supplier.id }}', form_data, function (data) {
					if ("id" in data) {
						// show success message
						form_supplier_edit.find(".alert-success").removeClass("hide");
						populate_form_fields(data);
						toggle_edit_mode();
					} else {
						// alert-danger
						form_supplier_edit.find('.alert-danger').removeClass('hide');

						// add errors
						$.each(data, function (key, value) {
							form_supplier_edit.find('input[name="supplier[' + key + ']"]').closest('.form-group').addClass('has-error');
						});
					}
				}, 'json');

				// Scroll into view
				let offset = form_supplier_edit.offset();
				$('html, body').animate({
					scrollTop: offset.top,
					scrollLeft: offset.left
				}, 1000);
			});

			function populate_form_fields(data) {
				$.each(data, function (key, value) {
					let el = form_supplier_edit.find("input[name='supplier[" + key + "]']");
					let text_value = value;
					if (key === 'iban' && value.length > 0) {
						text_value = format_iban(value);
					}
					el.closest(".form-group").find("p.edit-text").html(text_value);
					el.val(value);
				});
			}

			function format_iban(iban) {
				return iban.replace(/[^\dA-Z]/g, '').replace(/(.{4})/g, '$1 ').trim();
			}

		</script>
	{% endif %}
{% endif %}
