{% import '_default/form.base.twig' as form %}

	<hr>
	<div class="form-group{% if 'supplier_id' in errors|keys %} has-error{% endif %}">
		<label class="col-xs-3 control-label">{% trans "Supplier" %}</label>
		<div class="col-xs-9">
			<input type="text" name="supplier" class="form-control typeahead autocomplete_supplier" value="{% if document.supplier_id > 0 %}{{ document.supplier.company }}{% endif %}" placeholder="{% trans "Search supplier" %}...">
			<input type="hidden" class="supplier_id" name="document[supplier_id]" value="{{ document.supplier_id }}">

		</div>
	</div>

	<div class="form-group{% if 'supplier_identifier' in errors|keys %} has-error{% endif %}">
		<label class="col-xs-3 control-label">{% trans "Supplier identifier" %}</label>
		<div class="col-xs-5">
			<input type="text" name="document[supplier_identifier]" class="form-control" value="{{ document.supplier_identifier }}" data-toggle="popover" title="{% trans "Already in use" %}" data-content="{% trans "This identifier is already used for another invoice." %}" onchange="check_supplier_identifier();" />
		</div>
		{{ form.invalid_input('supplier_identifier', errors) }}
	</div>

	<div class="form-group{% if 'accounting_identifier' in errors|keys %} has-error{% endif %}">
		<label class="col-xs-3 control-label">{% trans "Accounting identifier" %}</label>
		<div class="col-xs-5">
			<input type="text" name="document[accounting_identifier]" class="form-control" value="{{ document.accounting_identifier }}"/>
		</div>
		{{ form.invalid_input('accounting_identifier', errors) }}
	</div>

	<div class="form-group{% if 'price_excl' in errors|keys %} has-error{% endif %}">
		<label class="col-xs-3 control-label">{% trans "Price excl VAT" %}</label>
		<div class="col-xs-5">
			<div class="input-group">
				<span class="input-group-addon">&euro;</span>
				<input type="text" name="document[price_excl]" onchange="check_vat();" class="form-control" value="{{ document.price_excl }}" >
			</div>
			{{ form.invalid_input('price_excl', errors) }}
		</div>
	</div>

	<div class="form-group{% if 'price_incl' in errors|keys %} has-error{% endif %}">
		<label class="col-xs-3 control-label">{% trans "Price incl VAT" %}</label>
		<div class="col-xs-5">
			<div class="input-group">
				<span class="input-group-addon">&euro;</span>
				<input type="text" name="document[price_incl]" onchange="check_vat();" data-toggle="popover" title="{% trans "VAT problem" %}" data-content="{% trans "The VAT amount seems to be incorrect" %}" class="form-control" value="{{ document.price_incl }}" >
			</div>
			{{ form.invalid_input('price_incl', errors) }}
		</div>
	</div>

	<script type="text/javascript">
		function check_vat() {
			price_incl = $('input[name="document[price_incl]"]').val();
			price_excl = $('input[name="document[price_excl]"]').val();

			vat = 100 / price_excl * price_incl - 100;
			console.log(vat);
			vat = Math.round(vat * 100) / 100
			console.log(vat);

			if (vat != 21 && vat != 6 && vat != 12) {
				$('input[name="document[price_incl]"]').popover({
					container: 'body'
				});

				$('input[name="document[price_incl]"]').popover('show');
			} else {
				$('input[name="document[price_incl]"]').popover('hide');
			}
		}

		function check_supplier_identifier() {
			supplier_id = $('input[name="document[supplier_id]"]').val();
			supplier_identifier = $('input[name="document[supplier_identifier]"]').val();
			data = {
				'supplier_id': supplier_id,
				'supplier_identifier': supplier_identifier,
				'document_id': {{ document.id }}
			}
			$.post('/administrative/document/invoice?action=check_supplier_identifier', data, function(response) {
				$('input[name="document[supplier_identifier]"]').popover({
					container: 'body'
				});
				if (response > 0) {
					$('input[name="document[supplier_identifier]"]').popover('show');
				} else {
					$('input[name="document[supplier_identifier]"]').popover('hide');
				}
			});

		}

	</script>

	<div class="form-group">
		<label class="col-xs-3 control-label">{% trans "Payment message" %}</label>
		<div class="col-xs-9">
			<div class="radio">
				<label><input type="radio" name="payment_message_type" value="payment_message_type_structured" {% if document.payment_message == '' %}checked{% endif %}>{% trans "Structured message" %}</label>
			</div>
			<div class="radio">
				<label><input type="radio" name="payment_message_type" value="payment_message_type_free" {% if document.payment_message != '' %}checked{% endif %}>{% trans "Free message" %}</label>
			</div>
		</div>
	</div>

	<div class="form-group {% if 'payment_structured_message' in errors|keys %} has-error{% endif %}" id="payment_message_type_structured">
		<div class="col-xs-9 col-xs-offset-3">
			<input type="text" class="form-control" name="document[payment_structured_message]" value="{{ document.payment_structured_message }}" />
		</div>
	</div>


	<div class="form-group" id="payment_message_type_free">
		<div class="col-xs-9 col-xs-offset-3">
			<textarea name="document[payment_message]" class="form-control autogrow">{{ document.payment_message }}</textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label">{% trans "IBAN" %}</label>
		<div class="col-xs-9">
			<p class="form-control-static" id="iban">
				{% if document.supplier_id == '' or document.supplier_id == 0 or document.supplier.iban == '' %}
					<em>{% trans "Unknown IBAN" %}</em>
				{% else %}
					{{ document.supplier.iban }}
				{% endif %}
			</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label">{% trans "Paid" %}</label>
		<div class="col-xs-9">
			<input type="checkbox" name="document[paid]" id="paid" data-group-cls="btn-group-xs" {% if document.paid %}checked{% endif %}/>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('input[name="document[payment_structured_message]"]').mask("000/0000/00000", {placeholder: "___/____/_____"});

			$('input[name=payment_message_type]').on('change', function() {
				select_payment_message_type();
			});
			select_payment_message_type();
		});
		function select_payment_message_type() {
			value = $('input[name=payment_message_type]:checked').val();

			value = $('input[name=payment_message_type]:checked').val();
			$('#payment_message_type_structured').hide();
			$('#payment_message_type_free').hide();

			if ( $('input[name=payment_message_type]').parents('.form-group').is(':visible') ){
				$('#' + value).show();
			}
		}
	</script>
