<div class="row">
	<div class="col-12">
		<div class="card mb-3">
			<div class="card-header">{% trans "Payments" %}</div>
			<div class="card-body">
			{% for balance in document.get_bank_account_statement_transaction_balances() %}
				{% set transaction = balance.bank_account_statement_transaction %}
				{% if loop.first %}
					<table class="table table-hover table-alternate">
						<thead>
							<tr>
								<th width="15%">{% trans "Date" %}</th>
								<th>&nbsp;</th>
								<th>{% trans "Message" %}</th>
								<th>{% trans "To" %}</th>
								<th>{% trans "Account number" %}</th>
								<th>{% trans "Amount" %}</th>
							</tr>
						</thead>
						<tbody>
						<tr>
							<td>{{ document.date|date }}</td>
							<td colspan="4">{% trans "Incoming invoice" %} {{ document.id }}</td>
							<td>&euro;{{ document.price_incl|number_format }}</td>
						</tr>
				{% endif %}
				<tr>
					<td>{{ transaction.date|date }}</td>
					<td>
						<a href="/financial/account/transaction?action=edit&id={{ transaction.id }}">
							{% trans "Transaction" %} {{ transaction.id }}
						</a>
					</td>
					<td>{{ transaction.get_message() }}</td>
					<td>{{ transaction.other_account_name }}</td>
					<td>{{ transaction.other_account_number|iban_to_human_format }}</td>
					<td>&euro;{{ balance.amount|number_format }}</td>
				</tr>
				{% if loop.last %}
					</tbody>
					<thead>
						<tr>
							<th colspan="5">{% trans "Balance" %}</th>
							<th>&euro;{{ document.get_balance()|number_format }}</th>
						</tr>
					</thead>
					</table>
				{% endif %}
			{% else %}
				<p>{% trans "No payments added yet" %}</p>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
