{% import '_default/macro.base.twig' as base %}

<div class="row">
	<div class="col">
		<h4>{% trans "Users" %}</h4>
	</div>
	<div class="col">
		<div class="float-md-end">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/administrative/user">
							{% trans "Users" %}
						</a>
					</li>
					<li class="breadcrumb-item active">
						{% trans "Add user" %}
					</li>
				</ol>
			</nav>
		</div>
	</div>
</div>


<form class="form form-horizontal form-condensed" method="post" action="/administrative/user?action=add">
	<div class="card">
		<div class="card-body">
            {% if errors is defined %}
                {{ base.alert('danger', "The form contains mistakes. Please correct them."|trans) }}
            {% endif %}
			<div class="row offset-md-2">
				<div class="col-md-10">
					<div class="form-floating">
						<input type="text" name="user[username]" id="username" class="form-control {% if 'username' in errors|keys %} is-invalid {% endif %}" value="{{ env.post.user.username }}" placeholder="{% trans "Username" %}">
						<label class="form-label col-2" for="username">{% trans "Username" %}</label>
						{{ form.invalid_input('username', errors) }}
					</div>
				</div>
			</div>

			<div class="row offset-md-2">
				<div class="col-md-6 mt-2">
					<div class="form-floating">
						<input type="text" name="user[firstname]" id="firstname" class="form-control {% if 'firstname' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.user.firstname }}" placeholder="{% trans "Firstname" %}" %>
						<label for="firstname" class="col-form-label">{% trans "Firstname" %}</label>
						{{ form.invalid_input('firstname', errors) }}
					</div>
				</div>

				<div class="col-md-4 mt-2">
					<div class="form-floating">
						<input type="text" name="user[lastname]" id="firstname" class="form-control {% if 'lastname' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.user.lastname }}" placeholder="{% trans "Lastname" %}">
						<label for="lastname" class="col-form-label">{% trans "Lastname" %}</label>
						{{ form.invalid_input('lastname', errors) }}
					</div>
				</div>
			</div>

			<div class="row offset-md-2 mt-2">
				<div class="col-md-10">
					<div class="form-floating">
						<input type="text" name="user[email]" id="email" class="form-control {% if 'email' in errors|keys %}is-invalid{% endif %}" value="{{ env.post.user.email }}" placeholder="{% trans "Email" %}">
						<label class="col-form-label col-2" for="email">{% trans "Email" %}</label>
						{{ form.invalid_input('email', errors) }}
					</div>
				</div>
			</div>

			<div class="row offset-md-2 mt-2">
				<div class="col-md-10">
					<div class="form-floating">
						<input type="password" name="user[password]" id="password" class="form-control {% if 'password' in errors|keys %} is-invalid{% endif %}" value="{{ env.post.user.password }}" placeholder="{% trans "Password" %}">
						<label class="form-label col-2" for="username">{% trans "Password" %}</label>
						{{ form.invalid_input('password', errors) }}
					</div>
				</div>
			</div>

			<div class="row offset-md-2 mt-2">
				<div class="col-md-10">
					<div class="form-floating">
						<select name="language_id" class="form-control select2" id="{{ id }}">
							{% for language in languages %}
								<option value="{{ language.id }}" {% if language.id == env.post.language_id %} selected {% endif %}>{{ language.name }}</option>
							{% endfor %}
						</select>
						<label for="language_id" class="col-form-label">{% trans "Language" %}</label>
						{{ form.invalid_input('language_id', errors) }}
					</div>
				</div>
			</div>

			<div class="row offset-md-2 mt-2">
				<div class="col-md-10">
					<div class="form-floating">
						<select name="user[role_id]" id="role_id" class="form-control">
							{% for role in roles %}
								<option value="{{ role.id }}" {% if role.id == user.role_id %} selected {% endif %}>{{ role.name }}</option>
							{% endfor %}
						</select>
						<label for="role_id" class="col-form-label">{% trans "Role" %}</label>
						{{ form.invalid_input('role_id', errors) }}
					</div>
				</div>
			</div>

			<div class="row offset-md-2 mt-2">
				<div class="col-md-10">
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" id="role_id" name="user[receive_expired_invoice_overview]" {% if env.post.user.receive_expired_invoice_overview %} checked {% endif %}>
						<label for="role_id" class="form-check-label">{% trans "Receive expired invoice overview" %}</label>
					</div>
				</div>
			</div>

			<div class="row input-group offset-md-2 mt-2">
				<div class="col-md-10">
					<button class="btn btn-primary">
						{% trans "Save" %}
					</button>
				</div>
			</div>

		</div>
	</div>
</form>

