{% extends "base.layout.twig" %}

{% block head %}
	<style type="text/css">
		#main_info {
			margin-bottom: 5mm;
			width: 100%
		}

			#main_info td {
				padding: 1.5mm 2mm
			}

		#invoice_items {
			margin-bottom: 10mm;
			width: 100%
		}

			#invoice_items td {
				padding: 1mm 2mm 0.5mm 2mm;
			}

		#payment_info {
			page-break-inside: avoid;
		}

		#payment_info .right_col table {
			border-collapse: collapse;
			margin-bottom: 4mm;
			border-top: solid 1px #ccc;
			background-color: #fff;
			width: 70mm;
		}

		#payment_info tbody td {
			padding: 1mm 2mm;
		}

		.item_price {
			vertical-align: top
		}

	</style>

{% endblock head %}

{% block php_script %}

	{{ parent() }}

	if ( isset($pdf) ) {
		$pdf->page_script('
			if ($PAGE_NUM == 1) {
				$x = 62;
				$y = 210;
			} else {
				$x = 62;
				$y = 60;
			}

			$font = Font_Metrics::get_font("verdana", "bold");
			$size = 12;
			$invoice_label = "factuur {{ invoice.id }} ";
			$pdf->text($x, $y, $invoice_label, $font, $size);
		');
	}

{% endblock php_script %}

{% set recipient_info = invoice.invoice_contact %}

{% block content %}

	<table cellpadding="0" cellspacing="0" border="0" id="main_info">
	<thead>
		<tr>
			<th style="width: 42%">
			{% if recipient_info.vat != '' %}
				BTW klant
			{% else %}
				&nbsp;
			{% endif %}
			</th>
			<th style="width: 43%">Vervaldatum</th>
			<th style="width: 15%">Datum</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
			{% if recipient_info.vat != '' %}
				{{ recipient_info.get_vat_formatted() }}
			{% else %}
				&nbsp;
			{% endif %}
			</td>
			<td>{{ invoice.expiration_date|date('d/m/Y') }}</td>
			<td>{{ invoice.created|date('d/m/Y') }}</td>
		</tr>
	</tbody>
	</table>

	{% set invoice_items = invoice.get_invoice_items() %}
	<table cellpadding="0" cellspacing="0" border="0" id="invoice_items">
	<thead>
		<tr>
			<th style="width: 70%">Omschrijving</th>
			<th style="width: 2%">&nbsp;</th>
			<th style="width: 10%">BTW</th>
			<th style="width: 15%">Prijs</th>
		</tr>
	</thead>
	<tbody>

	{% for invoice_item in invoice_items %}
		{% set name = invoice_item.description|split("\n") %}
		{% for paragraph in name %}
		<tr>
			<td>{{ paragraph }}</td>
			<td>&nbsp;</td>
		{% if loop.first %}
			<td>{{ invoice_item.vat/0.01 }}%</td>
			<td class="item_price">&euro;{{ invoice_item.price }}</td>
		{% else %}
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		{% endif %}
		</tr>
		{% endfor %}
		<tr>
			<td colspan="4" style="padding: 0; line-height: 0; height:3px">&nbsp;</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

	<div id="payment_info">
		<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td style="width: 100mm; vertical-align: bottom">
			{% if invoice.paid != 1 %}
				Deze factuur is betaalbaar op rekening: <br />
				Bank {{ company_info.bank }} IBAN {{ company_info.iban }} {% if company_info.bic %}(BIC: {{ company_info.bic }}){% endif %}
			{% else %}
				Factuur is VOLDAAN
			{% endif %}
			</td>
			<td  style="width: 60mm">
				{% set vat_array = invoice.get_vat_array() %}
				<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
					<tr>
						<td style="width: 35mm; text-align: right; padding-top: 2mm">
							Subtotaal
						</td>
						<td style="width: 20mm; padding-top: 2mm">&euro;{{ "%.2f"|format(invoice.get_price()) }}</td>
					</tr>
					{% for key, vat_subtotal in vat_array %}
					<tr>
						<td style="text-align: right; padding-bottom: 6px">
							BTW ({{ key * 100 }}%)
						</td>
						<td style="padding-bottom: 6px">
							&euro;{{ "%.2f"|format(vat_subtotal) }}
						</td>
					</tr>
					{% endfor %}
					<tr>
						<td style="border-top: solid 1px #ccc; font-weight: bold; text-align: right; padding: 2mm; font-size:12px">Totaal te betalen</td>
						<td style="border-top: solid 1px #ccc; font-weight: bold; padding: 2mm; font-size:12px">&euro;{{ "%.2f"|format(invoice.get_price_incl()) }}</td>
					</tr>
				</tbody>
				</table>
			</td>
		</tr>
		</table>
	</div>
{% endblock content %}
