{% extends "_default/modal.base.twig" %}
{% block header %}{% trans "Book incoming invoice" %}{% endblock header %}

{% block body %}

<h5>1. {% trans "Transaction information" %}</h5>
	<dl class="dl-horizontal">
		<dt>{% trans "Transaction amount" %}</dt>
		<dd>&euro;{{ transaction.amount }}</dd>

		<dt>{% trans "To/from" %}</dt>
		<dd>{{ transaction.other_account_name }}</dd>

		<dt>{% trans "Message" %}</dt>
		<dd>{{ transaction.message }}</dd>

		<dt>{% trans "Transaction Balance" %}</dt>
		<dd>&euro;{{ transaction.get_balance() }}</dd>

		<dt>{% trans "Date" %}</dt>
		<dd>{{ transaction.date|date }}</dd>
	</dl>

<hr />



<h5>2. {% trans "Search invoices" %}</h5>
	<form action="{{ env.module.get_module_path() }}?action=edit&id={{ transaction.id }}" method="post" class="form-horizontal form-condensed" id="search_incoming_invoices">
	<div class="row mb-3">
		<label class="col-form-label col-3 text-end">{% trans "Search invoice" %}</label>
		<div class="col-6">
			<div class="input-group">
				<input type="text" name="search" id="txt_search_incoming_invoices" class="form-control" value="{{ transaction.get_message() }}" />
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" onclick="search_incoming_invoices();">{% trans "Search" %}</button>
				</span>
			</div>
		</div>
	</div>
	</form>

	<div class="incoming_invoice_search_results"></div>
<hr />


<form action="{{ env.module.get_module_path() }}?action=link_incoming_invoice" method="post" class="form-horizontal form-condensed" id="link_incoming_invoice">
<h5>3. {% trans "Confirm link" %}</h5>
	<input type="hidden" name="transaction_id" value="{{ transaction.id }}" />
	<input type="hidden" name="document_id" id="document_id" value="" />

	<div id="confirm_link_incoming_invoices">
		<div class="alert alert-info">{% trans "Please select an invoice in the search result" %}</div>
	</div>

</form>

<script type="text/x-handlebars-template" id="selected-incoming-invoice">
	<div class="alert alert-danger hide">
		{% trans "There is a problem with the amounts you have entered." %} {% trans "The total amount cannot exceed the amount of the transaction" %}.
	</div>

	<div class="row mb-3">
		<label class="col-form-label col-3 text-end">{% trans "Current transaction balance" %}</label>
		<div class="col-3">
			<p class="form-control-static" id="transaction_balance" data-value="{{ transaction.get_balance() }}">&euro;{{ transaction.get_balance() }}</p>
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-form-label col-3 text-end">{% trans "Link with invoice" %}</label>
		<div class="col-3">
			<div class="input-group">
				<span class="input-group-addon">&euro;</span>
				<input type="text" class="form-control" id="link_incoming_invoice_amount" style="width: 143px;" name="link_incoming_invoice_amount" value="0">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" id="max_incoming_invoice_amount" data-value=""></button>
				</span>
			</div>
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-form-label col-3 text-end">{% trans "Link with supplier" %}</label>
		<div class="col-4">
			<div class="input-group">
				<span class="input-group-addon">&euro;</span>
				<input type="text" class="form-control" id="link_supplier_amount" style="width: 143px;" name="link_supplier_amount" value="0">
			</div>
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-form-label col-3 text-end">{% trans "New transaction balance" %}</label>
		<div class="col-3">
			<p class="form-control-static" id="new_transaction_balance"><b>&euro;{{ transaction.get_balance() }}</b></p>
		</div>
	</div>

	<div class="row mb-3">
		<div class="col-9 offset-3">
			<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
		</div>
	</div>
</script>


<script type="text/javascript">
	$('#search_incoming_invoices').submit(function(event) {
		search_incoming_invoices();
		event.preventDefault();
	});

	$('#modal_incoming_invoice').on('shown.bs.modal', function () {
		search_incoming_invoices();
	});


	function search_incoming_invoices() {
		url = '/financial/account/transaction?action=search_incoming_invoices&transaction_id={{ transaction.id }}&search=' + URI.encode($('#txt_search_incoming_invoices').val());
		$('.incoming_invoice_search_results').load(url, function() {
			pager_incoming_invoices_ajax();
		});
	}

	function pager_incoming_invoices_ajax() {
		$('.skeleton-pager-link, .skeleton-pager-header-link').click(function(event) {
			event.preventDefault();

			url = URI.parse($(this).attr('href'));
			result = URI.parseQuery(url.query);

			$('.incoming_invoice_search_results').load('/financial/account/transaction?action=search_incoming_invoices&transaction_id={{ transaction.id }}&q=' + URI.encode(result.q), function() {
				pager_incoming_invoices_ajax();
			});
		});
	}

	var transaction_amount;
	var invoice_amount;

	function table_incoming_invoices_tr_click(row) {
		var source = $("#selected-incoming-invoice").html();
		$('#confirm_link_incoming_invoices').html(source)
		transaction_amount = parseFloat({{ transaction.get_balance() }});
		invoice_amount = parseFloat(row.data('amount'));

		$('#confirm_link_incoming_invoices #max_incoming_invoice_amount').html('/ €' + invoice_amount);
		$('#confirm_link_incoming_invoices #max_incoming_invoice_amount').attr('data-value', invoice_amount);

		$('#link_incoming_invoice_amount,#link_incoming_invoice #link_supplier_amount').change(function() {
			balance = parseFloat($('#link_incoming_invoice #transaction_balance').data('value'));
			document_amount = parseFloat($('#link_incoming_invoice_amount').val());
			supplier_amount = parseFloat($('#link_incoming_invoice #link_supplier_amount').val());
			new_balance = balance + document_amount + supplier_amount;
			$('#new_transaction_balance').html('<b>&euro;' + new_balance.toFixed(2) + '</b>');
		});

		$('#confirm_link_incoming_invoices #max_incoming_invoice_amount').click(function() {
			value = $(this).data('value');
			$(this).parents('.input-group').find('.form-control').val(value).trigger('change');
		});
		$('#confirm_link_incoming_invoices #max_incoming_invoice_amount').trigger('click');

		$('#document_id').val(row.data('id'));


	}
</script>

{% endblock body %}
