{% extends "_default/modal.base.twig" %}
{% block header %}{% trans "Book incoming invoice" %}{% endblock header %}

{% block body %}

<form action="{{ env.module.get_module_path() }}?action=edit&id={{ transaction.id }}" method="post" class="form-horizontal form-condensed" id="search_incoming_invoices">
<input type="hidden" name="transaction_id" value="{{ transaction.id }}" />

<div class="form-group">
	<label class="col-xs-3 control-label">{% trans "Transaction amount" %}</label>
	<div class="col-xs-9">
		<p class="form-control-static">
			&euro;{{ transaction.amount }}
		</p>
	</div>
</div>

<div class="form-group">
	<label class="col-xs-3 control-label">{% trans "To/from" %}</label>
	<div class="col-xs-9">
		<p class="form-control-static">
			{{ transaction.other_account_name }}
		</p>
	</div>
</div>

<div class="form-group">
	<label class="col-xs-3 control-label">{% trans "Balance" %}</label>
	<div class="col-xs-9">
		<p class="form-control-static">
			&euro;{{ transaction.get_balance() }}
		</p>
	</div>
</div>
<hr />

<div class="form-group">
	<label class="col-xs-3 control-label">{% trans "Search incoming invoice" %}</label>
	<div class="col-xs-6">
		<div class="input-group">
			<input type="text" name="search" id="txt_search_incoming_invoices" class="form-control" value="{{ transaction.get_message() }}" />
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" onclick="search_incoming_invoices();">{% trans "Search" %}</button>
			</span>
		</div>
	</div>
</div>

<div class="search_incoming_invoice_results"></div>

</form>


<script type="text/javascript">
	$('#search_incoming_invoices').submit(function(event) {
		search_incoming_invoices();
		event.preventDefault();
	});
	function search_incoming_invoices() {
		url = '/financial/account/transaction?action=search_incoming_invoices&transaction_id={{ transaction.id }}&search=' + URI.encode($('#txt_search_incoming_invoices').val());

		$.ajax({url: url, success: function(result){
	   		$('.search_incoming_invoice_results').html(result);
	   		pager_ajax();

		}});
	}

	function pager_ajax() {
		$('.skeleton-pager-link, .skeleton-pager-header-link').click(function(event) {
			event.preventDefault();

			url = URI.parse($(this).attr('href'));
			result = URI.parseQuery(url.query);
			$('.search_incoming_invoice_results').load('/financial/account/transaction?action=search_incoming_invoices&transaction_id={{ transaction.id }}&q=' + URI.encode(result.q), function() {
				pager_ajax();
			});
		});
	}
</script>

{% endblock body %}
