{% extends "_default/modal.base.twig" %}
{% block header %}{% trans "Book incoming invoice" %}{% endblock header %}

{% block body %}

<h5>1. {% trans "Transaction information" %}</h5>
	<dl class="dl-horizontal">
		<dt>{% trans "Transaction amount" %}</dt>
		<dd>&euro;{{ transaction.amount }}</dd>

		<dt>{% trans "To/from" %}</dt>
		<dd>{{ transaction.other_account_name }}</dd>

		<dt>{% trans "Message" %}</dt>
		<dd>{{ transaction.message }}</dd>

		<dt>{% trans "Transaction Balance" %}</dt>
		<dd>&euro;{{ transaction.get_balance() }}</dd>

		<dt>{% trans "Date" %}</dt>
		<dd>{{ transaction.date|date }}</dd>
	</dl>

<hr />


<form action="{{ env.module.get_module_path() }}?action=edit&id={{ transaction.id }}" method="post" class="form-horizontal form-condensed" id="search_incoming_invoices">
<h5>2. {% trans "Search invoices" %}</h5>
	<div class="form-group">
		<label class="col-xs-3 control-label">{% trans "Search invoice" %}</label>
		<div class="col-xs-6">
			<div class="input-group">
				<input type="text" name="search" id="txt_search_incoming_invoices" class="form-control" value="{{ transaction.get_message() }}" />
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" onclick="search_incoming_invoices();">{% trans "Search" %}</button>
				</span>
			</div>
		</div>
	</div>

	<div class="incoming_invoice_search_results"></div>

<hr />
</form>

<form action="{{ env.module.get_module_path() }}?action=link_incoming_invoice" method="post" class="form-horizontal form-condensed" id="link_incoming_invoice">
<h5>3. {% trans "Confirm link" %}</h5>
	<input type="hidden" name="transaction_id" value="{{ transaction.id }}" />
	<input type="hidden" name="document_id" id="document_id" value="" />

	<div id="confirm_link_incoming_invoices">
		<div class="alert alert-info">{% trans "Please select an invoice in the search result" %}</div>
	</div>

</form>

<script type="text/x-handlebars-template" id="selected-incoming-invoice">
	<div class="alert alert-danger hide">
		{% trans "There is a problem with the amounts you have entered." %} {% trans "The total amount cannot exceed the amount of the transaction" %}.
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label">{% trans "Link with invoice" %}</label>
		<div class="col-xs-3">
			<div class="input-group">
				<span class="input-group-addon">&euro;</span>
				<input type="text" class="form-control" id="link_incoming_invoice_amount" style="width: 143px;" name="link_incoming_invoice_amount" value="">
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label">{% trans "Link with supplier" %}</label>
		<div class="col-xs-4">
			<div class="input-group">
				<span class="input-group-addon">&euro;</span>
				<input type="text" class="form-control" id="link_supplier_amount" style="width: 143px;" name="link_supplier_amount" value="">
				<span class="input-group-btn">
					<button class="btn btn-default" id="supplier_amount_0" type="button">€0</button>
					<button class="btn btn-default" id="supplier_amount_max" type="button">{% trans "Max" %}</button>
				</span>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-9 col-xs-offset-3">
			<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
		</div>
	</div>
</script>


<script type="text/javascript">
	$('#search_incoming_invoices').submit(function(event) {
		search_incoming_invoices();
		event.preventDefault();
	});

	$('#modal_incoming_invoice').on('shown.bs.modal', function () {
		search_incoming_invoices();
	});

	$('#link_incoming_invoice').submit(function(event) {
		invoice_amount = parseFloat($('#link_incoming_invoice_amount').val());
		supplier_amount = parseFloat($('#link_supplier_amount').val());

		if ({{ transaction.get_balance() }} > (invoice_amount*-1) + (supplier_amount*-1)) {
			$('#confirm_link_incoming_invoices .alert').removeClass('hide');
			event.preventDefault();
			return false;
		} else {
			$('#confirm_link_incoming_invoices .alert').addClass('hide');
			return true;
		}
	})

	function search_incoming_invoices() {
		url = '/financial/account/transaction?action=search_incoming_invoices&transaction_id={{ transaction.id }}&search=' + URI.encode($('#txt_search_incoming_invoices').val());
		$('.incoming_invoice_search_results').load(url, function() {
			pager_incoming_invoices_ajax();
		});
	}

	function pager_incoming_invoices_ajax() {
		$('.skeleton-pager-link, .skeleton-pager-header-link').click(function(event) {
			event.preventDefault();

			url = URI.parse($(this).attr('href'));
			result = URI.parseQuery(url.query);

			$('.incoming_invoice_search_results').load('/financial/account/transaction?action=search_incoming_invoices&transaction_id={{ transaction.id }}&q=' + URI.encode(result.q), function() {
				pager_incoming_invoices_ajax();
			});
		});
	}

	function table_incoming_invoices_tr_click(row) {
		var source = $("#selected-incoming-invoice").html();
		$('#confirm_link_incoming_invoices').html(source)
		transaction_amount = {{ transaction.get_balance() }};
		invoice_amount = row.data('amount');

		$('#document_id').val(row.data('id'));

		if (transaction_amount >= invoice_amount*-1 && transaction_amount < 0) {
			$('#confirm_link_incoming_invoices #link_incoming_invoice_amount').val(transaction_amount*-1);
			$('#confirm_link_incoming_invoices #link_supplier_amount').val(0);
		} else {
			$('#confirm_link_incoming_invoices #link_incoming_invoice_amount').val(invoice_amount);
			$('#confirm_link_incoming_invoices #link_supplier_amount').val( (Math.round( (invoice_amount+transaction_amount) * 100) / 100) * -1);
		}

		$('#supplier_amount_0').on('click', function() {
			$('#confirm_link_incoming_invoices #link_supplier_amount').val(0);
		})

		$('#supplier_amount_max').on('click', function() {
			$('#confirm_link_incoming_invoices #link_supplier_amount').val(0);
			transaction_amount = {{ transaction.get_balance() }};
			max_amount = (Math.round( (invoice_amount+transaction_amount) * 100) / 100) * -1;
			$('#confirm_link_incoming_invoices #link_supplier_amount').val(max_amount);
		})
	}
</script>

{% endblock body %}
