<form class="form-horizontal well form-condensed" action="{{ env.server.REQUEST_URI }}" method="post">
<fieldset>
	<legend>{% trans "Customer information" %} </legend>
	<div class="control-group">
		<label class="control-label" for="firstname" >{% trans "Firstname" %}</label>
		<div class="controls">
			<input type="text" id="firstname" placeholder="{% trans "Firstname" %}" name="customer[firstname]" value="{{ customer.firstname }}">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="lastname">{% trans "Lastname" %}</label>
		<div class="controls">
			<input type="text" id="lastname" placeholder="{% trans "Lastname" %}" name="customer[lastname]" value="{{ customer.lastname }}" >
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="company">{% trans "Company" %}</label>
		<div class="controls">
			<input type="text" id="company" placeholder="{% trans "Company" %}" name="customer[company]" value="{{ customer.company }}" >
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="phone">{% trans "Phone" %}</label>
		<div class="controls">
			<input type="text" id="phone" placeholder="{% trans "Phone" %}" name="customer[phone]" value="{{ customer.phone }}" >
		</div>
	</div>	


	<div class="control-group">
		<label class="control-label" for="fax">{% trans "Fax" %}</label>
		<div class="controls">
			<input type="text" name="customer[fax]" placeholder="{% trans "Fax" %}" id="fax" value="{{ customer.fax }}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="mobile">{% trans "Mobile" %}</label>
		<div class="controls">
			<input type="text" name="customer[mobile]" placeholder="{% trans "Mobile" %}" id="mobile" value="{{ customer.mobile }}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="street">{% trans "Street" %}</label>
		<div class="controls">
			<input type="text" name="customer[street]" placeholder="{% trans "Straat" %}" id="street" value="{{ customer.street }}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="housenumber">{% trans "Housenumber" %}</label>
		<div class="controls">
			<input type="text" name="customer[housenumber]" placeholder="{% trans "Housenumber" %}" id="housenumber" value="{{ customer.housenumber }}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="zipcode">{% trans "Zipcode" %}</label>
		<div class="controls">
			<input type="text" name="customer[zipcode]" placeholder="{% trans "Zipcode" %}" id="zipcode" value="{{ customer.zipcode }}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="city">{% trans "City" %}</label>
		<div class="controls">
			<input type="text" name="customer[city]" placeholder="{% trans "City" %}" id="city" value="{{ customer.city }}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="state">{% trans "State" %}</label>
		<div class="controls">
			<input type="text" name="customer[state]" placeholder="{% trans "State" %}" id="state" value="{{ customer.state }}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="country">{% trans "Country" %}</label>
		<div class="controls">
			<select name="customer[country_id]">
				{% for key, country_group in countries %} 
					<optgroup label="{{ key }}">			
					{% for country in country_group %} 
						<option value="{{ country.id }}" {% if country.id == customer.country_id %}selected{% endif %} >{{ country.name }}</option>
					{% endfor %} 
					</optgroup>
				{% endfor %} 
			</select>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="state">{% trans "VAT" %}</label>
		<div class="controls">
			<input type="text" name="customer[vat]" placeholder="{% trans "VAT" %}" id="vat" value="{{ customer.vat }}" />
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="email">{% trans "Email" %}</label>
		<div class="controls">
			<input type="text" id="email" placeholder="{% trans "Email" %}" name="customer[email]" value="{{ customer.email }}" data-validation-matches-match="email" >
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{% trans "Save" %} </button>
	</div>
</fieldset>
</form>
