<form class="form-horizontal well form-condensed" action="{{ env.server.REQUEST_URI }}" method="post" data-async="true">
<fieldset>
	<legend>{% trans "Tag information" %}</legend>
	<div class="control-group{% if errors.name %} error{% endif %}">
		<label class="control-label" for="name" >{% trans "Name" %}</label>
		<div class="controls">
			<input type="text" id="name" placeholder="{% trans "Name" %}" name="tag[name]" value="{{ tag.name }}">			
			{% if errors.name %}<span class="help-inline">{{ errors.name }}</span>{% endif %}
		</div>
	</div>

	<div class="control-group{% if errors.identifier %} error{% endif %}">
		<label class="control-label" for="identifier">{% trans "Identifier" %}</label>
		<div class="controls">
			<input type="text" id="identifier" placeholder="{% trans "Identifier" %}" name="tag[identifier]" value="{{ tag.identifier }}" >
			{% if errors.identifier %}<span class="help-inline">{{ errors.identifier }}</span>{% endif %}
		</div>
	</div>
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{% trans "Save" %} </button>
	</div>
</fieldset>
</form>