<form class="form-horizontal well form-condensed" action="{{ env.server.REQUEST_URI }}" method="post">
<fieldset>
	<legend>{% trans "User information" %}</legend>
	<div class="control-group">
		<label class="control-label" for="username" >{% trans "Username" %}</label>
		<div class="controls">
			<input type="text" id="username" placeholder="{% trans "Username" %}" name="user[username]" value="{{ user.username }}">
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="firstname" >{% trans "Firstname" %}</label>
		<div class="controls">
			<input type="text" id="firstname" placeholder="{% trans "Firstname" %}" name="user[firstname]" value="{{ user.firstname }}">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="lastname">{% trans "Lastname" %}</label>
		<div class="controls">
			<input type="text" id="lastname" placeholder="{% trans "Lastname" %}" name="user[lastname]" value="{{ user.lastname }}" >
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="email">{% trans "Email" %}</label>
		<div class="controls">
			<input type="text" id="email" placeholder="{% trans "Email" %}" name="user[email]" value="{{ user.email }}" >
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="password">{% trans "Password" %}</label>
		<div class="controls">
			<input type="password" id="phone" placeholder="{% trans "New password" %}" name="user[password]" value="" >
		</div>
	</div>	
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{% trans "Save" %} </button>
	</div>
</fieldset>
</form>

